var form = $('.login-form');
form.find('.loading').removeClass('loading');
<% if !@user %>      
    form.find('.login').append('<p class="error"><%= escape_javascript t('layouts.application.header.login_form.not_found') %></p>');
<% elsif !@authenticated %>
    form.find('.password').append('<p class="error"><%= escape_javascript t('layouts.application.header.login_form.wrong_password') %></p>');
<% else %>
    location.reload();
<% end %>
