.DS_Store
config/database.yml
db/schema.rb
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.rvmrc
public/javascripts/locales.js
public/javascripts/common.js
public/javascripts/all.js
public/stylesheets/all.css
db/development_structure.sql
public/system/**/*
tags
coverage/**