<p>مرحبا <%= @user.username %>,</p>

<p>لقد طلبت منك إعادة تعيين كلمة المرور من تجاوز.</p>

<p>انقر فوق هذا الارتباط أو لصقه في شريط الموقع الخاص بك واتبع التعليمات هناك.</p>

<p><%= link_to edit_password_url(@user.single_access_token), edit_password_url(@user.single_access_token) %></p>

<p>شكرا،<br/>
تجاوز</p>

