<p>مرحبًا <%= @user.username %>,</p>

<p>لقد طلبت استعادة كلمة المرور على موقع أهواء.</p>

<p>انقر فوق هذا الرابط أو الصقه في شريط عنوان وِب الخاص بك واتبع التعليمات المنصوصة هناك.</p>

<p><%= link_to edit_password_url(@user.single_access_token), edit_password_url(@user.single_access_token) %></p>

<p>شكرًا،<br/>
أهواء</p>

