<p>Hello <%= @user.username %>,</p>

<p>You've requested to reset your password from Transcend.</p>

<p>Click this link or paste it in your location bar and follow the instructions there.</p>

<p><%= link_to edit_password_url(@user.single_access_token), edit_password_url(@user.single_access_token) %></p>

<p>Thanks,<br/>
Transcend</p>

