<p>Hello <%= @user.username %>,</p>

<p>You've received a private message from <%= @sender.username %>, to read it go to <%= link_to "your profile page", user_url %>.</p>

<p>Thanks,<br />
  Transcend</p>

