<p>عزيزي <%= @user.username %>,</p>

<p>نوجه عناية سيادتكم وجود ردّ على <%= @reply.topic.title %> على موقع أهواء. للإطلاع عليه, إضغط <%= link_to "هنا", topic_url(@reply.topic) %>.</p>

<p><small>إذا كنت لا ترغب في استلام هذه التنبيهات من موقع أهواء في المستقبل، ألغِ اشتراكك<%= link_to 'بالضغط هنا', unsubscribe_subscription_url(@user.subscription_for(@reply.topic).hash_key) %>.</small></p>

<p>شكرًا،<br/>
فريق</p>
