<p>Dear <%= @user.username %>,</p>

<p>A user has just responded to your comment on <b><%= link_to @reply.topic.title, topic_url(@reply.topic) %> on Ahwaa!</b>. To read the response, click <b><%= link_to "here", topic_url(@reply.topic) %></b>.</p>

<p>Thanks,<br/>
Ahwaa</p>

<p><font color="#999999" size="1">Don't wish to receive these e-mails? Unsubscribe at any time <%= link_to 'here', unsubscribe_subscription_url(@user.subscription_for(@reply.topic).hash_key) %>.</font></p>
