<p>Hello <%= @user.username %>,</p>

<p>Welcome to the <strong><%= link_to "Transcend", root_url %></strong> community!</p>

<p>We've generated a temporary password for you, please don't forget to go and change it.</p>

<p>Your temporary password is: <strong><%= @user.password %></strong></p>

<p>Click <%= link_to "here to login!", root_url %></p>

<p>If you find Transcend valuable, please spread the word.</p>

<p>Thanks,<br/>
Transcend</p>

