<p>مرحبا <%= @user.username %>,</p>

<p>مرحبا بكم في المجتمع <%= link_to "تجاوز!", root_url %></p>

<p>قمنا إنشاء كلمة مرور مؤقتة بالنسبة لك ، من فضلك لا تنسى للذهاب وتغييره.</p>

<p>كلمة المرور المؤقتة هو : <%= @user.password %></p>

<p>انقر فوق <%= link_to "هنا لتسجيل الدخول!", root_url %></p>

<p>إذا كنت تجد تجاوز قيمة، يرجى نشر الكلمة.</p>

<p>شكرا،<br/>
تجاوز</p>

