<p>Hello <%= @user.username %>,</p>

<p>Welcome to the <strong><%= link_to "Ahwaa", root_url %></strong> community!</p>

<p>Your username: <strong><%= @user.username %></strong></p>

<p>Click <%= link_to "here to login!", root_url %></p>

<p>If you find Ahwaa valuable, please spread the word.</p>

<p>Thanks,<br/>
Ahwaa</p>

