<p>عزيزي  <%= @user.username %>,</p>

<p>لقد تم اختيارك للمشاركة في <%= link_to @topic.title, topic_url(@topic) %> الموضوع. ونحن نقدّر وقتك الذي سوف تأخذه لقراءة هذا الموضوع وتبادل أفكارك!</p>

<p><strong>لماذا تحتاج مشاركتي؟</strong><br/>
  بنيت تجاوز حول فكرة تقاسم قصصك، وأفكارك، بالإضافة لتقديم المشورة. كل مستخدم يسهم من وقته هنا، فإن يساعد المجتمع بأسره عبر تبادل الخبرات والقصص والانخراط مع الآخر.</p>

<p><strong>لماذا تحتاج لمشاركتي؟</strong><br/>
  ويمكن أن يكون بسبب مشاركة سابقة أو المعلومات المُتاحة عنك.</p>

<p>شكرًا،<br/>
  تجاوز فريق</p>

