<p>مرحبًا <%= @user.username %>,</p>

<p>ثمّة موضوع جديد على تجاوز الطلب.</p>

<p>عنوان الموضوع هو <strong>"<%= @topic_request.title %>"</strong></p>

<p>الرجاء إعادة النظر فيه والموافقة عليه حتى يظهر على الصفحة الرئيسية.</p>

<p>الذهاب إلى <%= link_to "مشاهدة جميع طلبات المواضيع", admin_topic_requests_url %>.</p>

<p>شكرًا،<br/>
  تجاوز</p>

