<p>Dear <%= @user.username %>,</p>

<p>You've been selected to participate in the <%= link_to @topic.title, topic_url(@topic) %> topic. We would greatly appreciate it if you would take a moment to read this topic and share your thoughts!</p>

<p><strong>Why do you need my participation?</strong><br/>
  Transcend is built around the idea of sharing your stories, ideas, and advice. Every time someone shares, the whole community gains from their experience.</p>

<p><strong>Why have I been selected?</strong><br/>
  It could be because of your previous participation or your profile information.</p>

<p>Thanks,<br/>
  The Transcend Team</p>

