<p>عزيزي  <%= @user.username %>,</p>

<p>لقد تم اختيارك للمشاركة في <%= link_to @topic.title, topic_url(@topic) %> الموضوع. ونحن نقدر أنه إذا كنت سوف تتخذ لحظة لقراءة هذا الموضوع وتبادل أفكارك!</p>

<p><strong>لماذا تحتاج مشاركتي؟</strong><br/>
  بنيت تجاوز حول فكرة تقاسم قصصك، والأفكار ، وتقديم المشورة. كل شخص أسهم الوقت، فإن المكاسب المجتمع بأسره من خبراتهم.</p>

<p><strong>لماذا تم اختيارها أنا؟</strong><br/>
  ويمكن أن يكون بسبب مشاركة سابقة او بيانات المعلومات الخاصة بك.</p>

<p>شكرا،<br/>
  تجاوز فريق</p>

