<table dir="rtl" width="620" align="center" border="0" cellspacing="0" cellpadding="0" style="display:block; width:620px; vertical-align:top; min-height:330px;">
  <tbody>
    <tr>
      <td valign="top">
        <div style="font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:17px; line-height:21px; text-decoration:none; color:#627583; padding-top:45px; padding-left:0; padding-right:0; padding-bottom:0;">
          Dear <span style="font-weight:bold;"><%= @user.username %></span>,
        </div>
        <div style="font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:17px; line-height:21px; text-decoration:none; color:#627583; padding-top:30px; padding-left:0; padding-right:0; padding-bottom:0;">
          ثمّة طلب موضوع جديد على موقع أهواء.
        </div>

        <div style="font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:17px; line-height:21px; text-decoration:none; color:#627583; padding-top:30px; padding-left:0; padding-right:0; padding-bottom:0;">
          عنوان الموضوع هو <strong>"<%= @topic_request.title %>"</strong>
        </div>

        <div style="font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:17px; line-height:21px; text-decoration:none; color:#627583; padding-top:30px; padding-left:0; padding-right:0; padding-bottom:0;">
          الرجاء إعادة النظر فيه والموافقة عليه حتى يظهر على الصفحة الرئيسية.
        </div>

        <div style="font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:17px; line-height:21px; text-decoration:none; color:#627583; padding-top:30px; padding-left:0; padding-right:0; padding-bottom:0;">
          الذهاب إلى <%= link_to "مشاهدة جميع طلبات المواضيع", admin_topic_requests_url, :style => "font-weight:bold; color:#3171b1; text-decoration:none;" %>.
        </div>

      </td>
    </tr>
  </tbody>
</table>
