<p>مرحبا <%= @user.username %>,</p>

<p>وثمة موضوع جديد على تجاوز الطلب.</p>

<p>عنوان الموضوع هو <strong>"<%= @topic_request.title %>"</strong></p>

<p>الرجاء اعادة النظر فيه والموافقة عليه حتى أنه يمكن أن يكون مرئية في الصفحة العامة.</p>

<p>الذهاب إلى <%= link_to "مشاهدة جميع الطلبات موضوع", admin_topic_requests_url %>.</p>

<p>شكرا،<br/>
  تجاوز</p>

