<% comments.each do |contextual_index, replies| %>
  <div class="comments" id="comments_<%= contextual_index %>">
    <ul class="comments-ls">
      <%= render replies %>
    </ul>
    <%= render :partial => "shared/new_response" %>
  </div>
<% end %>