<% comments.each do |contextual_index, replies| %>
  <div class="comments" id="comments_<%= contextual_index %>">
    <ul class="comments-ls">
      <%= render replies %>
    </ul>
    <div class="new-response response-wrapper">
      <div>
        <%= link_to t('.new_response'), '#' %>
      </div>
    </div>
  </div>
<% end %>
