<li>
  <%= link_to image_tag(related_content.thumbnail.url, :width => '50'), related_content.source_url, :target => "_blank", :class => "avatar" %>
  <%= link_to related_content.title, related_content.source_url,:target => "_blank" %></li>
</li>
