<% unless related_topics.blank? %>
  <section class="related-content border-all" data-hansel-component-id="related-content">
    <div>  
      <hr>      
      <h2 class="sec-title-med">
        <span><%= t('.title') %></span>
      </h2>
    </div>
    <div class="related-carrousel">
      <ul class="items">
        <%= render :partial => related_topics, :locals => {:leng => related_topics.length} %>
      </ul>
    </div>
    <div class="related-content-line"></div>
    <div class="view-more-wrapper">
      <% if related_topics.length > 4 %>
        <a href="#" class="view-more">
          <span><%= t('.view_more') %></span>
        </a>
      <% end %>
    </div>
    <br class="clear">
  </section>
<% end %>
