<% stylesheet 'tags' %>
<div class="aligned">
  <div class="items-wrapper">
    <section class="topics">
      <p class="order">Sort by: <a href=" " class="active">Newest</a> <a href=" ">Most responses</a></p>
      <ul class="items">
          <li>
            <div>              
              <a href="/admin" class="item-img"><img alt="No-image" src="/images/no-image.jpg?1289233813" width="43" /></a>
              <div class="item-data">
                <a href="/topics/1" class="dark-lk">This is a topic test</a>
                <div>            
                  <span>By <a href="/admin">admin</a></span>
                  <ul class="tags">
                    <li><a href="/tag/foo">foo</a></li>
                    <li><a href="/tag/bar">bar</a></li>
                    <li><a href="/tag/gay">gay</a></li>
                  </ul>                                                                         
                  <a href="/" class="responses">5 Responses</a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div>              
              <a href="/dr_expert" class="item-img"><img alt="No-image" src="/images/no-image.jpg?1289233813" width="43" /></a>
              <div class="item-data">
                <a href="/topics/2" class="dark-lk">My dad is gay</a>
                <div>            
                  <span>By <a href="/dr_expert">dr_expert</a></span>
                  <ul class="tags">
                      <li><a href="/tag/foo">foo</a></li>
                      <li><a href="/tag/bar">bar</a></li>
                      <li><a href="/tag/gay">gay</a></li>
                      <li><a href="/tag/lesbian">lesbian</a></li>
                      <li><a href="/tag/homo">homo</a></li>
                      <li><a href="/tag/test">test</a></li>
                      <li><a href="/tag/another%20tag">another tag</a></li>
                      <li><a href="/tag/dude">dude</a></li>
                  </ul>                                                                         
                  <a href="/" class="responses">0 Responses</a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div>              
              <a href="/dariomunozgonzalez" class="item-img"><img alt="No-image" src="/images/no-image.jpg?1289233813" width="43" /></a>
              <div class="item-data">
                <a href="/topics/3" class="dark-lk">Bob is a great support</a>
                <div>            
                  <span>By <a href="/dariomunozgonzalez">dariomunozgonzalez</a></span>
                  <ul class="tags">
                      <li><a href="/tag/foo">foo</a></li>
                      <li><a href="/tag/bar">bar</a></li>
                      <li><a href="/tag/gay">gay</a></li>
                      <li><a href="/tag/lesbian">lesbian</a></li>
                      <li><a href="/tag/homo">homo</a></li>

                      <li><a href="/tag/test">test</a></li>
                      <li><a href="/tag/another%20tag">another tag</a></li>
                      <li><a href="/tag/dude">dude</a></li>
                  </ul>                                                                         
                  <a href="/" class="responses">0 Responses</a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div>              
              <a href="/dr_expert" class="item-img"><img alt="No-image" src="/images/no-image.jpg?1289233813" width="43" /></a>
              <div class="item-data">
                <a href="/topics/4" class="dark-lk">My Brother is teasing me</a>
                <div>            
                  <span>By <a href="/dr_expert">dr_expert</a></span>
                  <ul class="tags">
                    <li><a href="/tag/foo">foo</a></li>
                    <li><a href="/tag/bar">bar</a></li>
                    <li><a href="/tag/gay">gay</a></li>
                    <li><a href="/tag/lesbian">lesbian</a></li>
                    <li><a href="/tag/homo">homo</a></li>
                    <li><a href="/tag/test">test</a></li>
                    <li><a href="/tag/another%20tag">another tag</a></li>
                    <li><a href="/tag/dude">dude</a></li>
                  </ul>                                                                         
                  <a href="/" class="responses">0 Responses</a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div>              
              <a href="/dr_expert" class="item-img"><img alt="No-image" src="/images/no-image.jpg?1289233813" width="43" /></a>
              <div class="item-data">
                <a href="/topics/5" class="dark-lk">My Brother is teasing me</a>
                <div>            
                  <span>By <a href="/dr_expert">dr_expert</a></span>
                  <ul class="tags">
                      <li><a href="/tag/foo">foo</a></li>
                      <li><a href="/tag/bar">bar</a></li>
                      <li><a href="/tag/gay">gay</a></li>
                      <li><a href="/tag/lesbian">lesbian</a></li>
                      <li><a href="/tag/homo">homo</a></li>
                      <li><a href="/tag/test">test</a></li>
                      <li><a href="/tag/another%20tag">another tag</a></li>
                      <li><a href="/tag/dude">dude</a></li>
                  </ul>                                                                         
                  <a href="/" class="responses">0 Responses</a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div>              
              <a href="/dariomunozgonzalez" class="item-img"><img alt="No-image" src="/images/no-image.jpg?1289233813" width="43" /></a>
              <div class="item-data">
                <a href="/topics/3" class="dark-lk">Bob is a great support</a>
                <div>            
                  <span>By <a href="/dariomunozgonzalez">dariomunozgonzalez</a></span>
                  <ul class="tags">
                      <li><a href="/tag/foo">foo</a></li>
                      <li><a href="/tag/bar">bar</a></li>
                      <li><a href="/tag/gay">gay</a></li>
                      <li><a href="/tag/lesbian">lesbian</a></li>
                      <li><a href="/tag/homo">homo</a></li>

                      <li><a href="/tag/test">test</a></li>
                      <li><a href="/tag/another%20tag">another tag</a></li>
                      <li><a href="/tag/dude">dude</a></li>
                  </ul>                                                                         
                  <a href="/" class="responses">0 Responses</a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="bottom">              
              <a href="/dr_expert" class="item-img"><img alt="No-image" src="/images/no-image.jpg?1289233813" width="43" /></a>
              <div class="item-data">
                <a href="/topics/4" class="dark-lk">My Brother is teasing me</a>
                <div>            
                  <span>By <a href="/dr_expert">dr_expert</a></span>
                  <ul class="tags">
                      <li><a href="/tag/foo">foo</a></li>
                      <li><a href="/tag/bar">bar</a></li>
                      <li><a href="/tag/gay">gay</a></li>
                      <li><a href="/tag/lesbian">lesbian</a></li>
                      <li><a href="/tag/homo">homo</a></li>
                      <li><a href="/tag/test">test</a></li>
                      <li><a href="/tag/another%20tag">another tag</a></li>
                      <li><a href="/tag/dude">dude</a></li>
                  </ul>                                                                         
                  <a href="/" class="responses">0 Responses</a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="bottom">              
              <a href="/dr_expert" class="item-img"><img alt="No-image" src="/images/no-image.jpg?1289233813" width="43" /></a>
              <div class="item-data">
                <a href="/topics/5" class="dark-lk">My Brother is teasing me</a>
                <div>            
                  <span>By <a href="/dr_expert">dr_expert</a></span>
                  <ul class="tags">
                      <li><a href="/tag/foo">foo</a></li>
                      <li><a href="/tag/bar">bar</a></li>
                      <li><a href="/tag/gay">gay</a></li>
                      <li><a href="/tag/lesbian">lesbian</a></li>
                      <li><a href="/tag/homo">homo</a></li>
                      <li><a href="/tag/test">test</a></li>
                      <li><a href="/tag/another%20tag">another tag</a></li>
                      <li><a href="/tag/dude">dude</a></li>
                  </ul>                                                                         
                  <a href="/" class="responses">0 Responses</a>
                </div>
              </div>
            </div>  
          </li>
      </ul>
    </section>
  </div>
</div>