<% stylesheet 'tags' %>
<div class="aligned">
  <div class="items-wrapper">
    <section class="topics">
    <p class="order">
      <%= t '.sort_by.label' %>
      <%= link_to t('.sort_by.newest'), nil, :class => active_class %>
      <%= link_to t('.sort_by.responses'), {:by_responses => 1}, :class => active_class(true) %>
    </p>
    <ul class="items">
      <%= render @topics %>
    </ul>
    </section>
  </div>
</div>
