@import "compass";

.admin{background-color: #ffffff; padding: 40px;}

.container {
  padding-top: 140px;
}
.page-wrapper {
  overflow: auto;
}

table th{background-color: #f2f9fc; margin: 0; text-align: left; border-style: solid; border-width: 1px 0; border-color: #e9f0f3;}
table th,
table td{padding: 5px 10px;}
.border-left{border-left: 1px solid #e9f0f3;}
.border-right{border-right: 1px solid #e9f0f3;}
.created_at{width: 80px; text-align: center;}
.requested_at{width: 83px; text-align: center;}
.updated_at{width: 80px;}
.edit{width: 40px; text-align: center;}
.delete{width: 40px; text-align: center;}
.requests-title{width: 400px;}
.requests-actions{width: 136px;}
.requests-votes{width: 35px; text-align: center;}
.related_content{width: 102px; text-align: center;}
.profile_matches{width: 100px; text-align: center;}
.flag_count{width: 70px; text-align: center;}
.adm-title{overflow: hidden;}
.adm-title > h1{float: left;}
.adm-title > a{float: right;}


/*Related Content*/
.related-content > li{margin-bottom: 10px; padding:5px; overflow:hidden; }
.related-content > li > a{float:left; padding:3px; border: 1px solid #ccc; border-width: 1px; border-style: solid; border-color: #a8a8a8 #d8d8d8 #d8d8d8 #a8a8a8; @include border-radius(5px); background: #fbfbfb; outline: none; @include box-shadow(inset 0px 0px 3px #efefef); width:50px; height: 50px;}
.related-content-details > div{padding-bottom: 2px;}
.related-content-details{float: left; margin-left: 10px; width: 802px;}

/* Possible Thumbnails */
.possible-thumbnails {overflow: hidden; background-color: #FBFBFB; height: 400px; margin-bottom: 20px; padding: 5px 10px;}
.possible-thumbnails > .arrow{width: 23px; height: 100%; background-repeat: no-repeat;}
.possible-thumbnails > .arrow.back{float: left; background-image: url('../images/arrow-left.png'); background-position: 0 50%;}
.possible-thumbnails > .arrow.back.active{background-image: url('../images/arrow-left-active.png');}
.possible-thumbnails > .arrow.next{float: right; background-image: url('../images/arrow-right.png'); background-position: right 50%;}
.possible-thumbnails > .arrow.next.active{ background-image: url('../images/arrow-right-active.png');}
.pt-wrapper{width: 814px; float: left; height: 100%; overflow: hidden; position: relative;}
.pt{float: left; position: absolute; width: 2000px; height: 100%; left: 0; top: 0;}
.pt > li{ margin-bottom: 10px; padding:5px; overflow:hidden; float: left;}
.pt > li > a > img{float:left; padding:3px; border: 1px solid #ccc; border-width: 1px; border-style: solid; border-color: #a8a8a8 #d8d8d8 #d8d8d8 #a8a8a8; @include border-radius(5px); background: #fbfbfb; outline: none; @include box-shadow(inset 0px 0px 3px #efefef); width:50px; height: 50px;}
.pt > li > div{text-align: center;}

.radio-wrapper{margin-bottom: 15px}

/*Users*/
.is_expert{width: 56px;}
.actions{width: 80px;}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
textarea{border-width: 1px; border-style: solid; border-color: #a8a8a8 #d8d8d8 #d8d8d8 #a8a8a8; @include border-radius(5px); background-color: #fbfbfb; outline: none; @include box-shadow(inset 0px 0px 3px #efefef);}

input.error[type=text],
input.error[type=password],
input.error[type=email],
textarea.error{background-color: #fbfbfb;}

input[type=text],
input[type=password],
input[type=url],
input[type=email]{height: 30px; width: 400px; padding: 0 5px;}

textarea{height: 400px; width: 798px; padding: 5px;}

select{width: 206px;}

/*input:focus:invalid, textarea:focus:invalid{background-color:#fbe2e5;}*/

form > p > label{display: block;}
form > #related_content_form_fields > p > label{display: block;}
input[type=checkbox] + label{display: inline;}
h1{padding-bottom: 10px;}
.new_topic p{padding-bottom: 10px; position: relative;}

.flash{padding: 10px 10px 10px 30px; margin-bottom: 15px;
    &.notice{background: #ebffee url('../images/check-mark.png') no-repeat 10px 10px; color: #6fa677; border: 1px solid #a3c9a9;}
    &.error{background: #fbe2e5 url('../images/error-mark.png') no-repeat 10px 12px; color: #D93E3E; border: 1px solid #E79090;}
}
.flash.error > h2{font-size: 14px; font-weight: normal; margin-bottom: 10px;}
.field{margin-bottom: 20px;
    > label{margin-bottom: 3px;}
}

ul.holder .bit-box + .bit-input{width: 100%; margin-top: 10px;}
