.flash > div > div {
    background-position: 0% 50%;
}

/* Header */
.homepage > .links > div {padding-top: 15px !important}
.lan {font-size: 12px; color: #4382c0; text-shadow: 0 1px 0 rgba(255, 255, 255, .3)}
.homepage .lan {font-size: 14px}

.topic > .links > div{padding-top: 4px;}
.homepage > .links > div{padding-top: 8px;}

.sign-up {width: 300px}
.auth-wrapper > #sign-up > span {padding: 2px 8px 0; height: 22px}

#pm-wrapper .back-to-msgs .arrow{border-color: transparent transparent transparent #A7C7E3; border-width: 4px 0 4px 4px; margin: 2px 0 0 8px;}

.placeimg{background-image: url('../images/pass_placeholder_ar.png');}

.request-error {left: -85px}
.sign-up-or-continue > div {font-size: 13px}

/* BANNER */
.banner {
  .slogan {
    h1 {max-width: 168px; height: 96px;
      background: url('../images/home/banner-logo-ar.png') no-repeat 50% 0px;
    }
  }
}

.items-wrapper > .topics > h2 > .line {width: 157px !important}
.items-wrapper > .feeds > h2 > .line {width: 172px !important}
.items-wrapper > section > h2 > .line {margin-top: 11px !important}
.social-bookmarkers > .btn-twitter {margin-right: 5px !important; margin-left: 0 !important}
.social-bookmarkers > .btn-facebook {border-right-width: 0}
.user-logged-info .activity-btns li:first-child {border-right-width: 1px !important}
.user-logged-info .activity-btns li:last-child {border-right-width: 0 !important}
.article-wrapper .article-tags {width: 205px}
.user-wrapper .view-profile,
.user-wrapper .send-private-msg {right: inherit}
.view-more-wrapper > .view-more > span {background: url("../../images/view-more-bg.jpg") no-repeat scroll 0 3px transparent !important}
.private-msg {left: -25px; right: inherit}
.private-msg .origin {left: 40px; right: inherit}
.private-msg.send-from-stream .origin {right: 40px}

.social-bookmarkers > iframe {margin-left: 0 !important; width: 65px !important}
.follow-topic-wrapper {margin-right: 5px}

.panel-sub-nav .sub-nav a.stream > .icon {background-position: 0 0}

.header-title-bg {height: 32px; padding: 6px 20px 0}
.stream-wrapper .filter div.selector {margin-top: 0 !important}
.back-to-msgs {margin-top: 0}

/* topics */
#font-size-controls .increase {
    border-right-width: 1px !important;
    border-left-width: 0 !important;
    span {
        background-position: 0 0 !important;
    }
}

/* UNIFORM */
div.checker span {background-position: 0px -260px;}
div.selector span {padding: 0 25px 0 2px !important; text-align: right}
div.selector select {left: 0; right: inherit}

.gloabl-counter > div > ul > li {float: left !important}

.feature-wrapper h2 {font-size: 16px !important}
.hall-header {
    left: 0;
    right: auto;
    > h4 > span {font-weight: bold; right: 30px !important}
}
.honor-member-info > span {font-size: 12px !important}


/* chat */
.room-chat-list {
  right: 15px;
}
.chat-wrapper--widget {
    left: 0;
    right: 310px;
}
.chat-widget {
    right: 0;
}
.notification-badge {
    left: 5px;
    right: auto;
    &.circle {
        left: auto;
        right: 5px;
    }
}

.chat-wrapper--widget[data-pageslide=open] {
    right: -866px;
}
.room-chat-list[data-pageslide=open] {
    right: -571px;
}

/* tooltip */
.effekt-tooltip[data-position="top"]:after,
.effekt-tooltip[data-position="bottom"]:after {
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
}

/* icons */
.chat-icon--user {
    background-position: 0 0;
}
.chat-icon--close-header {
    background-position: 0 -24px;
    &:hover {
        background-position: 0 -36px;
    }
}
