@import "compass", "mixins";

$bg-color: #d5e6f2;
$links-color: #2d70b3;
$subtle-blue: #eff5f9;

html {
  height: 100%;
  -webkit-text-size-adjust: none; /* prevent font scaling in landscape */
  &.no-overflow,
  &.no-overflow body {
    overflow: hidden !important;
  }
}
body {
  padding: 0; font-size: 13px;
  color: #61656a; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;
  background-color: $bg-color;
  background-image: url('../images/noise.png');
  background-repeat: repeat;
  height: 100%;
  > div {background: url("../images/bg-topic-detail.jpg") repeat-x fixed 0 119px transparent}
}

h1 {font-size: 24px; line-height: 32px}

h1,
h2 {color: #393c3f}

.sec-title,
.sec-title-med,
.h2 {font-size: 16px; color: #393c3f; font-weight: normal; padding-bottom: 10px}

h3,
.regular {font-size: 13px; color: #61656a}

body .hidden {display: none}
.page-wrapper {height: 100%; min-height: 100%; overflow: hidden}
.page-wrapper > header {background-color:#f7fafc; position: fixed; width: 100%; z-index: 1000;
  @include box-shadow(0 0 3px rgba(0, 0, 0, .6));
}

.info-page {background-color: #fff; padding: 40px;
  > section {margin-bottom: 30px;
    > p {line-height: 22px; margin-bottom: 10px}
  }
  > h1 {margin-bottom: 30px}
}

.aligned {width: 940px; padding: 0 10px; margin: 0 auto}
a {color: $links-color; outline: none}
input:active,
a:active {outline: none}
button::-moz-focus-inner,
input::-moz-focus-inner,
a::-moz-focus-inner {border: 0; outline: 0}
.dark-lk {color: #364759}
em {font-style: normal}
input[type=text],
input[type=password],
input[type=email],
textarea {border-style: solid; border-width: 1px; border-color: #a7adb0 #d9e2e6 #e1eaee #d9e2e6; cursor: text; font-size:13px}

.container {max-width: 940px}

.mobile-menu-wrapper {
  position: relative;
  margin-top: 21px;
  float: left;
  @include breakpoint(tablet-portrait) {
     margin: 20px 0 0 15px;
  }
  @include breakpoint(phone) {
    margin-top: 11px;
  }
}

.mobile-menu-toggler {
  cursor: pointer;
  padding: 5px 10px;
  height: 30px;
  @include border-radius(1px);
  .line-bar {
    pointer-events: none;
    display: block;
    width: 15px;
    height: 2px;
    background: #a6b9ce;
    @include border-radius(1px);
    @include box-shadow(inset 0 -1px 0 transparentize(#8699ae, .5), 0 1px 0 rgba(255,255,255,.5));
    margin: 0 0 3px 0;
    border: none;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 35px;
  left: 1px;
  z-index: 1000;
  min-width: 150px;
  background-color: $subtle-blue;
  @include border-radius(2px);
  .menu {
    @include border-radius(2px);
    border: 1px solid darken($subtle-blue, 20);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
    li {
      text-align: left;
      border-bottom: 1px solid darken($subtle-blue, 20);
      border-top: 1px solid rgba(255, 255, 255, 1);
      &:first-child {@include border-radius(3px 3px 0 0);}
      &:last-child {
        @include border-radius(0 0 3px 3px);
        border-bottom: none;
      }
      &.menu-label {
        min-height: 1px;
        background-color: transparentize(darken($subtle-blue, 50), .9);
        color: darken($subtle-blue, 40);
        text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
        > span {
          display: inline-block;
          vertical-align: top;
          padding: 7px 5px 0 15px;
          font-size: 10px;
          text-transform: uppercase;
          font-weight: bold;
        }
        > p {
          display: inline-block;
          vertical-align: top;
          padding: 3px 0 5px;
          font-size: 11px;
          font-weight: bold;
          .points {
            line-height: 18px;
            padding-left: 5px;
          }
        }
      }
      &.menu-taglist {display: none}
      a {
        display: block;
        padding: 10px 15px;
        font-size: 12px;
        color: $links-color;
        &:hover {
          text-decoration: none;
          background-color: darken($subtle-blue, 2);
        }
      }
    }
  }

  @include breakpoint(phone) {
    .menu {
      li.menu-taglist {display: block}
    }
  }
}

.mobile-button {
  @include background-image(linear-gradient(top, #fafcfd, #ecf4f9));
  border-width: 1px;
  border-style: solid;
  border-color: #cfdae6 #c8d4e1 #a0b0c0 #c8d4e1;
  outline: none;
  @include border-radius(2px);
  &:hover {
    background-color: #ecf4f9;
    @include background-image(linear-gradient(top, #ecf7fd, #ffffff));
  }
  &:active,
  &.active {
    background-color: transparentize(#c8d4e1, .4);
    background-image: none;
    border-color: #a0b0c0 #c8d4e1 #cfdae6;
  }
}

.menu-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.close-mobile-menu-wrapper {
  display: none;
  text-align: right;
  .js-close-mobile-menu {
  }
  @include breakpoint(tablet-portrait) {
    display: block;
  }
  @include breakpoint(tablet-landscape-desktop) {
    display: block;
  }
}

.points-wrapper-small > span {border-width: 0}
.light-button,
.user-logged-info .points-wrapper-small {border: 1px solid; border-color: #cfdae6 #c8d4e1 #a0b0c0 #c8d4e1;
  @include background-image(linear-gradient(top, #fafcfd, #ecf4f9));
  @include box-shadow(inset 0 0 0 1px rgba(255, 255, 255, 1));
}
.light-button > span {
  display: inline-block;
  border: 1px solid;
  border-color: #fefefe #fcfdfe #fafdfc;
  text-align: center;
  font-weight: bold;
  background-color: #fafcfd;
  @include background-image(linear-gradient(top, #fafcfd, #ecf4f9));
  @include box-shadow(inset 0 0 1px rgba(255, 255, 255, 1));
}
.light-button:hover,
.light-button > span:hover {text-decoration: none; background-color: #ecf4f9;
  @include background-image(linear-gradient(top, #ecf7fd, #fff));
}
.light-button:active {border-color: #a0b0c0 #c8d4e1 #cfdae6}
.light-button > span:active {border-color: #a0b0c0 #c8d4e1 transparent; background-image: none; background-color: #eaf7fd}

.light-btn-input {clear: left; border: 1px solid; border-color: #cfdae6 #c8d4e1 #a0b0c0 #c8d4e1; text-align: center; font-weight: bold; height: 24px; font-family: Arial; font-size: 12px; color: #2D70B3; text-shadow: 0 1px 0 #fff; background-color: #fafcfd;
    @include background-image(linear-gradient(top, #fafcfd, #ecf4f9));
    @include box-shadow(inset 0 0 1px rgba(255, 255, 255, .75));
    @include border-radius(3px);
}
.light-btn-input:hover {cursor: pointer; background-color: #ecf4f9;
  @include background-image(linear-gradient(top, #ecf4f9, #fafcfd));
}
.light-btn-input:active {border-color: #a0b0c0 #c8d4e1 #cfdae6;
  @include background-image(linear-gradient(top, #eaf7fd, #f9fdfe));
}

.clean-button {border: 1px solid; border-color: #cfdae6 #c8d4e1 #8fa1b3}
.clean-button > span {border: 1px solid; border-color: #fefefe #fcfdfe #fafdfc; text-align: center; font-weight: bold; color: #757575;
  background-color: #fafcfd;
  @include background-image(linear-gradient(top, #fcfdfd, #f5f7f9));
  @include box-shadow(inset 0 0 1px rgba(255, 255, 255, .75));
}
.clean-button:hover,
.clean-button > span:hover {text-decoration: none;
  background-color: #ecf4f9;
  @include background-image(linear-gradient(top, #ecf4f9, #fafcfd));
}
.clean-button:active {border-color: #8fa1b3 #c8d4e1 #cfdae6}
.clean-button > span:active {background-color: #f5f7f9; color: #999}

.secondary-button {border: 1px solid; border-color: #D2E3EC #CDDFE9 #A0BFD1; background-color: #cf7Ffd; font-weight: bold; text-shadow: 0 1px 0 #fff;
  @include background-image(linear-gradient(top, #f6f9fc, #deeaf6));
  @include box-shadow(inset 0 0 0 1px #fff);
}
.secondary-button:hover {text-decoration: none;
  @include background-image(linear-gradient(top, #ecf7fd, #fff));
}
.secondary-button:active {
  border-color: #a6b8c5 #dde6ec #dae4eb;
  background: #eaf7fd url("../images/bg-hide.png") repeat-x scroll 0 0
}

.btn-animation-feedback,
.btn-animation-feedback:hover {border: 1px solid; border-color: $links-color #2a6bae #174a93; background-color: $links-color; text-shadow: none; color: #fff;
  @include background-image(linear-gradient(top, #67a6d4, #0c3884));
  @include box-shadow(inset 0 0 0 1px rgba(255, 255, 255, .3));
}

input.error[type=text],
input.error[type=password],
input.error[type=email],
textarea.error{border-color:#D93E3E; background-color: #ffffff; background-image: url('../images/cross-error.png'); background-repeat: no-repeat; background-position: 100% 0; cursor:pointer;}
textarea.error{background: none;}
form > p > label{display: block;}
input[type=checkbox] + label{display: inline;}
input:focus:invalid, #twitter textarea:focus:invalid{border: 1px solid #e79090;}
.rainbow{background: url('../images/rainbow.jpg') repeat-x; height: 3px;
  @include breakpoint(phone) {
    display: none;
  }
}
.gray {height: 6px;
  @include breakpoint(phone) {
    display: none;
  }
}
.light {background-color: #b5cde5;
  @include background-image(linear-gradient(top, #b2cae3, #bdd3e8));
}
.dark{background-color: #b5cde5;
  @include background-image(linear-gradient(top, #b2cae3, #bdd3e8));
  @include box-shadow(0 1px 0 #fff);
}
.placeholder{color:#bbb}
.logo-wrapper {
  @include background-image(linear-gradient(top, #fbfcfd, #eff5f9));
}
.logo-wrapper.light {border-top: 1px solid #97a9ba}
.logo-wrapper.dark {border-top: 1px solid #aabac9;}
.header-wrapper {
  background-color: #ffffff; border-top: 1px solid #c3d2d9; height: 39px;
  @include background-image(linear-gradient(top, #ffffff, #f0f0f0));
  @include box-shadow(inset 0 3px 0 #f7f7f7);

  @include breakpoint(large-desktop) {
    .close-mobile-menu-wrapper {
      display: none;
    }
  }
  @include breakpoint(tablet-landscape-desktop) {
    .close-mobile-menu-wrapper {
      display: none;
    }
  }
  @include breakpoint(tablet-portrait) {
    .close-mobile-menu-wrapper {
      display: none;
    }
  }
  @include breakpoint(phone) {
    &.show-on-mobile {
      display: block;
    }
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    .header-tags {
      overflow: auto !important;
    }
    .close-mobile-menu-wrapper {
      display: block;
      border-bottom: 1px solid #e0e9ee;
    }
    .js-close-mobile-menu {
      display: block;
      padding: 10px 15px;
    }
  }
}

.header-tags {height: 100%; position: relative; overflow: hidden;
  ul {border-left: 1px solid #e0e9ee; float: left; height: 100%;
    li {float: left; height: 100%; border-right: 1px solid #e0e9ee;
      a {text-transform: capitalize; padding: 0 20px; height: 100%; line-height: 3; float: left; font-weight: bold; text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
        &:hover {background-color: #F6F9FC}
      }
      &.hide {
        visibility: hidden;
        position: absolute;
        display: block;
      }
    }
  }

  .more {position:relative;
    > a{padding: 0 16px 0 20px; text-decoration:none; outline:0 none;
      &:hover {border-bottom: 1px solid #EAEEF0;
        span {background-position: 100% -19px}
      }
      span{background-image: url('../images/more.png'); background-repeat: no-repeat; background-position: 100% 6px; padding-right: 12px;}
    }
    &:hover {background-color:#f6f9fc; border-right-color:#dfe1ed}

    li {
      &.hide {
        visibility: hidden;
        position: absolute;
        display: block;
      }
    }
  }

  @include breakpoint(phone) {
    border-top: none;
    ul {
      float: none;
      border-left: none;
      li {
        float: none;
        border: none;
        border-top: 1px solid #e0e9ee;
        height: 40px;
        &.hide {
          visibility: visible;
          position: relative;
          display: block;
        }
        a {
          display: block;
          width: 100%;
          float: none;
          @include box-sizing(border-box);
        }
      }
    }
    .more {display: none}
  }
}

.more-tags {
  min-width: 130px; background-color: #f6f9fc; position: absolute; top: 39px; display: none; left: 0; z-index: -1;
  @include box-shadow(0px 1px 2px rgba(42, 83, 110, .6));
  > .scroller { overflow:hidden; }
  ul > li {
    height: 36px;
    width: 100%;
    border-bottom: 1px solid #e0e9ee;
    line-height: 3;
    font-weight:bold;
    white-space:nowrap;
  }
  ul > li:last-child{border-bottom: none;}
  ul > li > a {display: block; float: none}
  > .arrow {text-align:center; background-color:#fff; display: block; position: relative; overflow: hidden; text-decoration:none; padding: 6px 0;
    > div {position: relative; left: 50%; float: left;
      > div{position: relative; left: -50%; float: left; border-style: solid; height: 0; width: 0}
    }
  }
  > .scroll-up {border-bottom: 1px solid #eaeef0;}
  > .scroll-down {border-top: 1px solid #eaeef0;}
}

.header-top{height: 71px; text-align: center; position: relative; margin-top: -1px;
  @include breakpoint(phone) {
    height: 50px;
  }
}
.topic{background: url('../images/ahwaa-logo.png') no-repeat center 0;
  @include breakpoint(phone){background: none}
  @include breakpoint(tablet-portrait){background: none}
  @include breakpoint(tablet-landscape-desktop){background: none}
}
.homepage{background: url('../images/homepage.png') no-repeat center 0;
  @include breakpoint(phone) {background: none}
  @include breakpoint(tablet-portrait){background: none}
  @include breakpoint(tablet-landscape-desktop){background: none}
}
.clear{clear:both!important; float:none!important;}

// lang switcher
.links{width: 237px; height: 54px; left: 350px; position: absolute; top: 0;  text-align: center;
  @include breakpoint(phone){display: none}
  @include breakpoint(tablet-portrait){display: none}
  @include breakpoint(tablet-landscape-desktop){display: none}
}
.header-top > .links > .logo-link > a:hover {text-decoration: none}
.topic > .links > div{height: 18px; padding-top: 2px;}
.homepage > .links > div{padding-top: 12px}

.lgbt{font-size: 24px; font-family: 'GothamBoldRegular'; text-indent: -9999em; float: left; width: 100%; height: 30px; outline:0; border:0;}
.homepage .lan {font-size: 19px}
.lan {font-size: 14px; color: #4382c0; text-shadow: 0 1px 0 rgba(255, 255, 255, .3)}

.sign-up {float: left; text-align: left; width: 240px;}
.header-top .sign-up {margin-top: 21px;
  @include breakpoint(tablet-landscape-desktop) {
    width: 0; height: 0; margin: 0; padding: 0;
  }
  @include breakpoint(tablet-portrait) {
    width: 0; height: 0; margin: 0; padding: 0;
  }
}
.auth-wrapper{height: 28px; float: left; width: 92px; position: relative;}
#sign-up:hover + .tooltip-wrapper {display: block}
.auth-wrapper:first-child{margin-right: 2px;}
.sign-up-lk {border: 1px solid #4785bf; line-height: 2; float: left;}
.auth-wrapper > .sign-up-lk{text-decoration: none; line-height: inherit}
.auth-wrapper > a {position: absolute; z-index: 1000; left: 0; height: 26px; text-align: center; overflow: hidden;}

.auth-wrapper > a.auth-form-active{height: 31px; text-decoration: none; border: none; left: -3px; padding: 1px 3px 0 3px;}

.auth-wrapper > #sign-up > span {float: left; /*width: 72px;*/ padding: 5px 8px 0; border: 1px solid; border-color: #c1ddf3 #71a8dd #507cc4 #649bd6; height: 19px; white-space: nowrap;}
.sign-up-btn{font-size: 16px; color: #ffffff; text-align: center;
  background-color: #297acc;
  @include background-image(linear-gradient(top, #53a0dd, #124eaf));
}

.sign-up-btn:hover{
  background-color: #2259A5;
  @include background-image(linear-gradient(top, #3887C7, #2259A5));
}

.auth-wrapper > #login {text-decoration: none}
.auth-wrapper > #login > span {float: left; padding: 5px 8px 0; height: 19px; font-weight: bold; font-size: 13px; color: #297acc; text-align: center}
/*
#login{line-height: 2.8;}
#login span{padding:1px 0 0 1px;}
#login.auth-form-active span{padding:0;}*/
.header-top .sign-up .auth-form-active {outline:0 none}
.over-form.auth-form-active {
  outline: 0 none;
  overflow: auto;

  @include breakpoint(tablet-landscape-desktop) {
    top: 81px !important;
    position: fixed;
    left: 0 !important;
    width: 100%;
    height: 100%;
    border-radius: 0;
    @include box-sizing(border-box);
    li {float: none}
    input[type="text"], input[type="email"], input[type="password"] {
      width: 100%;
      @include box-sizing(border-box);
    }
  }

  @include breakpoint(tablet-portrait) {
    top: 81px !important;
    position: fixed;
    left: 0 !important;
    width: 100%;
    height: 100%;
    border-radius: 0;
    @include box-sizing(border-box);
    li {float: none}
    input[type="text"], input[type="email"], input[type="password"] {
      width: 100%;
      @include box-sizing(border-box);
    }
  }

  @include breakpoint(phone) {
    top: 0px !important;
    position: fixed;
    left: 0 !important;
    width: 100%;
    height: 100%;
    border-radius: 0;
    @include box-sizing(border-box);
    li {float: none}
    input[type="text"], input[type="email"], input[type="password"] {
      width: 100%;
      @include box-sizing(border-box);
    }
  }

}

.auth-wrapper #sign-up.auth-form-active > span,
.auth-wrapper #sign-up.auth-form-active > span:hover {height: 25px; background: #f6f9fb; color: #66a8d6; border-style: none; border-color: transparent; padding: 6px 9px 0;
  @include border-radius(5px 5px 0 0);
  @include box-shadow(0 1px 3px rgba(42, 83, 110, .6));
}

.sign-up > .auth-form-active:first-child{
  @include border-radius(0);
}
.auth-wrapper #login.auth-form-active > span,
.auth-wrapper #login.auth-form-active > span:hover {height: 25px; background: #f6f9fb; color: #66a8d6; border-style: none; border-color: transparent; padding: 6px 10px 0;
  @include border-radius(5px 5px 0 0);
  @include box-shadow(0 0 3px rgba(42, 83, 110, .6), inset 0 1px 0 #fff);
}

.logged_opts {float:left; margin-top:12px}
.logged_opts > li{float:left; margin-right:23px}
.logged_opts > li > a{color: #9b9b9b}
.search {
  float: right;
  position: relative;
  margin-top: 21px;

  > p {width: 188px; background-color: #fff; border: 1px solid; border-color: #7a8488 #bcc9d0 #c3d2d9; height: 21px; padding: 5px 10px 0;
    &.focus {border-color: $links-color;
      @include box-shadow(0 0 5px rgba(45, 112, 189, .5));
    }
    > input{
      width: 170px;
      height: 16px;
      border: none;
      float:left;
      font-size:13px;
      line-height:1em;
      padding:0;
      box-shadow: none;
    }
    > span{background:url('../images/icn-search.png') no-repeat 0 0 transparent; float: right; width: 17px; height: 17px; clear:none; margin-top: -1px}
  }

  @include breakpoint(tablet-portrait) {
    margin-right: 15px;
  }
  @include breakpoint(phone) {
    display: none;
    &.show-on-mobile {
      display: block;
    }
    position: absolute;
    top: 50px;
    width: 100%;
    margin: 0;
    > p {
      width: 100%;
      height: 40px;
      padding: 0 10px;
      @include box-sizing(border-box);
      @include border-radius(0);
      span {display: none}
      input {
        width: 100%;
        height: 100%;
        @include box-sizing(border-box);
        @include border-radius(0);
        font-size: 20px;
        color: #444;
      }
    }
  }
}
.search-results-wrapper {
  display:none; background-color:#f0f6fc; border: 1px solid #ffffff; width: 288px; padding:3px; width: 100%; position: absolute; left: 0; top: 31px; z-index:2;
  @include border-radius(5px);
  @include box-shadow(0 1px 3px rgba(42, 83, 110, .6), 0 0 1px rgba(0, 0, 0, .2));
  @include box-sizing(border-box);
  &.visible {display:block;}

  > .arrow {text-align: center; background-color: #fbfbfb; text-decoration: none; position: relative; overflow: hidden; display: block; padding: 6px 0}
  > .arrow > div,
  > .arrow > div > div,
  > .scroll-up {border-bottom: 1px solid #EAEEF0}
  > .scroll-down{border-top: 1px solid #EAEEF0}

  @include breakpoint(tablet-portrait) {
    min-height: 210px;
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    > .arrow {
      display: none;
    }
  }
  @include breakpoint(phone) {
    top: 40px;
    padding: 0;
    @include border-radius(0);
  }
}
.search-results-scroller {overflow: hidden;}
.search-results {
  > li {text-align: left; border-bottom: 1px solid #dae6f2;
    a {display: block; padding: 7px 0 6px 5px; background-color: #fff; text-decoration: none;
      &:hover {background-color: #F0F7Fb}
    }
  }
  &.last {border:none;}

  @include breakpoint(phone) {
    > li {
      padding: 0;
      a {
        display: block;
        padding: 15px 10px;
        font-size: 16px;
      }
    }
  }
}
.scroll-up > div > div{border-color: transparent transparent #a9c8e3; border-width: 0 5px 5px}
.scroll-up:hover > div > div{border-color: transparent transparent #468AC4}
.scroll-down > div > div{border-color: #a9c8e3 transparent transparent; border-width: 5px 5px 0}
.scroll-down:hover > div > div{border-color: #468AC4 transparent transparent}
.search-icon-mobile {
  display: none;
  cursor: pointer;
  float: right;
  padding-top: 2px;
  padding-right: 12px;
  padding-bottom: 0px;
  padding-left: 12px;
  height: 30px;
  margin: 10px 10px 0;
  span {
    display: inline-block;
    width: 13px;
    height: 20px;
    background: url('../images/icn-search.png') no-repeat -20px 0 transparent;
  }
  @include breakpoint(phone) {
    display: block;
  }
}

.empty{background-position:0 -23px !important;}
.slogan{text-align: center;}

.request-topic-wrapper {
  float: right;
  position: relative;
  margin-top: 21px;
  &:hover .tooltip-wrapper {
    display: block;
  }

  @include breakpoint(phone) {
    margin: 0;
    width: 40px;
    height: 100%;
    @include box-sizing(border-box);
    > a {
      border-width: 1px;
      border-style: solid;
      border-color: #cfdae6 #c8d4e1 #a0b0c0 #c8d4e1;
      margin: 10px 0 0 0;
      width: 100%;
      height: 30px;
      @include background-image(linear-gradient(top, #fafcfd, #ecf4f9));
      @include box-sizing(border-box);
      @include border-radius(0px);
      outline: none;
      span {
        border-width: 0;
        @include background-image(none);
        background-color: transparent;
      }
    }
    &:hover {
      > a span {
        border-width: 0;
        @include background-image(none);
        background-color: transparent;
      }
    }
  }
}

.request-topic {float: right; margin: 0 10px 0 0; height: 26px; outline:0;
  .text {float: left; padding: 5px 8px 0; height: 19px; font-family: Arial, Helvetica; font-size: 13px; white-space: nowrap;
    @include breakpoint(phone){display: none}
  }
  .icon {
    display: none;
    pointer-events: none;
    width: 13px;
    height: 14px;
    margin: 7px 8px 0;
    overflow: hidden;
    text-indent: -999px;
    font-size: 0;
    line-height: 0;
    background: url("../images/icn-pencil-2.png") 0 0 no-repeat;
    @include breakpoint(phone){
      display: inline-block;
    }
  }
}

.tags {
  display: inline; margin-right: 10px; margin-left: 10px;
  > li {
    margin-right: 4px; display: inline-block; color: #bfbfbf;
    &:first-child{background-image: url('../images/tag.png'); background-repeat: no-repeat; background-position: 0 3px; padding-left: 20px;}
    &.last-tag {margin-right: 10px}
  }
}

.by-author {margin-right: 14px}
h1 + .by-author {margin-top: 10px}
.by-author {display: inline-block; color: #bfbfbf}

.footer-shadow{display: block; margin: 0 auto; display: block; background: url("../images/bg-footer.png") repeat scroll 0 0 transparent; margin-top: 30px; height: 60px;}

footer > div > .aligned{padding: 25px 0 0;}
footer > div > div > ul{float: right;}
footer > div > div > ul > li{display: inline;}
footer > div > div > span{float: left; color: #667580;}

.over-form{position: absolute; top: 0; left: 0; width: 280px; background-color: #f6f9fb; display: none; padding: 15px; color: #797e84; z-index: 999; border-top: none;
  @include border-radius(0 5px 5px 5px);
  @include box-shadow(0 1px 3px rgba(42, 83, 110, .6));
}

.over-form.auth-form-active{display: block;}
.form-parag{margin-bottom: 15px; font-size: 12px;}
.over-form > ul{overflow: hidden;}
.over-form > ul > li{margin-bottom: 5px; float: left;}
.over-form > ul > li > label{display: block; margin-bottom: 3px; color: #a9a9a9;}
.over-form > ul > li > input[type="text"],
.over-form > ul > li > input[type="email"],
.over-form > ul > li > input[type="password"]{width: 257px; height:32px; padding: 0 10px; margin-bottom: 5px;
  @include border-radius(3px);
}
.placeimg{background-image: url('../images/pass_placeholder.png'); background-repeat: no-repeat; background-position: 0 0; background-color: #ffffff}
p.error{color: #d93e3e; margin: 0 0 5px 1px;}
p.success{color:#6fa677; margin: 0 0 5px 1px; font-size:11px; line-height:1em; border:1px #a3c9a9 solid; background:url("../images/checked.png") no-repeat 14px 6px #ebffee; padding:7px 0 0 34px; height:18px; width:243px;
  @include border-radius(2px);
}

.btn-gradient.cancel-forgot{float: right; padding: 0 12px; height: 32px; margin-right: 10px; color: #61656a;}

.auth-submit {cursor: pointer; border: none; border-bottom: 1px solid #1e4d88; padding: 0 12px; height: 32px; float: right; color: #ffffff; font-size: 13px; font-family: Arial, Helvetica, sans-serif;
  @include background-image(linear-gradient(top, #64a2d1, #2f6daf));
}

.auth-submit:hover{
  border-bottom: 1px solid #5a8fbb;
  @include background-image(linear-gradient(top, #77b3e3, #498dd2));
}

.action-lk{margin: 10px 10px 0 0; color: #797e84; float: right;}

.legend{font-size: 11px; float: left; width: 170px;}
.login-form > .legend{margin-top: 10px;}

.border-all,
.avatars > .active,
.avatar,
.avatar > img,
.comm-wrap,
.btn-gradient,
.new-response,
.items > li,
.messages > li{
  @include border-radius(3px);
}
.border-all-2 {
  @include border-radius(2px);
}
.border-menu{
  @include border-top-left-radius(0);
}

.border-right{
  @include border-top-right-radius(3px);
  @include border-bottom-right-radius(3px);
}

.border-left{
  @include border-top-left-radius(3px);
  @include border-bottom-left-radius(3px);
}
.border-top {
  @include border-radius(3px 3px 0 0);
}
.border-bottom{
  @include border-bottom-left-radius(3px);
  @include border-bottom-right-radius(3px);
}
.border-top-left {
  @include border-radius(3px 3px 0 0);
}
.border-top-3 {
  @include border-radius(3px 3px 0 0);
}
.border-bottom-3 {
  @include border-radius(0 0 3px 3px);
}
.border-right-2 {
  @include border-radius(0 2px 2px 0);
}
.border-left-2 {
  @include border-radius(2px 0 0 2px);
}
.container-soft-box-shadow {
  @include box-shadow(0 0 3px rgba(0, 0, 0, .25));
}
.request-error.auth-form-active{display: block;}
.request-error{width: 265px; height: 97px; position: absolute; display: none; top: 32px; right: -67px; z-index: 999}
.request-error > .arrow-shadow {border-color: transparent transparent #F4F0B8; border-style: solid; border-width: 0px 10px 10px; float: left; position: relative; bottom: -1px; height: 0px; margin: 0px 122px; width: 0px;}
.request-error > .arrow-shadow > .arrow {border-color: transparent transparent #faf8e5; border-style: solid; border-width: 0px 8px 8px; position: relative; left: -8px; top: -13px}

.request-error > div {float: left; border: 1px solid #F4F0B8; border-bottom: 1px solid #cac8b1; padding: 13px 15px 10px; background-color: #fffcd9; background-color: rgba(255, 252, 217, .97);
  @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 1px #fffeeb);
}
.request-error > div.clear{width:auto; height:auto; float:none; border:none; padding:0}
.sign-up-legend{font-weight: bold; text-align: center; color: #52503b; line-height: 1.3; margin: 0 0 8px 0; font-size: 12px;}
.request-error > div > a{height: 26px; overflow: hidden; text-decoration: none; border: 1px solid #3C7EBB; display: inline-block; line-height: inherit; float: none}
.request-error > div > a > span{white-space: nowrap; padding: 5px 8px 0; border: 1px solid; border-color: #C1DDF3 #71A8DD #507CC4 #649BD6; height: 19px; display: block}

.disabled{-moz-opacity: .5; opacity: .5}
.request-topic.disabled{-moz-opacity: .5; opacity: .5}

.btn-gradient{text-align: center; float: left; border-style: solid; border-width: 1px; border-color: #d2e3ec #cddfe9 #a0bfd1;
  @include background-image(linear-gradient(top, #fff, #eaf7fd));
}
.btn-gradient:hover{
  @include background-image(linear-gradient(top, #fbfeff, #f2fbff));
}

.responses {background-color: transparent; background-image: url("../images/icn-responses.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: 0 4px; padding-left:15px; display:inline-block; white-space:nowrap; font-size: 11px;}
.response-wrapper{border: 1px solid #daecf3; position: relative;}
.response-wrapper > div{border: 2px solid #e9f0f3; overflow: hidden; position: relative; background-color: #ffffff;}
.response-wrapper.new-response{border: 2px solid #f0f5f8; font-size: 11px;}
.response-wrapper.new-response > div {border: 1px solid #d6d6d6; padding: 6px 7px;}
.comment_content{color: #61656A; width: 100%; padding: 0; height: 16px; border: none; margin-top: 4px; resize: none; font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 16px; overflow: hidden;}
.response-wrapper.new-response > div.focus {border: 1px solid $links-color;
  @include box-shadow(0 0 5px rgba(45, 112, 189, .5));
}

.new-response a{display: block; color: #868484; padding-left: 15px; background-image: url('../images/icn-reply.png'); background-repeat: no-repeat; background-position: 0 2px;}

.pm-flash{padding: 7px 12px; margin-bottom: 10px;}
.pm-flash > p{padding-left: 20px; margin-top: 0 !important; line-height: normal !important;}

.pm-flash.success{background-color: #ebffee; border: 1px solid #a3c9a9;}
.pm-flash.success > p{background-image: url('../images/check-mark.png'); background-repeat: no-repeat; background-position: 0 0; color: #6fa677;}

.pm-flash.error{background-color: #ffffff; border: 1px solid #E79090;}
.pm-flash.error > p{background-image: url('../images/error-mark.png'); background-repeat: no-repeat; background-position: 0 2px; color: #D93E3E;}

.request-topic-section {
  > .header{margin-top:2px; border-bottom:1px solid #e9f2f6; overflow:hidden; padding:18px 0 19px 0;
    @include background-image(linear-gradient(top, #EDF5F9, #F3FAFD));
    > h2 {float:left; padding-left:30px; font-size:16px; margin-top:7px;}
    a  {float:right; height:18px; width:45px; margin-right:29px; color:#8497a7; font-weight:bold; background:url("../images/back-bg.png") no-repeat scroll 0 0 transparent; line-height:1em; padding:7px 0 0 23px;
      &:active{outline:0; border:0;}
    }
  }
  > form{float:left; font-size:12px; font-family:Arial, Helvetica, sans-serif;
    > fieldset{border:none; margin:0; padding:0 30px;}
    label{font-size:13px; margin:21px 0 6px; line-height:1em; display:block;}
    input[type="text"]{font-size:12px; height:37px; border:1px solid #D9E2E6; border-top-color:#929898; border-bottom-color:#e1eaee; padding:10px; line-height:1em; color:#888; margin-bottom:8px; display:block; width:100%; font-family:Arial, Helvetica, sans-serif;
      @include border-radius(3px);
      @include box-sizing(border-box);
    }
    textarea{border:1px solid #D9E2E6; border-top-color:#929898; border-bottom-color:#e1eaee; padding:8px 10px; color:#888; margin-bottom:16px; font-family:Arial, Helvetica, sans-serif; font-size:12px; display:block; width: 100%;
      @include border-radius(3px);
      @include box-sizing(border-box);
    }
    input[type="checkbox"]{float:left; margin:10px 5px 0 0}
    label.anonym{float:left; margin-top:10px}
    input[type="submit"]{padding:8px 19px; line-height:1em; float:right; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; background-color:#ffffff;
       @include border-radius(3px);
    }
  }

  @include breakpoint(phone) {
    textarea {
      height: 100px;
    }
  }
}

.avatar-wrapper {
  float: left;
  position:relative;
  > a {
    // disable links by default,
    // link should be only available for small resolutions
    display: inline-block;
    pointer-events: none;
  }

  @include breakpoint(phone) {
    pointer-events: none;
    > a {
      pointer-events: auto;
    }
    .avatar {
      pointer-events: none;
    }
  }
}

.avatar{
  width: 56px;
  height: 56px;
  padding: 3px;
  float: left;
  position: relative;
  border: 1px solid rgba(59, 64, 67, .25);
  background: #ffffff;
  img {
    @include background-image(linear-gradient(top, #dcdfe1, #edeeef));
  }
}

.avatar.expert > img{
  @include background-image(linear-gradient(top, #c3cfbe, #dee5da));
}
.avatar > span {width:30px; height:30px; display:block; position:absolute; left:17px; top:44px; background:url("../images/heart-badges-sprite.png") no-repeat transparent}
.avatar.no-level > span{background:none;}
.avatar.red-heart > span,
.points-wrapper > span.red-heart,
.points-table .red-heart           {background-position:0 0}
.avatar.pink-heart > span,
.points-wrapper > span.pink-heart,
.points-table .pink-heart          {background-position:0 -30px}
.avatar.purple-heart > span,
.points-wrapper > span.purple-heart,
.points-table .purple-heart        {background-position:0 -60px}
.avatar.blue-heart > span,
.points-wrapper > span.blue-heart,
.points-table .blue-heart          {background-position:0 -90px}
.avatar.cyan-heart > span,
.points-wrapper > span.cyan-heart,
.points-table .cyan-heart          {background-position:0 -120px}
.avatar.green-heart > span,
.points-wrapper > span.green-heart,
.points-table .green-heart         {background-position:0 -150px}
.avatar.bronze-heart > span,
.points-wrapper > span.bronze-heart,
.points-table .bronze-heart        {background-position:0 -180px}
.avatar.silver-heart > span,
.points-wrapper > span.silver-heart,
.points-table .silver-heart        {background-position:0 -210px}
.avatar.gold-heart > span,
.points-wrapper > span.gold-heart,
.points-table .gold-heart          {background-position:0 -240px}

.small-hearts > .level.no-level {background: none; display: none}
.small-hearts > .level,
.small-avatars .avatar > span {background: url("../images/heart-badges-small-sprite.png") no-repeat transparent; width: 20px; height: 19px; display: block; float: left}
.small-hearts > .level.red-heart,
.small-avatars .avatar.red-heart  > span {background-position: 0 0}
.small-hearts > .level.pink-heart,
.small-avatar .avatar.pink-heart  > span {background-position: 0 -20px}
.small-hearts > .level.purple-heart,
.small-avatars > .avatar.purple-heart  > span {background-position: 0 -40px}
.small-hearts > .level.blue-heart,
.small-avatars .avatar.blue-heart  > span {background-position: 0 -60px}
.small-hearts > .level.cyan-heart,
.small-avatars .avatar.cyan-heart  > span {background-position: 0 -80px}
.small-hearts > .level.green-heart,
.small-avatars .avatar.green-heart  > span {background-position: 0 -100px}
.small-hearts > .level.bronze-heart,
.small-avatars .avatar.bronze-heart  > span {background-position: 0 -120px}
.small-hearts > .level.silver-heart,
.small-avatars .avatar.silver-heart  > span {background-position: 0 -140px}
.small-hearts > .level.gold-heart,
.small-avatars .avatar.gold-heart  > span {background-position: 0 -160px}

.topic-avatars .avatar > em {display: none; position: absolute; top: 0; right: 0; width: 27px; height: 26px; padding: 0; background-image: url('../images/new-user-ribbon.png'); background-position: 0 0; background-repeat: no-repeat;}
.avatar-wrapper:hover .avatar > em,
.topic-avatars li:hover em {display: block}
.topic-avatars em {color:#468AC4; white-space: nowrap; width: 100%; overflow: hidden; display: inline-block; text-overflow: ellipsis}

.response-user > .avatar-wrapper > .avatar {width: 40px; height: 40px;}
.response-user > .avatar-wrapper > .avatar > img{width: 40px; height: 40px;}
.response-user > .avatar-wrapper > .avatar > span{left: 8px; top: 29px;}

.private-msg.send-from-stream {top: 95px; background-color: #F0F6FC; border: 1px solid rgba(0, 0, 0, 0.2); box-shadow: 0 1px 3px rgba(42, 83, 110, 0.6); display: none; font-size: 12px; left: -25px; padding: 3px; position: absolute; text-align: left; width: 290px; z-index: 9999}
.private-msg.send-from-stream > form {display: block !important; background:#ffffff; padding: 16px; margin:0}

.has-tooltip {position: relative}
.tooltip-box,
.private-msg {display:none; position: absolute; top: 70px; left: -25px; width: 290px; background-color: #f0f6fc; padding: 3px; border: 1px solid rgba(0, 0, 0, .2); text-align:left; z-index:999; font-size:12px;
  @include box-shadow(0px 1px 3px rgba(42, 83, 110, .6));
}
.tooltip-box .left {float: left}
.tooltip-box .right {float: right}
.form-welcome-msg {padding-bottom: 30px!important}

.tooltip-box .origin,
.private-msg .origin,
.tooltip-box .origin span,
.private-msg .origin span,
.send-from-stream .origin,
.send-from-stream .origin span {border: 10px solid; height: 0; position: absolute; width: 0}
.tooltip-box .origin,
.private-msg .origin,
.send-from-stream .origin {border-color: transparent transparent #ccc; left: 40px; top: -20px}
.tooltip-box .origin > span,
.private-msg .origin > span,
.send-from-stream .origin > span {border-color: transparent transparent #FAFCFF; left: -10px; top: -8px}
.tooltip-box .origin > span > span,
.private-msg .origin > span > span,
.send-from-stream .origin > span > span {border-color: transparent transparent #fff; top: -7px; left: -10px}
.tooltip-box .title {font-size: 13px; line-height: 19px; font-weight: bold; color: #464c52}

/* Hall of Fame Origin */
.private-msg.bottom-avatar .origin,
.private-msg.bottom-avatar .origin > span,
.private-msg.bottom-avatar .origin > span > span {width: 0; height: 0; line-height: 0; top: auto}
.private-msg.bottom-avatar .origin {top: auto; bottom: -20px; border-color: #cccccc transparent transparent}
.private-msg.bottom-avatar .origin > span {border-color: #fafcff transparent transparent; top: -11px}
.private-msg.bottom-avatar .origin > span > span {border-color: #ffffff transparent transparent; top: -13px}

.private-msg > form {display: block; background:#ffffff; display: none; padding: 7px 16px 0; margin:0;}
.private-msg > form > textarea,
.send-from-stream > form > textarea,
.tooltip-box textarea {min-width: 234px; width: 234px; max-width: 234px; height:112px; margin-top:0; margin-bottom:8px; padding:10px; font-family:Arial, Sans-serif; font-size:12px; color:#aeb4bd;}
.tooltip-box textarea {min-width: 244px; width: 244px; max-width: 244px; height: 74px}
.private-msg-btns{text-align:right}
.private-msg-btns > input{height: 24px; float:none!important; font-family: Arial, Helvetica, sans-serif; font-size: 13px;}
.private-msg-btns > a.cancel,
.form-welcome-buttons > a.cancel {margin-right:8px; color: #404750; font-size:13px; font-style: normal}
.private-msg > .avatar{float: right;}
.form-private-msg > .flash-privacy,
.form-welcome-msg > .flash-privacy {margin: 0 0 15px 0;}
.form-welcome-options {float: left}
.form-welcome-options .chck {position: relative; left: -4px; top: 1px;}
.form-welcome-buttons {float: right}
.form-welcome-buttons input {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #2D70B3}
.form-welcome-msg .welcome-msg-content {height: 73px}

.tooltip-box-inside,
.user-wrapper {background:#ffffff; overflow: hidden}
.tooltip-box-inside {padding: 9px 12px;
  @include border-radius(3px);
}
.user-wrapper {padding: 9px 9px 0;
  @include border-radius(3px 3px 0 0);
}
.private-msg .user-info {float: left; width: 100%}
.user-wrapper .username {float: left; width: 130px; color: #454545; font-size: 18px; font-weight: bold; margin-top: 0; word-wrap: break-word}
.user-wrapper .points-wrapper,
.user-wrapper .light-button,
.user-wrapper .points-wrapper-small {float: right}
.user-wrapper .points-wrapper-small .points {line-height: 22px; font-weight: bold}
.user-wrapper .points-wrapper-small {margin: 0 5px 0 0; height: 21px}
.user-wrapper .points-wrapper-small .level {position: relative; top: 2px; margin-right: 2px}
.user-wrapper .activity-btns {float: right; margin: 0}
.user-wrapper .activity-btns li {float: right; height: 21px}
.user-wrapper .activity-btns li.first {border-right: 0 none}
.user-wrapper .activity-btns li a {text-indent: -9999px; font-size: 0; line-height: 0; display: block}
.user-wrapper .send-private-msg,
.user-wrapper .view-profile {height: 21px; width: 28px;}
.user-wrapper .send-private-msg {background: url("../images/icn-tooltip-send-msg.png") no-repeat; left: 5px; top: 0}
.user-wrapper .view-profile {background: url("../images/icn-tooltip-view-profile.png") no-repeat; left: 7px; top: -1px}
.user-wrapper .welcome-btn {padding: 4px 4px 3px; margin: 0 5px 0 0; font-size: 12px;font-weight: bold; line-height: 14px}
.user-wrapper .welcome-btn a {text-decoration: none; font-style: normal}

.user-wrapper .user-data .points-wrapper-small {padding: 0; }
.recently-topics {padding-top:28px; background:#ffffff}
form + .recently-topics{padding-top:18px;}
.recently-topics > p{line-height: 1em!important; margin-top: 0px !important; padding: 0 0 10px 15px; font-style: italic; color: #a1aab2}
.recently-topics > ul{background: #fafcff;
  @include border-bottom-right-radius(3px);
  @include border-bottom-left-radius(3px);
}
.recently-topics > ul > li{padding: 9px 16px 7px; border-top: 1px solid #cfdae6; font-size: 12px; font-weight: bold}

.custom > a{text-decoration: none;}

.flash{
  min-height: 45px;
  line-height: 1.5;
  color: #464646;
  font-weight: bold;
  border-bottom: 1px solid #c9c8b1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  visibility: hidden;
  cursor: pointer;
  background-color: #fefadd;
  @include background-image(linear-gradient(top, #fefce9, #fefadd));
  > div{
    padding: 12px 20px 9px 25px;
    margin-right: 20px;
    background: url('../images/icn-close.png') no-repeat 100% 50%;
  }
}

.loading{background-image: url('../images/loading-s-gray.gif'); background-repeat: no-repeat; background-position: 0 50%; padding-left: 26px;}
.legend.loading{padding-right: 26px; background-position: 100% 50%; padding-left: 0;}

.flash-privacy{position: relative; padding-left: 17px; margin-top: 21px;}
.flash-privacy > div{font-family: Arial; font-size: 11px; color: #52503b; padding: 11px 22px; background-color: #fffcd3;  border: 1px solid #f4f0b8; line-height: 1.5; font-weight: bold;}
.exclamation{width: 29px; height: 33px; position: absolute; left: 0; top: 0; background: #fffcd3 url('../images/exclamation-mark.png') no-repeat 50% 50%;
  @include border-radius(15px);
}
.icn-cross{width: 7px; height: 7px; float: right; position: absolute; right: 6px; top: 6px; background: url('../images/icn-cross.png') no-repeat 0 0; cursor: pointer;}

.auth-form-active > .flash-privacy{margin: 7px 0 15px 0;}

#pageslide-slide-wrap {
  max-width: 100%; height: 100%; position: fixed; top: 0; width: 0; z-index: 9999;
  background: #ffffff; overflow-y: auto; overflow-x: hidden;
  > div{background-image:none;}
  > div > div{overflow:hidden;}
}
#pageslide-content {max-width: 100%}
#pageslide-body-wrap{position: relative; z-index: 0;
  // @include breakpoint(phone) {
  //   overflow: hidden;
  //   height: 100%;
  // }
}

#pageslide-blanket{position: absolute; top: 0; left: 0; height: 100%; width: 100%; opacity: 0; background: #000; z-index: 1; display: none;}

#pageslide-iframe {border: none; width: 100%; height: 100%;}
#pageslide-close-bar {position: relative; overflow: hidden; padding: 8px; background-color: #E5E5E5;}
#pageslide-close-bar > a {float: left; margin-left: 5px; padding: 5px; border: 1px solid #4785BF; font-size: 11px; font-family: Arial, Helvetica; text-decoration: none; color: #FFF; background-color: #5998CC;
  @include background-image(linear-gradient(top, #5998CC, #3778B7));
  @include border-radius(3px);
}

#pageslide-close-bar > a:first-child {margin-left: 0;}
.bookmarkers {float: right;}
.bookmarkers > a {background-image: url('../images/icons-command.png'); background-repeat: no-repeat; float: right;}
.share-facebook {background-position: 0 -21px; height: 19px; width: 55px; margin: 3px 0 0 5px;}
.slide-controls {position: absolute; top: 0; left: 50%; float: left;}
.slide-controls > div {position: relative; top: 8px; left: -50%; float: left;}
.slide-controls > div > a {color: #848484; text-decoration: none; font-size: 14px; font-weight: bold; line-height: 1.8;}
.slide-controls > div > a:first-child {margin-right: 10px;}
.psMessage {margin: 5px 0 0 5px; font-size: 11px; color: #848484; float: left;}
#glueButton {position: relative;}

.items > li{background-color: rgba(255, 255, 255, 0.4); padding: 10px; float: left; margin-bottom: 10px;}
.item-data{float: right;}
.item-data > div {color: #898f93}
.item-data > div > a{color:#bdc6cb}
.item-data > p{color:#898f93}
.item-data > p a + a{font-weight:bold}

.user-logged-info {float: left; text-align: left; width: 350px; margin-top: 11px;
    .avatar {
        background: #fff;
        border: 1px solid rgba(59, 64, 67, 0.25);
        float: left;
        height: 42px;
        padding: 3px;
        position: relative;
        width: 42px;
        img {width: 42px; height: 42px}
    }
    .user-data {
        float: left; margin-left: 10px;
        b {
            display: block; overflow: hidden; margin: 2px 0 9px; font-size: 14px; color: #454545;
            span {float: left; margin-right: 7px}
            .edit-secondary {margin-top: 2px}
        }
        .points-wrapper-small,
        ul,
        .log-out {float: left; margin-right: 5px; height: 20px;}
        .log-out {margin-right: 0; color: #8a9199; font-size: 12px; line-height: 19px; padding: 0 8px;
            &:hover {text-decoration: none}
        }
    }
    .points-wrapper-small {
        padding: 0 8px; position: relative;
        > .level,
        > .points {border: none}
        > .level {margin-right: 4px}
        > .points {height: 20px; line-height: 20px; color: #707b8b; font-weight: bold}
        &:hover .tooltip-wrapper {display: block}
    }
    .activity-btns li {
        width: 35px; height: 20px;
        &:first-child {border-right-width: 0}
    }
    .tooltip-wrapper {top: -26px}
    .tooltip {border-width: 1px}

    @include breakpoint(phone) {
        display: none;
        width: auto;
        margin-left: 15px;
        margin-top: 5px;
        .avatar {
            width: 32px;
            height: 32px;
            img {
                width: 100%;
                height: auto;
            }
        }
        .user-data b {
            margin: 1px 0 5px;
            span {
                font-size: 12px;
            }
            .edit-secondary {
                margin-top: 0;
            }
        }
    }
    @include breakpoint(tablet-portrait) {
      display: none;
    }
    @include breakpoint(tablet-landscape-desktop) {
      display: none;
    }
}

.activity-btns {
    li {
        float: left; width: 30px;
        a {text-indent: -999px}
        span {display: block; position: relative}
        .activity {width: 14px; height: 17px; left: 11px; top: 1px; background: url("../images/icn-activity.png") 0 0 no-repeat}
        .messages {width: 15px; height: 11px; left: 10px; top: 4px; background: url("../images/icn-messages-2.png") 0 0 no-repeat}
        .new-message-container {
            color: #fff;
            background-color: #2E8AE5;
            border: 1px solid #2D88E3;
            font-size: 12px;
            padding: 0 4px;
            display: inherit;
            right: -21px;
            top: -22px;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
            font-weight: bold;
            @include border-radius(10px);
            @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.2), 0 0 1px rgba(255, 255, 255, 0.7) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset);
            @include background-image(linear-gradient(top, #40b9ef, #2e8ae5));
        }
    }
    a:hover {text-decoration: none}
}

.edit-secondary {
    width: 13px; height: 14px; overflow: hidden; text-indent: -999px; font-size: 0; line-height: 0; background: url("../images/icn-pencil-2.png") 0 0 no-repeat; float: left;
    &:hover {text-decoration: none; background-position: -14px 0}
}

.panel-sub-nav {
  position: fixed;
  z-index: 99;
  width: 140px;
  margin-right: 800px;
  .sub-nav {
    li {
      border-top: 1px solid rgba(255, 255, 255, .2);
      border-bottom: 1px solid rgba(0, 0, 0, .2);
      &:first-child {border-top: 0 none}
      &:last-child,
      .last-child {border-bottom: 0 none}
      > a {
        color: #394551;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .35);
        display: block;
        height: 30px;
        line-height: 30px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
        &:hover {
          text-decoration: none;
          color: #fff;
          text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
        }
        span {
          display: inline-block;
          vertical-align: top;
        }
        .icon {
          background: url("../images/logged-in-nav-icons.png") 0 0;
          width: 30px;
          height: 30px;
          margin: 0 2px 0 3px;
        }
        .text {white-space: nowrap}
        .badge {
          color: #fff;
          background-color: #61738b;
          background-color: rgba(0, 0, 0, .3);
          font-size: 12px;
          line-height: 15px;
          margin: 7px 6px 0 0;
          float: right;
          font-weight: bold;
          padding: 1px 5px;
          text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
          @include border-radius(10px);
          @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.8) inset);
        }
      }
    }
    a.stream > .icon {background-position: 0 0}
    a.messages > .icon {background-position: 0 -30px}
    a.my-topics > .icon {background-position: 0 -60px}
    .active {
      background-color: rgba(57, 69, 81, .4);
      border-top: 0;
      border-bottom: 0;
      @include border-radius(3px);
      @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .3));
      a {
        color: #fff; text-shadow: 0 1px 1px rgba(0, 0, 0, .75); font-weight: bold;
      }
      a:hover {text-decoration: none}
      a.stream > .icon {background-position: -30px 0}
      a.messages > .icon {background-position: -30px -30px}
      a.my-topics > .icon {background-position: -30px -60px}
    }
  }

  @include breakpoint(tablet-portrait) {
    $subnavcolor: #eceff3;
    &.stream-user-nav {
      background-color: $subnavcolor;
      border-bottom: 1px solid #DBDFE3;
      position: relative;
      width: 100%;
      padding: 10px 0;
      text-align: center;
      &:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0}
      .sub-nav {
        padding: 0;
        width: auto;
        display: inline-block;
        vertical-align: top;
        @include border-radius(0px);
        border: 1px solid rgba(0, 0, 0, 0.2);
        &:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0}
        li {
          display: inline-block;
          float: left;
          padding: 0 10px 0 0;
          vertical-align: top;
          border: none;
          font-size: 11px;
          @include border-radius(0px);
          background-color: #e6ecf2;
          .icon {margin: 0 -5px 0 3px}
          > a .badge {
            float: none;
            margin-left: 5px;
            margin-right: 0;
          }
          &:hover {
              background-color: darken(#e6ecf2, 2);
              a {
                  color: #394551;
                  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
              }
          }
          &.active {
            @include border-radius(0px);
            background-color: #627583;
          }
        }
      }
    }
  }
}

.header-title-bg {background-color: #FCFCFC; border-bottom: 1px solid #DBDFE3; height: 25px; padding: 15px 20px 0;
  @include background-image(linear-gradient(top, #eceff3, #f9f9f9));
  @include box-shadow(0 1px 0 #fff inset);
}

/* Hall of Fame */
.hall-of-fame {
  position: fixed; bottom: 26px; width: 100%; padding: 0; z-index: 990;
  .hall-people li > .avatar-wrapper a {display: inline-block}
  &.collapsed {
    .hall-header > h4 > span {background-position: 50% 100%}
    .hall-footer {height: 15px}
    .hall-people {display: none;
    }
  }
}

.hall-header {
  width: 196px; height: 31px; margin: 0 auto; text-shadow: 0 1px 0 #ffffff; position: relative;
  > h4 {
    position: absolute; margin: 0; background: transparent url('../images/hall-of-fame-header.png') no-repeat 0 0; text-align: center; height: 31px; width: 191px; top: 1px;
    > span {width: 126px; color: #7e91a6; background: transparent url('../images/hall-of-fame-h4.png') no-repeat 50% 0; text-align: center; padding: 6px 0 0; height: 22px; left: 36px; position: absolute; text-transform: uppercase; cursor: pointer; top: 9px}
  }
}

.hall-footer {background-color: #edf2f4; border-top: 1px #c5cace solid;
  @include background-image(linear-gradient(top, #edf2f4, #e4eaed));
}

.hall-people {
  display: block; clear: both; height: 67px; padding-top: 21px;
  > li {
    .avatar-wrapper {
      float: left;
      a {display: block}
    }
    > .honor-member-info {
      margin-left: 69px;
      > a {text-transform: capitalize; font-size: 12px}
      > span {display: block; font-size: 11px; color: #5d748c; text-shadow: 0 1px 0 #ffffff; width: auto; margin: 8px 0 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  > .last {margin-right: 0}
  .avatar {width: 42px; height: 42px; padding: 3px;
    > span {top: 32px; left: 9px; z-index: 2}
    > .honor-member {width: 72px; height: 52px; position: absolute; z-index: 1; background-image: url('../images/honor-member.png'); background-repeat: no-repeat; background-position: 0 0; top: 4px; left: -12px}
  }
}

.app-body-container {
  padding: 120px 0 150px;
  > .container {
    padding-top: 20px;
  }
  @include breakpoint(tablet-portrait) {
    padding: 120px 0 25px;
    > .container {
      padding-top: 0;
      > div > * {
        @include border-radius(0);
      }
    }
  }
  @include breakpoint(phone) {
    padding: 50px 0 0;
  }
}

footer {
  position: fixed; bottom: 0; width: 100%; z-index: 990;
  border-top: 1px #c9cdd0 solid;
  background-color: #eff4f6;
  @include background-image(linear-gradient(top, #f2f7f9, #eaf1f4));
  @include box-shadow(inset 0 1px 0 #f6f9fa);

  @include breakpoint(phone) {
    position: relative
  }
}

.footer-container {
  overflow: hidden; font-size: 12px; padding: 6px 0 5px;
  > span {float: left; color: #8f9aa4}
  > ul {
    float: right;
    > li {display: inline; color: #99b9d8;
      > a {color: #7aa4cd}
    }
  }

  @include breakpoint(phone) {
    > span,
    > ul {
      display: block;
      float: none;
      text-align: center;
    }
    > ul {
      margin: 5px 0;
    }
  }
}

.tooltip-wrapper {display: none; position: absolute; top: -25px; left: 50%}
.tooltip {position: relative; display: block; left: -50%; font-size: 12px; background-color: #eff5fa; border: 1px solid #a0b0c0; color: #464f5d; text-shadow: 0 1px 0 rgba(255, 255, 255, .75);
  @include border-radius(3px);
  .msg {display: block; white-space: nowrap; border: 1px solid #ffffff; padding: 3px 6px;
    @include border-radius(2px);
  }
  .arrow {
    position: absolute; bottom: -5px; width: 100%; height: 5px;
    span,
    span::after {position: relative; display: block; width: 0; height: 0; border-width: 4px 4px 0; border-style: solid;}
    span {left: 48%; border-color: #a0b0c0 transparent transparent;}
    span::after {content: ''; top: -5px; left: -4px; border-color: #eff5fa transparent transparent;}
  }
}

#modal {display: none; position: absolute; top: 0; left: 0; z-index: 9999; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .6)}
#modals-wrapper {position: fixed; top: 180px; left: 50%; margin-left: -214px; padding: 5px; width: 415px;
  background-color: #f0f6fc; border: 1px solid rgba(0, 0, 0, .8);
  @include box-shadow(inset 0 1px 3px rgba(0, 0, 0, .25));
  @include border-radius(4px);
}
.modal {
  header {position: relative; font-size: 17px; color: #3d464c; border-bottom: 1px solid #dbdfe3; padding: 10px 20px 9px; background-color: #fcfcfc;
    @include background-image(linear-gradient(top, #fdfdfd, #f9f9f9));
    @include border-radius(2px 2px 0 0);
  }
  .close {cursor: pointer; width: 18px; height: 18px; display: block; position: absolute; top: 8px; right: 8px;
    background: #c2d2e5; color: #fafbfb; text-align: center; font-size: 15px; line-height: 18px;
    @include border-radius(9px);
    &:hover {background: #afc4de;}
    &:active {background: #d6e0ed;}
  }
  .body {background-color: #fff; color: #3d464c; padding: 20px; font-size: 13px; line-height: 21px;
    @include border-radius(0 0 3px 3px);
    p {margin-bottom: 20px}
  }
  .separator {height: 1px; background-color: #e6ecf2; margin-bottom: 20px}
}

.points-table {margin-bottom: 3px;
  li {width: 50%; float: left;
    > em {width:30px; height:30px; display:block; float: left; background:url("../images/heart-badges-sprite.png") no-repeat transparent}
  }
  .points {display:block; float: left; padding: 5px 0 0 10px; font-size: 14px}
  &::after,
  li::after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0}
}

.block_user {
  background: url("../images/block_icon.png") no-repeat transparent; width: 15px;
  height: 15px;
  display: block;
  margin-top: 3px;
  background-size: 15px;
  float: right
}
.unblock_user {
  background: url("../images/check-mark.png") no-repeat transparent; width: 15px;
  height: 15px;
  display: block;
  margin-top: 3px;
  background-size: 15px;
  float: right
}

/* PRIVATE PROFILE */
.private-msg-profile {
  position: absolute;
  top: 5px;
  right: 1px;
  width: 30px;
  background-color: #f0f6fc;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: left;
  z-index: 999;
  font-size: 12px;
  @include box-shadow(0px 1px 3px rgba(42, 83, 110, 0.6));
  > form {
    display: block;
    background: #ffffff;
    display: none;
    padding: 7px 16px 0;
    margin: 0;
    > textarea {
      min-width: 234px;
      width: 234px;
      max-width: 234px;
      height: 112px;
      margin-top: 0;
      margin-bottom: 8px;
      padding: 10px;
      font-family: Arial, Sans-serif;
      font-size: 12px;
      color: #aeb4bd;
    }
  }
}
.activity-btn-profile {
  float: right;
  margin: 0;
  li {
    float: right;
    height: 21px;
    &.first {
      border-right: 0 none;
    }
    a {
      text-indent: -9999px;
      font-size: 0;
      line-height: 0;
      display: block;
    }
    span {
      display: block;
      position: relative;
    }
  }
}
.send-private-msg-profile {
  height: 21px;
  width: 28px;
  background: url("../images/icn-tooltip-send-msg.png") no-repeat;
  left: 5px;
  top: 0;
  // > form {
  //   display: block;
  //   background: #ffffff;
  //   display: none;
  //   padding: 7px 16px 0;
  //   margin: 0;
  //   > textarea {
  //     min-width: 234px;
  //     width: 234px;
  //     max-width: 234px;
  //     height: 112px;
  //     margin-top: 0;
  //     margin-bottom: 8px;
  //     padding: 10px;
  //     font-family: Arial, Sans-serif;
  //     font-size: 12px;
  //     color: #aeb4bd;
  //   }
  // }
}
