@font-face {
  font-family: 'GothamMediumRegular';
  src:  url("../stylesheets/fonts/gotham-medium.ttf") format('truetype'),
        url("../stylesheets/fonts/gotham-medium.eot") format('opentype'),
        url("../stylesheets/fonts/gotham-medium.woff") format('woff'),
        url("../stylesheets/fonts/gotham-medium.svg") format('svg');
}

body {
  padding: 0;
  margin: 0;
  background: #E3ECF0 url('../images/bg-gradient.jpg') repeat-x 0 0;
}

.wrapper {
  position: relative;
  max-width: 1009px;
  margin: 0 auto;
  text-align: center;
}

img {
  width:  100%;
  height: auto;
  max-width: 1009px;
  margin: -1% auto -12%;
}

.title {
  font-size: 1.500em;
  line-height: 1.2em;
  margin: .7em 2.5em;
  font-family: 'GothamMediumRegular';
  color: #fff;
  text-shadow: 0 1px 1px #235a78, 0 -2px 8px rgba(255, 255, 255, .11);
}

.info {
  font-family: Arial;
  font-size: 0.813em;
  margin: 1em 2.5em;
  color: #5d646a;
  text-align: center;
  line-height: 20px;
}

a {
  color: #468ac4;
}

@media (max-width: 480px) {
  .title {
    font-size: 1.2em;
    margin: 1.5em 2.5em 0;
  }
  .info {
    margin: 1em 3em;
    font-size: .75em;
  }
  .rtl .info {
    font-size: 0.813em;
  }
}
