.admin{background-color: #ffffff; padding: 40px;}

table th{background-color: #f2f9fc; margin: 0; text-align: left; border-style: solid; border-width: 1px 0; border-color: #e9f0f3;}
table th,
table td{padding: 5px 10px;}
.border-left{border-left: 1px solid #e9f0f3;}
.border-right{border-right: 1px solid #e9f0f3;}
.created_at{width: 80px;}
.updated_at{width: 80px;}
.edit{width: 40px;}
.delete{width: 40px;}
.adm-title{overflow: hidden;}
.adm-title > h1{float: left;}
.adm-title > a{float: right;}

/*Topics*/
.title{}
.user{}

/*Related Content*/
.related-content > li{margin-bottom: 10px; padding:5px; overflow:hidden; }
.related-content > li > a > img{float:left; padding:3px; border: 1px solid #ccc; border-width: 1px; border-style: solid; border-color: #a8a8a8 #d8d8d8 #d8d8d8 #a8a8a8; border-radius: 5px; moz-border-radius: 5px; -webkit-border-radius: 5px; background: #fbfbfb; outline: none; -webkit-box-shadow: inset 0px 0px 3px #efefef; width:50px; height: 50px;};
.related-content-details > a{float:left; padding-right:10px;}

/* Possible Thumbnails */
.possible-thumbnails > li{ margin-bottom: 10px; padding:5px; overflow:hidden; }
.possible-thumbnails > li > a > img{float:left; padding:3px; border: 1px solid #ccc; border-width: 1px; border-style: solid; border-color: #a8a8a8 #d8d8d8 #d8d8d8 #a8a8a8; border-radius: 5px; moz-border-radius: 5px; -webkit-border-radius: 5px; background: #fbfbfb; outline: none; -webkit-box-shadow: inset 0px 0px 3px #efefef; width:50px; height: 50px;};
.

/*Users*/
.username{}
.email{}
.is_expert{width: 56px;}
.actions{width: 80px;}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
textarea{border: 1px solid #ccc; border-width: 1px; border-style: solid; border-color: #a8a8a8 #d8d8d8 #d8d8d8 #a8a8a8; moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background: #fbfbfb; outline: none; -webkit-box-shadow: inset 0px 0px 3px #efefef;}

input[type=text],
input[type=password],
input[type=url],
input[type=email]{height: 30px; width: 400px; padding: 0 5px;}

textarea{height: 400px; width: 798px; padding: 5px;}

select{width: 206px;}

input:focus:invalid, textarea:focus:invalid{background-color:#fbe2e5;}

form > p > label{display: block;}
form > #related_content_form_fields > p > label{display: block;}
input[type=checkbox] + label{display: inline;}
h1{padding-bottom: 10px;}
.new_topic p{padding-bottom: 10px;}

.flash{padding: 10px 10px 10px 30px; margin-bottom: 15px;}
.flash.notice{background: #ebffee url('../images/check-mark.png') no-repeat 10px 10px; color: #6fa677; border: 1px solid #a3c9a9;}
.flash.error{background: #fbe2e5 url('../images/error-mark.png') no-repeat 10px 12px; color: #D93E3E; border: 1px solid #E79090;}

.flash.error > h2{font-size: 14px; font-weight: normal; margin-bottom: 10px;}
.field{margin-bottom: 20px;}
.field > label{margin-bottom: 3px;}

.holder{
  border: none;
  padding: 0;
  margin: 0;
}