@font-face {
  font-family: 'GothamMediumRegular';
  src: url('/stylesheets/fonts/gotham-medium.eot');
  src: local('☺'), url('/stylesheets/fonts/gotham-medium.woff') format('woff'), url('/stylesheets/fonts/gotham-medium.ttf') format('truetype'), url('/stylesheets/fonts/gotham-medium.svg#webfontzAljFo39') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBoldRegular';
  src: url('/stylesheets/fonts/gotham-bold.eot');
  src: local('☺'), url('/stylesheets/fonts/gotham-bold.woff') format('woff'), url('/stylesheets/fonts/gotham-bold.ttf') format('truetype'), url('/stylesheets/fonts/gotham-bold.svg#webfontNoFfkWyt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('/stylesheets/fonts/gotham-light.eot');
    src: url('/stylesheets/fonts/gotham-light.eot?#iefix') format('embedded-opentype'),
         url('/stylesheets/fonts/gotham-light.woff') format('woff'),
         url('/stylesheets/fonts/gotham-light.ttf') format('truetype'),
         url('/stylesheets/fonts/gotham-light.svg#gotham-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo500-Light';
    src: url('/stylesheets/fonts/museo500-light.eot');
    src: url('/stylesheets/fonts/museo500-light.eot?#iefix') format('embedded-opentype'),
         url('/stylesheets/fonts/museo500-light.woff') format('woff'),
         url('/stylesheets/fonts/museo500-light.ttf') format('truetype'),
         url('/stylesheets/fonts/museo500-light.svg#gotham-light') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Museo700-Sans';
    src: url('/stylesheets/fonts/museosans_700.eot');
    src: url('/stylesheets/fonts/museosans_700.eot?#iefix') format('embedded-opentype'),
         url('/stylesheets/fonts/museosans_700.woff') format('woff'),
         url('/stylesheets/fonts/museosans_700.ttf') format('truetype'),
         url('/stylesheets/fonts/museosans_700.svg#gotham-light') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Museo900-Bold';
    src: url('/stylesheets/fonts/museo900-bold.eot');
    src: url('/stylesheets/fonts/museo900-bold.eot?#iefix') format('embedded-opentype'),
         url('/stylesheets/fonts/museo900-bold.woff') format('woff'),
         url('/stylesheets/fonts/museo900-bold.ttf') format('truetype'),
         url('/stylesheets/fonts/museo900-bold.svg#gotham-light') format('svg');
    font-weight: 100;
    font-style: normal;
}

h1 {font-family: 'Gotham-Light'; font-weight: normal}
body {font-family: Arial, Helvetica;}

.gloabl-counter > div > span,
.gloabl-counter > div > ul > li,
.hall-of-fame > .hall-header > h4 > span,
.honor-member-info > span {font-family: 'Museo700-Sans'; font-weight: 100}

.feature-wrapper > h2 {font-family: 'Museo900-Bold'; font-weight: 100}
.feature-wrapper > h2 > span {font-family: 'Museo500-Light'; font-weight: 100}

.items-wrapper > section > h2,
.related-content > div > h2 {font-family: 'GothamMediumRegular'; font-weight: 100}

.sign-up-btn,
.sec-title-med,
#pageslide-slide-wrap > div h2 {font-family: "GothamMediumRegular"}

.sec-title,
.h2 {font-family: 'GothamBoldRegular'}

#join > a {font-family: "GothamBoldRegular"}

.feature-wrapper > h2 > span {font-weight: normal}

.feature-wrapper > h2 {font-weight: bold}

@-moz-document url-prefix() {
  .feature-wrapper > h2,
  .feature-wrapper > h2 > span {font-weight: 100}
}