.search > p > input{margin-top:2px}
.user-info > .btn-gradient span{height:29px;width:31px;display:block;background:url('../images/btn-private-msg.png') no-repeat 7px 5px}
.points-wrapper > span.green-heart span{background-position:0 0}
.points-wrapper > span.bronze-heart span{background-position:0 -30px}
.points-wrapper > span.silver-heart span{background-position:0 -60px}
.points-wrapper > span.gold-heart span{background-position:0 -90px}

.points-wrapper > .level span{float:left;height:30px;width:30px;background:url("../images/hearts.png") no-repeat 0 0}
.avatar{border:1px solid rgb(206, 207, 208)}
.items > li {background-color:rgb(234, 240, 243)}
