.auth-submit{padding: 0 2px; border-bottom: none;}
.auth-submit:hover{border-bottom: none;}
.request-topic-wrapper{width: 137px;}   
.sign-up-btn{background-color: #3a7ab9;}
.user-wrapper{overflow: hidden;}                          
article > header .avatar-wrapper{text-align: center;}
.view-more{width: 76px;}
.edit-profile{float: left; width: 100%;}
.user-sb-white{overflow: hidden;}
.msg-opts{width: 127px;}
.pm-user{width: 100%;}
.request-topic > span > span{width: 86px;}
.header-top{z-index: 99;}