.auth-submit{padding: 0 2px; border-bottom: none;}
.auth-submit:hover{border-bottom: none;}
.request-topic-wrapper{width: 137px;}   
.sign-up-btn{background-color: #3a7ab9;}
.user-wrapper{overflow: hidden;}                          
article > header .avatar-wrapper{text-align: center;}
input.placeimg.error{background: #ffffff url('../images/pass_placeholder_error.png') no-repeat 0 0}
