body > div > div{ background: url('../images/bg-gradient.jpg') repeat-x 0 92px}
.container{background: url('../images/bg-color-text-600.jpg') no-repeat 50% 107px}
.slogan{height:165px; font-family: 'GothamBoldRegular'; text-indent: -9999px; overflow: hidden;}
.slogan > h1{color: #ffffff; font-size: 100px; text-shadow: 0px 4px 4px #51839f;}
.slogan > h2{color: #ffffff; text-shadow: 0px 2px 2px #51839f; font-size: 18px; margin:14px 0 57px 0}
.features{overflow: hidden; margin-bottom: 72px;}
.items-wrapper > section{width: 460px; float: left;}
.items-wrapper > section > h2{font-size: 16px; color: #3b3f42; border-bottom: 1px solid #c1d2de; padding-bottom: 7px; margin-bottom: 15px;}
.items > li{width: 440px;}
.item-data{width: 365px; line-height: 20px;}
.topics{margin-right: 20px;}
.feeds{margin-left: 20px;}
.item-data .feed-date{font-size: 11px; color: #bdc6cb;}
.feature-wrapper{width: 302px; margin: 5px 21px 5px 5px; float: left; text-align: center;}
.feature{background-color: #ffffff; height: 175px; border: 1px solid #a8bfcb; float: left; width: 100%; margin-top: 9px;}
.features li:first-child{margin-left: 1px;}
.features > .last-feature{margin-right: 1px;}

.feature-wrapper h2{color: #275777; font-size: 28px; text-shadow: 1px 1px 1px #ffffff; margin-bottom: 7px;}
.feature-wrapper p{color: #707f8a; font-size: 16px; text-shadow: 0 1px 1px #f7fbfe;}
.feature-image{position: relative; height: 200px;} 
.feature-image > img{position: absolute; bottom: 0; left: 0;}
#anonymity > .feature-image > img{bottom: -7px;}
#trustworthy > .feature-image > img{bottom: 12px;}
#join{width: 228px; height: 123px; overflow: hidden; border: 2px solid #226099;  text-align: center; margin: 5px 1px 5px 5px; float: left;
  background-image: -moz-linear-gradient(top, #5191c3, #2865a3);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #5191c3),color-stop(1, #2865a3));
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#5191c3', EndColorStr='#2865a3');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5191c3', EndColorStr='#2865a3')";
}    
#join > a{color: #ffffff; text-decoration: none; text-shadow: 0px -2px 2px #255890; height: 121px; display: block; border: 1px solid #8CB7D8; overflow: hidden;}
#join > a > span{display: block; height: 51px; padding: 34px 0; border: 1px solid #669ecb;}
.join-st-line{font-size: 36px; display: block;}
.join-nd-line{font-size: 18px; color: #a9d0ef;}

.presentation{color: #ffffff; font-family: "GothamBoldRegular"; text-align: center; font-size: 28px; font-weight: normal; overflow: hidden; text-indent: -9999px;}

.watch-video{position: relative; height: 32px;}
.watch-video > div{position: absolute; left: 50%; top: 0;}
.watch-video > div > a{position: relative; left: -50%; border: 1px solid #6f9bb5; float: left; background-color: #edf6fa;
  -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5), inset 0 -1px 0 #fff;
     -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5), inset 0 -1px 0 #fff;
          box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5), inset 0 -1px 0 #fff;
  background: url('../images/bg-hide.png') repeat-x 0 0, -moz-linear-gradient(top, #eaf7fd, #f9fdfe);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eaf7fd),color-stop(1, #f9fdfe));
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#eaf7fd', EndColorStr='#f9fdfe');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eaf7fd', EndColorStr='#f9fdfe')";  

}                         

.watch-video > div > a:hover{
  background-image: -moz-linear-gradient(top, #f9fdfe, #eaf7fd);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f9fdfe),color-stop(1, #eaf7fd));
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9fdfe', EndColorStr='#eaf7fd');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9fdfe', EndColorStr='#eaf7fd')";
}
  
.watch-video > div > a:hover{text-decoration: none;}
.watch-video > div > a > span{background-image: url('../images/icn-film.png'); background-repeat: no-repeat; background-position: 0 1px; margin: 8px 8px 0 8px; float: left; padding: 0 0 8px 22px; letter-spacing: 1px; font-weight: bold}

#watch-video-overlay{width: 790px;}
.overlay-wrapper{position: absolute; left: 0; top: 0; display: none; z-index: 10000; background-color: #fcfaf4; float: left;
  -moz-box-shadow: 0px 0px 21px #000000;
  -webkit-box-shadow: 0px 0px 21px #000000;
  box-shadow: 0px 0px 21px #000000;
}

.opacityWrapper{height: 100%; position: fixed; width: 100%; z-index: 9999; top: 0; left: 0; display: none; background-color: rgba(0, 0, 0, .6);}
.overlay{
  -moz-box-shadow: inset 0px 0px 27px rgba(207, 199, 184, .22);
  -webkit-box-shadow: inset 0px 0px 27px rgba(207, 199, 184, .22);
          box-shadow: inset 0px 0px 27px rgba(207, 199, 184, .22);
}
.overlay-padding{padding: 5px}
.overlay-wrapper > .close {position: absolute; right: -14px; top: -13px; cursor: pointer; height: 26px; width: 26px; background: transparent url('../images/close-overlay.png') no-repeat 0 0;}