body > div {
    background: url("../images/bg-topic-detail.jpg") repeat-x fixed 0 118px transparent;
}

.messages-wrapper .right-side {
    background: url("../images/bg-article.png") repeat-x scroll 0 1px #FFFFFF;
    float: left;
    width: 780px;
}
.messages-wrapper .right-side .messages-title {
    background: none repeat scroll 0 0 #FCFCFC;
    border-bottom: 1px solid #DBDFE3;
    height: 30px;
    padding: 10px 20px 0;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
}
.messages-wrapper .right-side .messages-title h2 {
    float: left;
    font-family: 'GothamMediumRegular';
    font-size: 17px;
    font-weight: normal;
}
.message-data {float: left; width: 520px; margin-left: 10px}
.message-data .msg a {color: #494b4c; font-size: 13px}
.message-data  > .from > a {font-size: 13px; float: left; padding-top: 11px}

.from {padding-bottom: 10px; overflow: hidden;}
.from > a > span{float: left; margin-right: 3px;}
.from .display-pm{color: #468ac4; font-weight: bold;}
.from .display-pm:hover{text-decoration: underline;}

.delete-message {float: right; width: 110px; position: relative; top: 22px}
.delete-message > .date {font-size: 11px; color: #a1aab2; float: right; padding: 3px 10px 0 0}
.delete-message > a {float: right; padding: 2px 2px 2px 3px; width: 12px; height: 12px;}
.messages-wrapper .delete-message .opt-delete {background-image: url('../images/icn-options-user.png'); background-position: 0 -13px; border-color: transparent; background-repeat: no-repeat; width: 9px; height: 11px; text-indent: -9999px; font-size: 0; line-height: 0; padding: 0; display: block}
.opt-reply {height: 16px; left: -22px; top: 33px; padding: 0; position: absolute; width: 16px; text-indent: -9999px; font-size: 0; line-height: 0;
  background-image: url('../images/icn-reply-drk.png'); background-repeat: no-repeat;
}
.new > .opt-reply {background-image: url('../images/icn-new-message-indicator.png'); background-repeat: no-repeat}

#pm-wrapper .messages {padding: 20px 20px 40px 30px}
.messages > li {position: relative; width: auto; background-color: #FBFBFB; border: 1px solid #dfe2e6; margin-bottom: 20px; padding: 10px 11px 10px 9px;
  -webkit-box-shadow: inset 0 0 0 1px #fff;
     -moz-box-shadow: inset 0 0 0 1px #fff;
          box-shadow: inset 0 0 0 1px #fff;
}
.messages > li.new {background-color: #f2f9ff; border-color: #398fe5;
  -webkit-box-shadow: 0 0 5px rgba(76, 166, 255, .3), inset 0 0 0 1px #fff;
     -moz-box-shadow: 0 0 5px rgba(76, 166, 255, .3), inset 0 0 0 1px #fff;
          box-shadow: 0 0 5px rgba(76, 166, 255, .3), inset 0 0 0 1px #fff
}

.pm-panel-padding {padding: 0 20px 20px 20px}

.pm-details{font-size: 12px; padding-top: 20px}
.pm-user{margin-bottom: 20px}
.pm-user-response{color: #b3b8bc; padding: 20px 0 10px}
.pm-user-response > a{color: #5e5e5e; font-weight: bold;}
.pm-user .avatar-wrapper{margin-right: 14px; z-index: 1;}
.pm-user-details{color: #b3b8bc; margin-top: 10px; float: left; width: 536px;}
.pm-user-details > div{margin-bottom: 5px;}
.pm-user-details a{color: #468ac4; font-weight: bold;}
.pm-message{color: #3f4245; line-height: 18px; border-bottom: 1px solid #dae0e5; padding-bottom: 20px}

#pm-wrapper strong{color:black}
.hide{display: none;}   
.response-wrapper{margin: 0 0 11px 0; width: 660px; border: none;}
.new_private_message > .btn-gradient{padding: 5px 9px; display: none;}

.pm-flash.success{margin: 4px 0 20px 0; padding: 7px;}
.pm-flash.success > p{font-size: 12px; word-spacing: -1px;}

.back-to-msgs {float: right; font-size: 12px; margin-top: -3px}
.back-to-msgs span {padding: 4px 10px 0; height: 18px; display: block}

.new-response textarea {border: 0; font-family: arial; font-size: 13px; line-height: 20px; min-width: 646px; width: 646px; max-width: 646px}

.replies-wrapper {float: left}
.replies-wrapper > .discussion-wrapper {border-bottom: 1px solid #dae0e5; padding: 20px 0; float: left}
.replies-wrapper > .discussion-wrapper > .avatar-wrapper {margin-right: 10px}
.replies-wrapper > .discussion-wrapper > .message-data {float: left; margin-left: 0; width: 666px;}
.replies-wrapper > .discussion-wrapper > .message-data > .from {padding-bottom: 5px}
.replies-wrapper > .discussion-wrapper > .message-data > .from > a {float: left; font-size: 13px; font-weight: bold; padding-top: 0}
.replies-wrapper > .discussion-wrapper > .message-data > .from > .date {color: #A1AAB2; float: right; font-size: 11px}
.replies-wrapper > .discussion-wrapper > .message-data > .msg {}
  
.my-messages-reply-wrapper {float: left; padding: 20px 0}
.my-messages-reply-wrapper > .avatar-wrapper {margin-right: 10px}
.my-messages-reply-wrapper > form {float: left}