/* line 3, sass/my_topics.scss */
.my-topics-wrapper {
  position: relative;
}
/* line 4, sass/my_topics.scss */
.my-topics-wrapper .is_empty {
  border: 1px solid #dfe2e5;
  margin: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 6, sass/my_topics.scss */
.my-topics-wrapper .is_empty .title {
  font-size: 16px;
  margin: 7px 0 4px;
}
/* line 7, sass/my_topics.scss */
.my-topics-wrapper .is_empty div {
  padding: 15px 12px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: transparent #ffffff #dae0e6;
}
/* line 9, sass/my_topics.scss */
.my-topics-wrapper .is_empty div:first-child {
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -ms-border-radius: 2px 2px 0 0;
  -o-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
/* line 12, sass/my_topics.scss */
.my-topics-wrapper .is_empty div:last-child {
  border-bottom-color: #ffffff;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -ms-border-radius: 0 0 2px 2px;
  -o-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
/* line 17, sass/my_topics.scss */
.my-topics-wrapper .help-box {
  background-color: #f8fafa;
}

/* line 21, sass/my_topics.scss */
.is_empty .request-topic {
  float: none;
  margin: 0;
}

/* line 23, sass/my_topics.scss */
.content.my-topics-wrapper .right-side {
  background: url("../images/bg-article.png") repeat-x scroll 0 1px white;
  min-height: 280px;
  margin-left: 160px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}
/* line 27, sass/my_topics.scss */
.content.my-topics-wrapper .right-side h2 {
  font-family: 'GothamMediumRegular';
  font-weight: normal;
  font-size: 17px;
  float: left;
}
@media (max-width: 767px) {
  /* line 23, sass/my_topics.scss */
  .content.my-topics-wrapper .right-side {
    margin-left: 0;
  }
}

/* line 37, sass/my_topics.scss */
.topic-participation {
  margin: 20px 20px 0;
  padding-bottom: 10px;
}
/* line 40, sass/my_topics.scss */
.topic-participation > li {
  margin-bottom: 20px;
  border: 1px solid #dfe2e5;
}
/* line 42, sass/my_topics.scss */
.topic-participation > li > .topic-spotlight,
.topic-participation > li > .topic-recent-historial {
  padding: 10px;
}
/* line 43, sass/my_topics.scss */
.topic-participation > li > .topic-spotlight {
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #dae0e6;
}
/* line 44, sass/my_topics.scss */
.topic-participation > li > .topic-recent-historial {
  background-color: #f7f9fa;
}
/* line 46, sass/my_topics.scss */
.topic-participation .topic-spotlight .avatar {
  width: 42px;
  height: 42px;
  padding: 3px;
}
/* line 47, sass/my_topics.scss */
.topic-participation .topic-spotlight .avatar > span {
  top: 32px;
  left: 9px;
}
/* line 48, sass/my_topics.scss */
.topic-participation .topic-spotlight .avatar img {
  width: 42px;
  height: 42px;
}
/* line 50, sass/my_topics.scss */
.topic-participation .topic-spotlight .item-data {
  width: 100%;
  float: none;
}
/* line 52, sass/my_topics.scss */
.topic-participation .topic-spotlight .item-data > div {
  margin-top: 3px;
}
/* line 54, sass/my_topics.scss */
.topic-participation .topic-spotlight .title {
  font-size: 18px;
  line-height: 21px;
  font-family: 'GothamMediumRegular';
  font-weight: lighter;
  display: block;
  margin: 5px 0;
}
/* line 55, sass/my_topics.scss */
.topic-participation .topic-spotlight .by-author {
  font-size: 11px;
  margin-right: 15px;
}
/* line 56, sass/my_topics.scss */
.topic-participation .topic-spotlight .responses {
  margin-right: 10px;
  background-image: url("../images/icn-responses-dark.png");
  background-position: 0 1px;
  background-repeat: no-repeat;
}
/* line 57, sass/my_topics.scss */
.topic-participation .topic-spotlight .tags {
  font-size: 11px;
}
/* line 58, sass/my_topics.scss */
.topic-participation .topic-spotlight .tags > li:first-child {
  background-image: url("../images/tag-horizontal.png");
  background-position: 0 2px;
  background-repeat: no-repeat;
  padding-left: 20px;
}
/* line 60, sass/my_topics.scss */
.topic-participation .topic-recent-historial .collaborations {
  font-size: 11px;
  color: #a1aab2;
  background-image: url("../images/icn-white-bubble-talk.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  padding-left: 17px;
  line-height: 14px;
}
/* line 61, sass/my_topics.scss */
.topic-participation .small-avatars {
  margin: 10px 0 5px;
  float: left;
}
/* line 62, sass/my_topics.scss */
.topic-participation .small-avatars > li {
  float: left;
  margin-right: 15px;
}
/* line 63, sass/my_topics.scss */
.topic-participation .small-avatars .recently-topics > ul > li {
  float: none;
  margin-right: 0;
}
/* line 64, sass/my_topics.scss */
.topic-participation .small-avatars .avatar {
  width: 24px;
  height: 24px;
  padding: 3px;
}
/* line 65, sass/my_topics.scss */
.topic-participation .small-avatars .avatar > span {
  top: 20px;
  left: 5px;
}
/* line 66, sass/my_topics.scss */
.topic-participation .small-avatars .avatar img {
  width: 24px;
  height: 24px;
}
