.container > div{background:url("../images/inner-shadow-top.png") repeat-x scroll 0 0 #FFFFFF;padding:20px;}
.btn-gradient{float:none;}
form{width:190px;margin:0 auto;}
label{color:#A4A7AB;padding-bottom:2px}
input[type='password']{margin-bottom:7px;border:1px solid #ccc;border-color:#a8a8a8 #d8d8d8 #d8d8d8 #a8a8a8;moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background:#fff;outline:none;-webkit-box-shadow:inset 0px 0px 3px #efefef;height:25px;width:188px}
