body > div {
    background: url("../images/bg-topic-detail.jpg") repeat-x fixed 0 118px transparent;
}
.stream-wrapper {position: relative}
.stream-wrapper aside {width: 140px; float: left; margin-right: 20px}
.stream-wrapper .sub-nav > li > a {color: #394551; text-sahdow: 0 1px 0 rgba(255, 255, 255, .35); display: block; height: 30px; line-height: 30px;}

.stream-wrapper .sub-nav > li > a > .icon {background: url("../images/logged-in-nav-icons.png") 0 0; width: 30px; height: 30px; display: block; float: left; margin: 0 2px 0 3px}
.stream-wrapper .sub-nav a.stream > .icon {background-position: 0 0}
.stream-wrapper .sub-nav > .active a.stream > .icon {background-position: -30px 0}
.stream-wrapper .sub-nav a.messages > .icon {background-position: 0 -30px}
.stream-wrapper .sub-nav > .active a.messages > .icon {background-position: -30px -30px}
.stream-wrapper .sub-nav a.my-topics > .icon {background-position: 0 -60px}
.stream-wrapper .sub-nav > .active a.my-topics > .icon {background-position: -30px -60px}

.stream-wrapper .sub-nav > .active {background-color: rgba(57, 69, 81, .4);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .3);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .3);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .3);
}
.stream-wrapper .sub-nav > .active > a {color: #fff; text-shadow: 0 1px 1px rgba(0, 0, 0, .75); font-weight: bold}
.stream-wrapper .right-side {float: left; background: url("../images/bg-article.png") repeat-x scroll 0 1px #fff; width: 800px}

.stream-wrapper .right-side .stream-title {border-bottom: 1px solid #dbdfe3; padding: 10px 20px 0; background: #fcfcfc; height: 30px; 
  -webkit-border-radius: 3px 0 0 0;
     -moz-border-radius: 3px 0 0 0;
          border-radius: 3px 0 0 0
}
.stream-wrapper .right-side .stream-title h2 {font-family:'GothamMediumRegular'; font-weight: normal; font-size: 17px; float: left}
.stream-wrapper .right-side .stream-title .filter {float: right}

.stream-wrapper .right-side .streams {float: left; width: 559px; border-right: 1px solid #dae0e6; min-height: 449px;}
.stream-wrapper .right-side .recommended-topics {float: left; width: 200px; padding: 15px 20px}
.stream-wrapper .right-side .recommended-topics h3 {font-family: 'GothamMediumRegular'; font-size: 16px; font-weight: normal; border-bottom: 1px solid #dae0e6; padding-bottom: 8px; margin-bottom: 10px}
.stream-wrapper .right-side .recommended-topics ul {margin-bottom: 30px}
.stream-wrapper .right-side .recommended-topics li {margin-bottom: 10px; background-color: #f5f7fa; line-height: 18px}
.recommended-topics li > a {display: block; padding: 10px}