html{height: 100%;}
body{background-color: #e3ecf0; background-image: url('../images/bg-noise.png'); height: 100%;}
.page-wrapper{min-height: 100%;}
.page-wrapper > header{
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
  box-shadow: 0px 0px 2px rgba(0,0, 0, .6);
}
.aligned{width: 960px; margin: 0 auto;}
a{color: #468ac4}
input:active,
a:active{outline:none;}
button::-moz-focus-inner,
input::-moz-focus-inner,
a::-moz-focus-inner { border: 0;outline:0 }
.dark-lk{color: #5d646a; font-weight: bold;}
em{font-style:normal}
input[type=text],
input[type=password],
input[type=email],
textarea{border: 1px solid #ccc;cursor:text;}
input.error[type=text],
input.error[type=password],
input.error[type=email],
textarea.error{border-color:#D93E3E;background:url('../images/cross-error.png') no-repeat right 0 white;cursor:pointer;}
form > p > label{display: block;}
input[type=checkbox] + label{display: inline;}
.container > .aligned input.error, input:focus:invalid, #twitter textarea:focus:invalid{
  border: 1px solid #e79090;
  background: url('../images/error-mark.png') no-repeat 110px 8px;
}
body header{background-color: #fcfdfe; position: fixed; width: 100%; z-index: 2;}
.rainbow{background: url('../images/rainbow.jpg') repeat-x; height: 3px;}
.gray{height: 5px; border-bottom: 1px solid #c0c9ce; border-top: 1px solid #f7fafb; position: absolute; width: 100%; top: 3px;}
.light{background-color: #e2ecf2;}
.dark{background-color: #d7e4eb;}
.placeholder{color:#bbb}
.header-wrapper{background-color: #ffffff; border-top: 1px solid #e0e9ee; height: 39px;}
.header-top{height: 37px; text-align: center; padding: 10px 0; position: relative; margin-top: 6px}
.topic{background: url('../images/transcend.png') no-repeat center 0;}
.homepage{background: url('../images/homepage.png') no-repeat center 0;}
.clear{clear:both!important;float:none!important;}
.links{width: 237px; height: 54px; left: 361px; position: absolute; top: 0;  text-align: center;}
.topic > .links > div{height: 18px; padding-top: 2px;}
.homepage > .links > div{padding-top: 5px;}

.lgbt{font-size: 24px; font-family: 'GothamBoldRegular'; text-indent: -9999em; float: left; width: 100%; height: 20px; outline:0; border:0;}
.lan{font-size: 14px; color: #7194a7;}

.sign-up{float: left; text-align: left; width: 240px;}
.auth-wrapper{height: 32px; float: left; width: 96px; position: relative;}
.sign-up-lk{ border: 1px solid #4785bf; line-height: 2; float: left;}
.auth-wrapper > .sign-up-lk{text-decoration:none}
.auth-wrapper > a{position: absolute; z-index: 1000; left: 0; height: 32px; text-align: center;}

.auth-wrapper > a.auth-form-active{text-decoration: none;border: none}

.auth-wrapper span{float: left; width: 72px; padding: 0 10px; height: 30px;}
.sign-up-btn{border: 1px solid #94bddf;  font-family: "GothamMediumRegular"; font-size: 17px; color: #ffffff; text-align: center;
  background-image: -moz-linear-gradient(top, #5998cc, #3778b7);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #5998cc),color-stop(1, #3778b7));
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#5998cc', EndColorStr='#3778b7');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5998cc', EndColorStr='#3778b7')";
}

.sign-up-btn:hover{
  background-image: -moz-linear-gradient(top, #6eade1, #5296d6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #6eade1),color-stop(1, #5296d6));
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#6eade1', EndColorStr='#5296d6');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#6eade1', EndColorStr='#5296d6')";
}

#login{line-height: 2.8;}
#login span{padding:1px 0 0 1px;}
#login.auth-form-active span{padding:0;}
.header-top .sign-up .auth-form-active,
#sign-up.auth-form-active{outline:0 none;}
.auth-wrapper .auth-form-active > span,
.auth-wrapper .auth-form-active > span:hover{padding-top:1px;background: #f3f3f3; border-style: solid; border-color: #d4dce2 #d4dce2 transparent #d4dce2; border-width: 1px; color: #66a8d6;border-top-color:#f3f3f3;;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
}

.sign-up > .auth-form-active:first-child{
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;

  border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
}
.logged_opts{float: left; margin-top: 12px;}
.logged_opts > li{float: left; margin-right: 23px;}
.logged_opts > li > a{color: #9b9b9b}
.search{float: right;}
.search > p{border: 1px solid #CCC; width: 280px; height: 29px; padding: 0 10px; margin: 3px 0 5px;}
.search > p > input{width:258px;height:27px;border:none;float: left}
.search > p > span{background-image: url('../images/icn-search.png'); background-repeat: no-repeat; float: right; width: 13px; height: 12px; margin-top: 9px;clear:none}
.search > ul{background-color:#eff1f2; border: 1px solid white;display:none; width: 280px; padding:3px; margin: 0px; position: absolute;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;-moz-box-shadow: 0px 1px 2px rgba(42, 83, 110, .6);-webkit-box-shadow: 0px 1px 2px rgba(42, 83, 110, .6);box-shadow: 0px 1px 2px rgba(42, 83, 110, .6);z-index:2;}
.search > ul.visible{display:block;}
.search > ul >li{text-align:left;border-bottom:1px solid #d7dadf;padding:7px 0 6px;background-color:#fbfbfb;}
.search > ul >li:hover{background-color: #F0F7Fb;}
.search > ul >li.last{border:none;}
.search > ul >li a{text-decoration:none;padding-left:10px;}
.empty{background-position: 0 100%;}
.slogan{text-align: center;}
.header-tags{height: 100%;position:relative;}
.header-tags > ul{float: left; height: 100%;}
.header-tags > ul > li{float: left; height: 100%; border-right: 1px solid #e0e9ee;}
.header-tags > ul > li > a{color: #468ac4; padding: 0 20px; height: 100%; line-height: 3; float: left; font-weight:bold;}
.more{background: url('../images/more.png') no-repeat 55px 17px; position: relative;}
.more > a{text-decoration:none;color:#61656a!important}
.more-tags{background-color: #f6f9fb; position: absolute; top: 39px; display: none;
  -moz-box-shadow: 0px 1px 2px rgba(42, 83, 110, .6);
  -webkit-box-shadow: 0px 1px 2px rgba(42, 83, 110, .6);
  box-shadow: 0px 1px 2px rgba(42, 83, 110, .6);
}
.more-tags > li{height: 36px; border-bottom: 1px solid #eaeef0; padding:0 15px; line-height: 3;font-weight:bold;white-space:nowrap;}
.more-tags > li:last-child{border-bottom: none;}
.more:hover {background-color:#f9f9f9;border-right-color:#dfe1ed}
.more:hover .more-tags{display: block;}
.request-topic{float: right; margin:7px 10px 0 0; height: 25px; background: url('../images/request-bg.png') repeat-x 0 -25px;outline:0;}
.request-topic > span{float: right; height: 100%; text-align: center; background: url('../images/request-bg.png') no-repeat; padding-left: 3px;}
.request-topic > span > span{float: right; width: 140px; height: 100%; line-height: 2; background: url('../images/request-bg.png') no-repeat right -50px; padding-right:4px;}

.tags,
.tags > li{display: inline;}

.container{padding-top:126px}

.footer-shadow{display: block; margin: 0 auto; display: block; background: url('../images/div-footer.png') no-repeat 50% 0; margin-top: 30px; height: 29px;}

footer > .aligned{padding: 7px 0 36px 0;}
footer > div > ul{float: right;}
footer > div > ul > li{display: inline;}
footer > div > span{float: left; color: #898f93;}

.over-form{position:absolute;top:0;left:0;width:280px;background:#f3f3f3;display:none;padding:10px;border:solid #d4dce2 1px; color:#797e84;z-index:999;border-top:none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
}

.over-form.auth-form-active{display: block;}
.form-parag{margin-bottom: 15px; font-size: 12px;}
.over-form > ul{overflow: hidden;}
.over-form > ul > li{margin-bottom: 5px; float: left;}
.over-form > ul > li > input[type="text"],
.over-form > ul > li > input[type="email"],
.over-form > ul > li > input[type="password"]{width: 257px;height:32px; padding: 0 10px; margin-bottom: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.over-form > ul > li > input.placeimg{background:url('../images/pass_placeholder.png') no-repeat 0 0 white}
p.error{color: #d93e3e; margin: 0 0 5px 1px;}
p.success{color:#6fa677; margin: 0 0 5px 1px;font-size:11px;line-height:1em;border:1px #a3c9a9 solid;background:url("../images/checked.png") no-repeat 14px 6px #ebffee;padding:7px 0 0 34px;height:18px;width:243px;
    -moz-border-radius: 2px;
    -webkit-border-radius:2px;
    border-radius:2px;
      }

.btn-gradient.cancel-forgot{float: right; padding: 0 12px; height: 32px; margin-right: 10px; color: #61656a;}

.auth-submit{border: none;  border-bottom: 1px solid #1e4d88; padding: 0 12px; height: 32px; float: right; color: #ffffff;
  background-image: -moz-linear-gradient(top, #64a2d1, #2f6daf);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #64a2d1),color-stop(1, #2f6daf));
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#64a2d1', EndColorStr='#2f6daf');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#64a2d1', EndColorStr='#2f6daf')";
}

.auth-submit:hover{
  border-bottom: 1px solid #5a8fbb;
  background-image: -moz-linear-gradient(top, #77b3e3, #498dd2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #77b3e3),color-stop(1, #498dd2));
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#77b3e3', EndColorStr='#498dd2');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#77b3e3', EndColorStr='#498dd2')";
}

.legend{font-size: 10px; float: left; width: 160px;}
.login-form > .legend{margin-top: 10px;}

.border-all,
.comm-wrap,
.btn-gradient,
.new-response,
.items > li,
.messages > li{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.border-menu{
  border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
}

.border-right{
  border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
}

.border-left{
  border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
}

.request-error.auth-form-active{display: block;}
.request-error{width: 195px;height: 97px;position:absolute;display:none;top:42px;right:-10px}
.request-error > span{border-color: transparent transparent #faf8e5; border-style: solid; border-width: 0px 10px 10px; float: left; height: 0px; margin: 0px 87px; width: 0px;}
.request-error > div{width: 169px; height: 71px; float: left; border-bottom: 1px solid #cac8b1; padding: 12px;
  background-image: -moz-linear-gradient(top, #faf8e5, #faf7da);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #faf8e5),color-stop(1, #faf7da));
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#faf8e5', EndColorStr='#faf7da');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#faf8e5', EndColorStr='#faf7da')";
}
.request-error > div.clear{width:auto;height:auto;float:none;border:none;padding:0}
.sign-up-legend{font-weight: bold; text-align: center; color: #52503b; line-height: 1.3; margin: 0 0 8px 0;}
.request-error > div > a{height: 25px; width: 83px; overflow: hidden; margin: 0 39px;}
.request-error > div > a > span{float: left; width: 61px; padding: 0 10px; height: 23px; font-size: 12px;}

.disabled{-moz-opacity:.50; filter:alpha(opacity=50); opacity:.50; }

.btn-gradient{text-align: center; float: left; border-style: solid; border-width: 1px; border-color: #d2e3ec #cddfe9 #a0bfd1; color: #468AC4;
  background-image: -moz-linear-gradient(top, #f9fbfc, #eaf2f5);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f9fbfc),color-stop(1, #eaf2f5));
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9fbfc', EndColorStr='#eaf2f5');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9fbfc', EndColorStr='#eaf2f5')";  
}

.btn-gradient:hover{
  background-image: -moz-linear-gradient(top, #fbfeff, #f2fbff);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fbfeff),color-stop(1, #f2fbff));
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fbfeff', EndColorStr='#f2fbff');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fbfeff', EndColorStr='#f2fbff')";
}

.responses {background:url("../images/topic-icons.png") no-repeat scroll 0 -21px transparent;padding-left:15px;display:inline!important;white-space:nowrap;}
.tags{background: url('../images/topic-icons.png') no-repeat 0 1px; padding-left: 25px; margin: 0 10px;}   

.response-wrapper{border: 1px solid #daecf3; position: relative;}
.response-wrapper > div{border: 2px solid #e9f0f3; overflow: hidden; position: relative; background-color: #ffffff;}
.new-response > div{padding: 7px;}
.new-response a{display: block; color: #868484; padding-left: 15px; background: url('../images/icn-reply.png') no-repeat 0 2px;}
        
.pm-flash{padding: 7px 12px; margin-bottom: 10px;}
.pm-flash > p{padding-left: 20px;}

.pm-flash.success{background-color: #ebffee; border: 1px solid #a3c9a9;}
.pm-flash.success > p{background: url('../images/check-mark.png') no-repeat; color: #6fa677;}

.pm-flash.error{background-color: #ffffff; border: 1px solid #E79090;}
.pm-flash.error > p{background: url('../images/error-mark.png') no-repeat 0 2px; color: #D93E3E;}

 #pageslide-slide-wrap{background:none white}
 #pageslide-slide-wrap > div{background-image:none;}
 #pageslide-slide-wrap > div > div{overflow:hidden;}
 #pageslide-slide-wrap > div div.header{margin-top:2px;border-bottom:1px solid #e9f2f6;overflow:hidden;padding:18px 0 19px 0;
     background-image: -moz-linear-gradient(top, #EDF5F9, #F3FAFD);
     background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #EDF5F9),color-stop(1, #F3FAFD));
     filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#EDF5F9', EndColorStr='#F3FAFD');
     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#EDF5F9', EndColorStr='#F3FAFD')"}
 #pageslide-slide-wrap > div h2 {float:left;width:420px;padding-left:30px;font-family:GothamMediumRegular;font-size:16px;margin-top:7px;}
 #pageslide-slide-wrap > div a  {float:right;height:18px;width:45px;margin-right:29px;color:#8497a7;font-weight:bold;background:url("../images/back-bg.png") no-repeat scroll 0 0 transparent;line-height:1em;padding:7px 0 0 23px}
 #pageslide-slide-wrap > div a:active{outline:0;border:0;}
 /*#pageslide-slide-wrap > div a > span{background:url("../images/back-bg.png") no-repeat scroll right 0 transparent;float:left;height:100%;padding-right:3px;text-align:center}
 #pageslide-slide-wrap > div a > span > span{background:url("../images/back-bg.png") no-repeat scroll left -50px transparent;float:left;height:100%;line-height:2;padding-left:11px;width:54px}*/
 #pageslide-slide-wrap > div form{float:left;padding:21px 0 0 30px;font-size:12px;font-family:Arial, Helvetica, sans-serif;width:496px;}
 #pageslide-slide-wrap > div form > fieldset{border:none;margin:0;padding:0;}
 #pageslide-slide-wrap > div form label{font-size:13px;margin-bottom:6px;line-height:1em;display:block;} 
 #pageslide-slide-wrap > div form input[type="text"]{font-size:12px;height:11px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border:1px solid #D9E2E6;border-top-color:#929898;border-bottom-color:#e1eaee;padding:10px;line-height:1em;color:#888;margin-bottom:29px;display:block;width:474px;font-family:Arial, Helvetica, sans-serif}
 #pageslide-slide-wrap > div form textarea{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border:1px solid #D9E2E6;border-top-color:#929898;border-bottom-color:#e1eaee;padding:8px 10px;color:#888;margin-bottom:16px;font-family:Arial, Helvetica, sans-serif;font-size:12px;display:block;width:474px}
 #pageslide-slide-wrap > div form input[type="checkbox"]{float:left;margin:10px 5px 0 0}
 #pageslide-slide-wrap > div form label.anonym{float:left;margin-top:10px} 
 #pageslide-slide-wrap > div form input[type="submit"]{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;padding:8px 19px;line-height:1em;float:right;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:12px;background-color:white}

.avatar-wrapper{float:left;position:relative}
.avatar{width:56px;height:56px;padding:4px;float:left;position:relative;background:url("../images/avatar-greybg-border.png") no-repeat 0 0 transparent}
.avatar.expert{background-image:url("../images/avatar-greenbg-border.png")}
.avatar > span{width:30px;height:21px;display:block;position:absolute;left:17px;top:49px;background:url("../images/hearts.png") no-repeat transparent}
.avatar.no-level > span{background:none;}
.avatar.green-heart > span{background-position:0 0}
.avatar.bronze-heart > span{background-position:0 -21px}
.avatar.silver-heart > span{background-position:0 -42px}
.avatar.gold-heart > span{background-position:0 -63px}

.private-msg{position: absolute; width: 270px; padding: 16px; background-color: #f7f7f7; border: 1px solid #dfe1e2; right: -17px; top: -17px; display: none; text-align: left; z-index: 999; font-size: 12px;}
.private-msg > form{display: block; overflow: hidden; display: none;}
.private-msg > form > textarea{width: 269px; height: 126px;}
.private-msg-btns{float: right;}
.private-msg-btns > input{height: 24px;}
.private-msg .cancel{margin-right: 10px; color: #61656a;}
.private-msg > .avatar{float: right;}

.inside{left:-17px}
.inside .user-info{float:right}
.inside .user-wrapper > .avatar{float:left}          

.user-wrapper{overflow: hidden; margin-bottom: 15px;}
.user-wrapper > .avatar{float: right;}
.user-info{float: left; text-align: left;}
.user-info > .btn-gradient{height: 24px; width: 156px; line-height: 2;}
.user-info > p{line-height:14px!important;margin-top:0px !important;padding-bottom:5px}

.recently-topics{margin-top: 15px; border-top: 1px solid #ecf2f5; padding-top: 15px;}
.recently-topics > p{line-height:14px!important;margin-top:0px !important;padding-bottom: 15px;}
.recently-topics > ul{list-style:disc inside}
.recently-topics > ul > li{padding-bottom: 9px;}
.recently-topics > ul > li > a{color: #61656a;}
