/* line 1, sass/style-rtl.scss */
.flash > div > div {
  background-position: 0% 50%;
}

/* Header */
/* line 6, sass/style-rtl.scss */
.homepage > .links > div {
  padding-top: 15px !important;
}

/* line 7, sass/style-rtl.scss */
.lan {
  font-size: 12px;
  color: #4382c0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

/* line 8, sass/style-rtl.scss */
.homepage .lan {
  font-size: 14px;
}

/* line 10, sass/style-rtl.scss */
.topic > .links > div {
  padding-top: 4px;
}

/* line 11, sass/style-rtl.scss */
.homepage > .links > div {
  padding-top: 8px;
}

/* line 13, sass/style-rtl.scss */
.sign-up {
  width: 300px;
}

/* line 14, sass/style-rtl.scss */
.auth-wrapper > #sign-up > span {
  padding: 2px 8px 0;
  height: 22px;
}

/* line 16, sass/style-rtl.scss */
#pm-wrapper .back-to-msgs .arrow {
  border-color: transparent transparent transparent #A7C7E3;
  border-width: 4px 0 4px 4px;
  margin: 2px 0 0 8px;
}

/* line 18, sass/style-rtl.scss */
.placeimg {
  background-image: url("../images/pass_placeholder_ar.png");
}

/* line 20, sass/style-rtl.scss */
.request-error {
  left: -85px;
}

/* line 21, sass/style-rtl.scss */
.sign-up-or-continue > div {
  font-size: 13px;
}

/* BANNER */
/* line 26, sass/style-rtl.scss */
.banner .slogan h1 {
  max-width: 168px;
  height: 96px;
  background: url("../images/home/banner-logo-ar.png") no-repeat 50% 0px;
}

/* line 32, sass/style-rtl.scss */
.items-wrapper > .topics > h2 > .line {
  width: 157px !important;
}

/* line 33, sass/style-rtl.scss */
.items-wrapper > .feeds > h2 > .line {
  width: 172px !important;
}

/* line 34, sass/style-rtl.scss */
.items-wrapper > section > h2 > .line {
  margin-top: 11px !important;
}

/* line 35, sass/style-rtl.scss */
.social-bookmarkers > .btn-twitter {
  margin-right: 5px !important;
  margin-left: 0 !important;
}

/* line 36, sass/style-rtl.scss */
.social-bookmarkers > .btn-facebook {
  border-right-width: 0;
}

/* line 37, sass/style-rtl.scss */
.user-logged-info .activity-btns li:first-child {
  border-right-width: 1px !important;
}

/* line 38, sass/style-rtl.scss */
.user-logged-info .activity-btns li:last-child {
  border-right-width: 0 !important;
}

/* line 39, sass/style-rtl.scss */
.article-wrapper .article-tags {
  width: 205px;
}

/* line 41, sass/style-rtl.scss */
.user-wrapper .view-profile,
.user-wrapper .send-private-msg {
  right: inherit;
}

/* line 42, sass/style-rtl.scss */
.view-more-wrapper > .view-more > span {
  background: url("../../images/view-more-bg.jpg") no-repeat scroll 0 3px transparent !important;
}

/* line 43, sass/style-rtl.scss */
.private-msg {
  left: -25px;
  right: inherit;
}

/* line 44, sass/style-rtl.scss */
.private-msg .origin {
  left: 40px;
  right: inherit;
}

/* line 45, sass/style-rtl.scss */
.private-msg.send-from-stream .origin {
  right: 40px;
}

/* line 47, sass/style-rtl.scss */
.social-bookmarkers > iframe {
  margin-left: 0 !important;
  width: 65px !important;
}

/* line 48, sass/style-rtl.scss */
.follow-topic-wrapper {
  margin-right: 5px;
}

/* line 50, sass/style-rtl.scss */
.panel-sub-nav .sub-nav a.stream > .icon {
  background-position: 0 0;
}

/* line 52, sass/style-rtl.scss */
.header-title-bg {
  height: 32px;
  padding: 6px 20px 0;
}

/* line 53, sass/style-rtl.scss */
.stream-wrapper .filter div.selector {
  margin-top: 0 !important;
}

/* line 54, sass/style-rtl.scss */
.back-to-msgs {
  margin-top: 0;
}

/* UNIFORM */
/* line 57, sass/style-rtl.scss */
div.checker span {
  background-position: 0px -260px;
}

/* line 58, sass/style-rtl.scss */
div.selector span {
  padding: 0 25px 0 2px !important;
  text-align: right;
}

/* line 59, sass/style-rtl.scss */
div.selector select {
  left: 0;
  right: inherit;
}

/* line 61, sass/style-rtl.scss */
.gloabl-counter > div > ul > li {
  float: left !important;
}

/* line 63, sass/style-rtl.scss */
.feature-wrapper h2 {
  font-size: 16px !important;
}

/* line 64, sass/style-rtl.scss */
.hall-header {
  left: 0;
  right: auto;
}
/* line 67, sass/style-rtl.scss */
.hall-header > h4 > span {
  font-weight: bold;
  right: 30px !important;
}

/* line 69, sass/style-rtl.scss */
.honor-member-info > span {
  font-size: 12px !important;
}

/* chat */
/* line 73, sass/style-rtl.scss */
.room-chat-list {
  right: 15px;
}

/* line 76, sass/style-rtl.scss */
.chat-wrapper--widget {
  left: 0;
  right: 310px;
}

/* line 80, sass/style-rtl.scss */
.chat-widget {
  right: 0;
}

/* line 83, sass/style-rtl.scss */
.notification-badge {
  left: 5px;
  right: auto;
}
/* line 86, sass/style-rtl.scss */
.notification-badge.circle {
  left: auto;
  right: 5px;
}

/* tooltip */
/* line 94, sass/style-rtl.scss */
.effekt-tooltip[data-position="top"]:after,
.effekt-tooltip[data-position="bottom"]:after {
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
}

/* icons */
/* line 103, sass/style-rtl.scss */
.chat-icon--user {
  background-position: 0 0;
}

/* line 106, sass/style-rtl.scss */
.chat-icon--close-header {
  background-position: 0 -24px;
}
/* line 108, sass/style-rtl.scss */
.chat-icon--close-header:hover {
  background-position: 0 -36px;
}
