body{font-size: 13px; font-family: Arial, Helvetica; background-color: #e3ecf0;}
.aligned{width: 960px; margin: 0 auto;}              
p::selection{}                       
input[type=text],
input[type=password],
input[type=email],
textarea{border: 1px solid #ccc}
form > p > label{display: block;}
input[type=checkbox] + label{display: inline;}                                             
input.error, input:focus:invalid, #twitter textarea:focus:invalid{background-color:#fbe2e5;}
                            
.header-top{overflow: hidden; text-align: center;}

.sign-up{float: left; text-align: left; width: 240px;}
.sign-up > a{padding: 0 10px; height: 34px; line-height: 3; float: left; width: 76px; text-align: center; overflow: hidden;}              
.sign-up > a:first-child{ 
  background-image: -moz-linear-gradient(top, #444444, #999999);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #444444),color-stop(1, #999999));
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#444444', EndColorStr='#999999');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#444444', EndColorStr='#999999')";  
        -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
              border-radius: 5px;        
} 

.header-top .sign-up > .active{background: #8ac2de;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;  
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;   
}     

.sign-up > .active:first-child{
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;

  border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
}

.search{float: right;}
.slogan{text-align: center;}
.header-tags{overflow: hidden;}
.header-tags > ul{float: left;}
.header-tags > ul > li{display: inline;}    
.header-tags > a{float: right;}
.tags{display: inline}
.tags > li{display: inline;}

footer{display: block;}
footer > ul{float: right;}
footer > ul > li{display: inline;}

.over-form, .sign-up-form{position: absolute; top: 0; left: 0; width: 300px; height: 150px; background: #8ac2de; display: none; padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
}
       
.over-form.active{display: block;}               
.over-form{display: none;}

.border-all{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;  
}           

.border-right{
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;  
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;  
}

.border-left{
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;  
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;  
}