.request-topic,
.request-topic > span,
.request-topic > span > span,
.blue-btn-wrapper .blue-btn,
.blue-btn-wrapper .blue-btn > span,
.blue-btn-wrapper .blue-btn > span > span{background-image: url('../images/blue-btn-bg-rtl.png');}

.blue-btn-wrapper .blue-btn .more-arrow {
  border-color: transparent #468AC4 transparent transparent;
  border-width: 5px 5px 5px 0;
  margin: 7px 5px 0px 0px;
}