.content{position: relative; margin-bottom: 10px;}
body{                                               
  background: url('../images/bg-noise-topic.jpg') repeat fixed top left;                                  
  background: url('../images/topic-bg.jpg') 0 105px repeat-x fixed, url('../images/bg-noise-topic.jpg') top left repeat;
}
body > div{background: url('../images/topic-bg.jpg') repeat-x fixed 0 105px;}
body > div#pageslide-blanket{background:none}
.article-tags{background: url('../images/tag.png') no-repeat; margin-top:15px;padding-left:32px;color:#468AC4;}
.article-tags > li{display: inline;}     
.left-side{float: left; width:700px;}
.related-content{overflow: hidden;}
.related-content li{width: 150px; float: left;}
article{padding: 40px; background:url('../images/bg-article.png') repeat-x 0 2px white; display: block; min-height: 449px;}
.topic-content p{margin-top:10px; line-height: 22px; position: relative}
.topic-content > p:first-child{margin-top: 0;}
.topic-content p > a{font-style: italic} 
article > header{display:block;position:static;}
article > header > h1{}
article > header > div{float:left;}
article > header > div.left{float:left;width:556px;padding-bottom:35px;}
article > header em{display:block;float:left;clear:left;width:100%;text-align:center;color:#468AC4;padding:5px 0 35px 0;}
aside{font-size:12px;float:right;width:200px;padding:0 18px;background:url('../images/bg-aside.png') repeat-x 0 0 #ffffff;position:fixed;border-top:1px solid white;border-left:2px solid white;border-right:2px solid white;}
aside section.show-hide{border-top:none;padding:19px 0 25px;}
aside section.show-hide a{text-align:left;text-decoration:none;padding-left:48px;display:block;width:150px;outline:0 none;float:none!important;
    background: url('../images/icn-show-hide.png') no-repeat 23px 11px, -moz-linear-gradient(top, #fff, #eaf7fd);
    background: url('../images/icn-show-hide.png') no-repeat 23px 11px, -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #eaf7fd));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#eaf7fd');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#eaf7fd')";

}
aside section.show-hide a:hover{
    background: url('../images/icn-show-hide.png') no-repeat 23px 11px, -moz-linear-gradient(top, #fff, #e3f1ff);
    background: url('../images/icn-show-hide.png') no-repeat 23px 11px, -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #e3f1ff));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#e3f1ff');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#e3f1ff')";
}
aside section.show-hide a.hide{
    border-color:#a6b8c5 #dde6ec #dae4eb;
    background:url('../images/icn-show-hide.png') no-repeat 23px 11px, url('../images/bg-hide.png') repeat-x 0 0, -moz-linear-gradient(top, #eaf7fd, #f9fdfe);
    background: url('../images/icn-show-hide.png') no-repeat 23px 11px, -webkit-gradient(linear,left top,left bottom,color-stop(0, #eaf7fd),color-stop(1, #f9fdfe));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#eaf7fd', EndColorStr='#f9fdfe');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eaf7fd', EndColorStr='#f9fdfe')";
}
aside section.filter{padding:5px 0 17px;overflow:hidden;border-bottom:1px solid #f3f3f3;}
aside section.filter ul,aside section.experts ul{margin-top:10px}
aside section.filter h2, aside section.experts h2{border-top:1px solid #ddd;}
aside section.filter h2 span, aside section.experts h2 span{padding:0 4px;background:white;margin:-7px 0 0 6px;display:block;float:left;color:#38414e}
aside section.helpful{padding:13px 0}
aside section.helpful label{margin-left:4px}
aside section.experts{padding:32px 0 25px;border-bottom:1px solid #f3f3f3}
aside section.need-help{padding:10px 0;text-align:center}
.add_comments{display: none; margin-top: 14px; padding-top: 10px; position: relative;}
.add_comments.no-arrow{padding-top: 0; margin-top: 0;}

.response-wrapper > div{padding: 10px;}
.response > textarea{color:#c4c3c3;width:100%;padding:0;height:16px;border:none;margin-top:4px;resize:none;font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:16px;}
.add_comments_top{color:#468AC4;font-weight:bold}
.cancel-comment{color: #c4c3c3; position: absolute; right: 10px; top: 10px;}
.res-types-wrapper{border-top: 1px solid #e9eff6; padding-top: 10px; margin-top: 7px;overflow:hidden;display:none;}
.res-types-wrapper > div.error{float: left; color:red; line-height: 23px;}                                               
.res-types-wrapper > div.buttons{float: right;}                                               
.res-lbl{float: right; margin-right: 10px; line-height: 1.8; color: #7d96b2;}
.res-types{float: right;}
.res-type{border-bottom: 1px solid #bcd0e7; height: 22px; border-left: 1px solid #dee8f2; float: left;
  background-image: -moz-linear-gradient(top, #edf4fb, #e7f1fa);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #edf4fb),color-stop(1, #e7f1fa));
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#edf4fb', EndColorStr='#e7f1fa');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#edf4fb', EndColorStr='#e7f1fa')";        
        position: relative;
}        
.res-type:hover{
  background-image: -moz-linear-gradient(top, #ebf6ff, #e7f1fa);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ebf6ff),color-stop(1, #f2f9ff));
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ebf6ff', EndColorStr='#f2f9ff');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ebf6ff', EndColorStr='#f2f9ff')";  
}   

.res-type > input{border: none; background: none; padding: 0 10px; height: 100%; float: left; cursor: pointer; color: #7c99b6; font-weight:bold;}
.res-type > span{background-image: url('../images/icn-types.png'); background-repeat: no-repeat; position: absolute; top: 4px; left: 10px; width: 12px; height: 12px;}
.res-type > .advice{background-position: 0 -44px;}
.res-type > .comment, 
.res-type > .comments{background-position: 0 -59px;}
.res-type > .story,
.res-type > .experience{background-position: 0 -74px;}

.res-type.border-left{border-left: 0;}
.comments{display: none; margin-top: 14px;}

.comments-ls > li{position: relative; padding-top: 10px;}
.comm-wrap{background-color: #f2f9fc; border: 1px solid #daecf3;}
.comments-ls > li:last-child{margin-bottom: 5px;}
                                                                

.comments-ls .comments-ls .comm-wrap{background-color: #ffffff;}
.comments-ls .comments-ls .comm-arrow{background-position: 0 -13px;}

.comm-arrow{position: absolute; right: 0; top: 0; height:13px; width: 14px; background-image: url('../images/arrows-up.png'); background-repeat: no-repeat; z-index: 1;}

.add_comments .comm-arrow{background-position: 0 -13px;}
.comm-wrap > div{border: 2px solid #e9f0f3; padding: 10px;}

.comments .expert > .comm-wrap{border:1px solid #e7e8e6;background-color:#f9fcf8}
.expert > .comm-wrap > div{border: 2px solid #f2f5f1}
.expert > .comm-arrow{background-position: 0 -26px;}

.response-user{height:56px;min-height:56px!important}
.response-user .avatar-wrapper{margin-right: 10px;}

.res-username{margin-bottom:7px}
.res-flag-btns{float: right; display: none; position: absolute; right: 12px; top: 24px;}
.res-flag-btns > a{height: 20px; padding: 0 10px; line-height: 1.5; margin-right: 10px; text-decoration: none;}
.flag > span{background-image: url('../images/flags.png'); background-repeat: no-repeat; padding-left: 17px; background-position: 0 2px;}
.sign-up-tt-wrapper{ position: absolute; top: 0; left: 0; display: none; z-index: 1; width: 134px; padding-bottom: 10px;}
.sign-up-tt{background-color: #fbf9e1; border: 1px solid #f5f3d9; padding: 10px 14px 14px; width: 106px; overflow: hidden; font-size: 12px;}
.sign-up-tt > .sign-up-legend{margin-top: 0; line-height: 1.5;}
.tt-arrow{border-color: #fbf9e1 transparent transparent; border-style: solid; border-width: 10px 10px 0px; float: left; height: 0px; left: 57px; width: 0px; position: absolute; bottom: 1px;}

.res-type-wrapper{background: url('../images/res-type-bg-left.png') no-repeat 0 0; padding-left: 2px; float: left;}
.res-type-wrapper > div{background: url('../images/res-type-bg-right.png') no-repeat right 0; padding-right: 2px;}
.res-type-wrapper > div > div{background: url('../images/res-type-bg.png') repeat-x 0 0; padding:5px 6px;}

.topic-res-type{color:#6c899b;font-size:10px;font-weight:bold}
.topic-res-type.advice{background-position: 0 -44px;}
.topic-res-type.comment, 
.topic-res-type.comments{background-position: 0 -60px;}
.topic-res-type.story,
.topic-res-type.experience{background-position: 0 -75px;}

a.has_comments{padding: 0 6px 2px 6px; background: url('../images/icn-plus-minus.png') no-repeat; font-weight: bold; border: none; text-decoration: none;}
a.minus{background-position: 0 -19px;}
.hidden{display: none;}                                 

a.no_comments{padding: 0 6px; border-width: 1px; border-style: solid; margin-left: 4px; font-weight: bold;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-color: #e7edf3 #dee4eb #a7acb1 #dee4eb;
}

p:hover a.no_comments{
  outline:0 none;
  border-color: #ccdfed #d6e3ee #9daebc #d6e3ee;
  background-image: -moz-linear-gradient(top, #e5eff7, #c6dbec);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #e5eff7),color-stop(1, #c6dbec));
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#e5eff7', EndColorStr='#c6dbec');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e5eff7', EndColorStr='#c6dbec')";
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        opacity: 1;
}     

a.no_comments{
  color: #61656A;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  background-image: -moz-linear-gradient(top, #f8fbfc, #dee5e9);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f8fbfc),color-stop(1, #dee5e9));
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f8fbfc', EndColorStr='#dee5e9');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f8fbfc', EndColorStr='#dee5e9')";
}

.topic-content .icn{position: relative; text-decoration: none; text-align: center;}
.icn > span{position: absolute; width: 78px; height: 29px; background-color: red; display: none; left: -31px; top: -40px; color: #ffffff; font-size: 12px; font-style: normal; line-height: 2.5;
  background-color: #3c454f; 
  background-color: rgba(60, 69, 79, .92);
}
.tta{border-style: solid; border-width: 5px 5px 0px; float: left; height: 0px; left: 34px; width: 0px; position: absolute; bottom: -5px;
  border-color: #3c454f transparent transparent;
  border-color: rgba(60, 69, 79, .92) transparent transparent; 
}  
.icn:hover > span{display: block;}
p:hover .icn{display: inline;}
.related-content{background-color: #ffffff; padding: 20px;}
.related-carrousel{overflow: hidden; width: 704px; float: left; position: relative; height: 60px;}
.related-carrousel > ul{height: 100%; width: 2400px; position: absolute; top: 0; left: 0;}
.related-carrousel > ul > li{width: 210px; height: 100%; overflow: hidden; float: left; margin: 0 14px;}
.related-carrousel > ul > li > a:first-child{float: left; margin-right: 15px;}
.related-carrousel > ul > li > a{color: #7e838a;}

.arrows{float: left; width: 21px; margin: 19px 0; overflow: hidden;}
.arrows:last-child{float: right;}
.arrows span{text-indent:-9999px; float: left; background-image: url('../images/arrows.png'); background-position: no-repeat; width: 18px; height: 18px; overflow: hidden;}
.arrows .back{background-position: 0 0;}
.arrows .back.active{background-position: 0 -36px;}
.arrows .next{background-position: 0 -18px;}
.arrows .next.active{background-position: 0 -54px;}
.social-bookmarkers{background-color: #ffffff; padding: 8px 4px 8px 8px; position: absolute; top: 0; margin: 42px 0 20px 0; width: 18px; left: -30px;}
.social-bookmarkers > a{float: left; height: 18px; margin-bottom: 9px; text-indent: -9999px; width: 18px; background-image: url('../images/icn-social.png'); background-repeat: none;}
.facebook{background-position: 0 0;}
.facebook:hover{background-position: 0 -18px;}
.social-bookmarkers > .twitter{background-position: 0 -36px; margin-bottom: 0;}
.social-bookmarkers > .twitter:hover{background-position: 0 100%}

.filter-resposes > li{margin:0 30px 12px 0;float:left;}
.filter-resposes > li:last-child{margin-bottom: 0;}
.filter-resposes > li > label{margin-left:4px;}
/*.advice{background-position: 0 1px;}
.comment,.comments{background-position: 0 -14px;}
.story,.experience{background-position: 0 -28px;}*/

.topic-avatars{}
.topic-avatars > li{margin-bottom:14px;float:left;width:64px;text-align:center;font-size:12px;position:relative;padding:0 18px;}
.topic-avatars .avatar{margin-bottom: 10px; overflow: hidden;}
.topic-avatars em{color:#468AC4}
/*.topic-avatars > li:nth-child(2n+1){margin-right:20px;}*/

.expand-btn{height:31px;line-height:2.5em;font-family: 'GothamBoldRegular';font-size:13px}    
  
.divide{border-bottom: 1px solid #e5e5e5; margin-bottom: 10px}
.help{background: url('../images/question-mark.png') no-repeat;padding:2px 0 2px 22px;line-height:1em;}

.sign-up-or-continue{color: #52503b; background-color: #faf8dc; border-width: 1px; border-style: solid; border-color: transparent #f6f4de #cac8b1 #f6f4de; float: left; padding: 5px 15px; font-weight: bold;}               
.sign-up-or-continue > .sign-up-lk{margin-right: 10px;}
.topic-content .sign-up-lk{font-size: 12px; font-weight: normal; text-decoration: none;}
.sign-up-tt .sign-up-lk{margin-left: 17px;}
.topic-content .sign-up-lk > .sign-up-btn{display: block; font-size: 12px; padding: 0 9px;}
.continue{color: #5e7587;}
.legend-text{margin: 7px 10px 0 0; float: left;}

.reply-to + .new-response,
.reply-to + .add_comments,
.reply-new-response{
  margin-top: 9px;
  display: none;
}
