/* line 3, sass/user_panel.scss */
.page-wrapper {
  /* Landscape phones and down */
  /* Landscape phones and down */
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 3, sass/user_panel.scss */
  .page-wrapper {
    background: blue;
  }
  /* line 6, sass/user_panel.scss */
  .page-wrapper .span8 {
    width: 57.18232044198895%;
  }
  /* line 9, sass/user_panel.scss */
  .page-wrapper .span4 {
    width: 40.05524861878453%;
  }
}
@media (max-width: 767px) {
  /* line 3, sass/user_panel.scss */
  .page-wrapper {
    background: red;
  }
}

/* line 18, sass/user_panel.scss */
aside {
  overflow: hidden;
}

/* line 19, sass/user_panel.scss */
.inner-shadow {
  background: url("../images/inner-shadow-right.png") repeat-y right 0;
  padding: 23px;
}

/* line 20, sass/user_panel.scss */
.user-sb {
  width: 240px;
  float: right;
  /* Landscape phones and down */
}
/* line 22, sass/user_panel.scss */
.user-sb .edit-profile {
  text-align: center;
  padding: 13px 0;
  font-weight: bold;
}
@media (max-width: 480px) {
  /* line 20, sass/user_panel.scss */
  .user-sb {
    width: 100%;
    border-top: 10px solid #ccc;
  }
}

/* line 29, sass/user_panel.scss */
.user-sb-white {
  background: white url("../images/inner-shadow-top.png") repeat-x;
  border-right: 1px solid #e5e9ed;
  /* Landscape phones and down */
}
/* line 31, sass/user_panel.scss */
.user-sb-white > div {
  padding: 19px;
}
/* line 32, sass/user_panel.scss */
.user-sb-white .user-details {
  width: 127px;
}
@media (max-width: 480px) {
  /* line 29, sass/user_panel.scss */
  .user-sb-white {
    padding: 15px;
  }
}

/* line 38, sass/user_panel.scss */
.user-profile {
  overflow: hidden;
  border-bottom: 1px solid #e5e9ed;
}

/* line 39, sass/user_panel.scss */
.user-details {
  width: 134px;
  float: right;
}

/* line 41, sass/user_panel.scss */
.username {
  color: #4c5563;
  font-size: 18px;
  margin-bottom: 6px;
}

/* line 42, sass/user_panel.scss */
.usr-sec-title {
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
}
/* line 44, sass/user_panel.scss */
.usr-sec-title > h2 {
  color: #61656a;
  font-size: 12px;
  float: left;
  padding: 5px 5px 0 5px;
  margin-left: 5px;
  position: relative;
  background-color: #ffffff;
}
/* line 47, sass/user_panel.scss */
.usr-sec-title > .active > span {
  border-top: 1px solid #a5aab0;
  background-image: -moz-linear-gradient(top, #eaf1f5, #f8fbfc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eaf1f5), color-stop(1, #f8fbfc));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eaf1f5', EndColorStr='#f8fbfc');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eaf1f5', EndColorStr='#f8fbfc')";
}
/* line 54, sass/user_panel.scss */
.usr-sec-title span > span {
  display: block;
  height: 100%;
  background: url("../images/icn-pencil.png") no-repeat 0px 4px;
}
/* line 55, sass/user_panel.scss */
.usr-sec-title > hr {
  border: none;
  border-top: 1px solid #dddddd;
  float: left;
  width: 121px;
  position: absolute;
  width: 100%;
  top: 5px;
}

/* line 58, sass/user_panel.scss */
.user-edit {
  overflow: hidden;
}
/* line 60, sass/user_panel.scss */
.user-edit > li {
  padding-bottom: 10px;
  width: 100%;
  float: left;
}

/* line 62, sass/user_panel.scss */
.label {
  color: #aeb4bd;
  float: left;
  width: 62px;
  text-align: right;
  height: 27px;
  margin-bottom: 5px;
}

/* line 63, sass/user_panel.scss */
.field {
  float: right;
  width: 128px;
}

/* line 64, sass/user_panel.scss */
.terminate {
  color: #d56262;
  text-decoration: underline;
}

/* line 65, sass/user_panel.scss */
.user-edit .btn-gradient {
  margin-right: 10px;
}

/* line 66, sass/user_panel.scss */
.cancel {
  color: #61656a;
  background: none;
  border: none;
  font-size: 11px;
  padding: 4px 0 0 0;
  cursor: pointer;
  margin-top: 5px;
}

/* line 67, sass/user_panel.scss */
.field > .auth-submit {
  float: left;
  margin-right: 10px;
}

/* line 71, sass/user_panel.scss */
.edit-form input[type=text],
.edit-form input[type=password],
.edit-form input[type=email],
.edit-form select {
  border: 1px solid #d5d5d5;
  moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #ffffff;
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 3px #f5f5f5;
  height: 23px;
  width: 124px;
  margin-bottom: 5px;
}

/* line 72, sass/user_panel.scss */
.edit-form select {
  width: 128px;
}

/* line 74, sass/user_panel.scss */
.pm-panel {
  background-color: #ffffff;
  width: 680px;
  padding: 20px 0;
  float: left;
  min-height: 102px;
  /* Landscape phones and down */
}
/* line 76, sass/user_panel.scss */
.pm-panel.new-user {
  min-height: 240px;
}
/* line 77, sass/user_panel.scss */
.pm-panel > section > .regular {
  border-bottom: 1px solid #efeff0;
  margin-bottom: 20px;
  overflow: hidden;
}
/* line 78, sass/user_panel.scss */
.pm-panel > section > .messages {
  padding: 20px 40px;
}
@media (max-width: 480px) {
  /* line 74, sass/user_panel.scss */
  .pm-panel {
    width: 100%;
    padding: 10px 0 0 0;
  }
  /* line 83, sass/user_panel.scss */
  .pm-panel > section > .regular {
    margin-bottom: 0;
  }
}

/* line 89, sass/user_panel.scss */
.pm-panel-padding {
  padding: 0 30px 10px;
}

/* line 91, sass/user_panel.scss */
.bar {
  background-color: #fbfbfb;
  border-bottom: 1px solid #e1e3e5;
  height: 30px;
  overflow: hidden;
  margin-bottom: 18px;
  position: relative;
}

/* line 93, sass/user_panel.scss */
.pagination {
  text-align: center;
  line-height: 31px;
}
/* line 94, sass/user_panel.scss */
.pagination .arrow {
  width: 6px;
  height: 9px;
  background-image: url("../images/pagination-arrows.png");
  background-repeat: no-repeat;
  margin-top: 3px;
  display: inline-block;
  zoom: 1;
  /* IE7 (hasLayout)*/
  *display: inline;
  /* IE */
}
/* line 95, sass/user_panel.scss */
.pagination .arrow.left {
  background-position: 0 0;
}
/* line 96, sass/user_panel.scss */
.pagination .arrow.right {
  background-position: 0 100%;
}

/* line 98, sass/user_panel.scss */
.pag-numbers {
  display: inline;
}
/* line 99, sass/user_panel.scss */
.pag-numbers > li {
  display: inline;
  margin: 0 6px;
}
/* line 100, sass/user_panel.scss */
.pag-numbers > li > a {
  color: #cbcfd2;
}
/* line 101, sass/user_panel.scss */
.pag-numbers .active a {
  color: #808386;
}

/* line 104, sass/user_panel.scss */
.avatars-wrapper {
  display: none;
}
/* line 105, sass/user_panel.scss */
.avatars-wrapper > p {
  text-align: center;
  color: #a8adb4;
  font-size: 13px;
  font-weight: bold;
  margin: 60px 0 40px 0;
}

/* line 107, sass/user_panel.scss */
.avatars-list {
  display: none;
  overflow: hidden;
  padding-left: 10px;
  /* Landscape phones and down */
}
@media (max-width: 480px) {
  /* line 107, sass/user_panel.scss */
  .avatars-list {
    padding: 0;
  }
}

/* line 113, sass/user_panel.scss */
.avatars {
  overflow: hidden;
  /* Landscape phones and down */
}
/* line 114, sass/user_panel.scss */
.avatars > li {
  margin: 15px;
  float: left;
  position: relative;
}
/* line 115, sass/user_panel.scss */
.avatars > li > .avatar > a {
  outline: 0 none;
}
/* line 116, sass/user_panel.scss */
.avatars > .active {
  margin: 13px;
  border: 2px solid #4082bf;
}
/* line 117, sass/user_panel.scss */
.avatars > .active > .avatar {
  border: 1px solid #3f71a0;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
@media (max-width: 480px) {
  /* line 122, sass/user_panel.scss */
  .avatars > li {
    margin: 5px;
  }
  /* line 123, sass/user_panel.scss */
  .avatars > .active {
    margin: 3px;
  }
}

/* line 127, sass/user_panel.scss */
.checkmark {
  position: absolute;
  right: -7px;
  top: -5px;
  background-image: none!important;
  display: none;
}

/* line 128, sass/user_panel.scss */
li.active > .checkmark {
  display: block;
}

/* line 130, sass/user_panel.scss */
.custom-avatar {
  padding: 15px;
  width: 119px;
  height: 26px;
  border: 1px solid #becad7;
  color: #6d91a9;
  text-align: right;
  float: left;
  font-size: 12px;
  font-weight: bold;
  line-height: 2.2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8fcfe), color-stop(100%, #ecf8fd));
  background-image: -webkit-linear-gradient(top, #f8fcfe, #ecf8fd);
  background-image: -moz-linear-gradient(top, #f8fcfe, #ecf8fd);
  background-image: -o-linear-gradient(top, #f8fcfe, #ecf8fd);
  background-image: linear-gradient(top, #f8fcfe, #ecf8fd);
  -webkit-box-shadow: 0px 0px 0px 3px whitesmoke;
  -moz-box-shadow: 0px 0px 0px 3px whitesmoke;
  box-shadow: 0px 0px 0px 3px whitesmoke;
}

/* line 135, sass/user_panel.scss */
.custom-avatar > span {
  display: block;
  height: 100%;
  background: url("../images/icn-upload.png") no-repeat left 50%;
}

/* line 136, sass/user_panel.scss */
p.error {
  clear: both;
  padding: 10px 0 2px 0;
}

/* line 138, sass/user_panel.scss */
.autocomplete {
  border: 1px solid #ccc;
  display: none;
}
/* line 139, sass/user_panel.scss */
.autocomplete li {
  background: #eee;
  border: 1px solid #ccc;
  padding: 3px 2px;
  cursor: pointer;
}
/* line 140, sass/user_panel.scss */
.autocomplete li .active {
  background: #4173CC;
  color: #fff;
}
