aside{overflow: hidden; border-right: 1px solid #e5e9ed;}                          
.inner-shadow{background: #ffffff url('../images/inner-shadow-right.png') repeat-y right 0;   padding: 23px;}
.user-sb{width: 276px; float: left;}
.user-info{background-color: #f9fafb; overflow: hidden; border-bottom: 1px solid #e5e9ed;}  
.user-details{width: 158px; float: right;}       
.points{padding-bottom: 3px;}
.thumb{border: 1px solid #dadee0; width: 55px; height: 55px; background-color: #ffffff; padding: 2px; overflow: hidden; float: left;} 
.username{color: #4c5563; font-size: 18px}                
.user-details b{color: #707b8b;} 
.user-details span{font-size: 12px; color: #61656a;} 
.usr-sec-title{overflow: hidden;  margin-bottom: 15px; position: relative; }
.usr-sec-title > h2{color: #61656a; font-size: 12px; float: left; padding: 5px 10px 0 0;  position: relative; background-color: #ffffff;}
.usr-sec-title > a{float: right; text-indent: -9999px; width: 25px; height: 22px; padding-left: 10px; background-color: #ffffff; position: relative;}
.usr-sec-title > a > span{height: 20px; display: block; border: 1px solid #e1e8f0; padding-left: 5px;
  background-image: -moz-linear-gradient(top, #f9fbfc, #eaf2f6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f9fbfc),color-stop(1, #eaf2f6));
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9fbfc', EndColorStr='#eaf2f6');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9fbfc', EndColorStr='#eaf2f6')";  
}   
.usr-sec-title span > span{display: block; height: 100%; background: url('../images/icn-pencil.png') no-repeat 0px 4px;}
.usr-sec-title > hr{color: #efeff0; background-color: #efeff0; float: left; width: 121px; position: absolute; width: 100%; top: 5px;}                    
.user-edit{padding-bottom: 20px;}
.user-edit > li{padding-bottom: 7px;}
.user-edit > li > div:first-child{color: #a4a7ab; padding-bottom: 2px;}
.user-edit > li input{display: none;}
.terminate{color: #d56262; text-decoration: underline;}
.user-edit .btn-gradient{margin-right: 10px;}  
.cancel{color: #61656a; background: none; border: none; font-size: 11px; padding: 4px 0 0 0;}
input[type=text],
input[type=password],
input[type=email]{border: 1px solid #ccc; border-width: 1px; border-style: solid; border-color: #a8a8a8 #d8d8d8 #d8d8d8 #a8a8a8; moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background: #ffffff; outline: none; -webkit-box-shadow: inset 0px 0px 3px #efefef; height: 25px; width: 188px;}
.panel{background-color: #ffffff;}
.panel > section{float: right; width: 631px; padding: 20px 25px;}
.panel > .regular{border-bottom: 1px solid #efeff0; padding-bottom: 5px; margin-bottom: 10px;}
.bar{background-color: #fbfbfb; border-bottom: 1px solid #e1e3e5; height: 30px; overflow: hidden; margin-bottom: 18px; position: relative;}
.bar > li{float: left; height: 100%; padding: 0 10px; font-size: 11px; color: #808386; line-height: 2.8; border-left: 1px solid #e1e3e5;}
.bar > li:first-child{border-left: 0;}
.bar > li > a{background-image: url('../images/icn-messages.png'); background-repeat: no-repeat; padding-left: 13px;}
.pm-delete{background-position: 0 1px}
.pm-delete:hover{background-position: 0 -18px}
.pm-block{background-position: 0 -37px}
.pm-block:hover{background-position: 0 -56px}
.pagination{float: left; position: absolute; left: 50%; margin-top: 8px;}
.pagination > div{position: relative; left: -50%; float: left;}
.pagination .arrow{width: 6px; height: 9px; background-image: url('../images/pagination-arrows.png'); background-repeat: no-repeat; margin-top: 3px;}
.pagination .arrow.left{float: left; background-position: 0 0;}
.pagination .arrow.right{float: right; background-position: 0 100%;}
.pag-numbers{float: left;}
.pag-numbers > li{float: left; margin: 0 6px;}
.pag-numbers > li > a{color: #cbcfd2;}
.pag-numbers .active a{color: #808386;}
.messages > li > input{float: left; margin: 20px 10px 0 0;}
.messages .thumb{margin-right: 10px;}
.messages > li{background-color: #fbfbfb; margin-bottom: 15px; padding: 14px 11px; border-bottom: 1px solid #e1e3e5; position: relative; overflow: hidden;}
.messages > li.new{background-color: #f3f9fc; border: 1px solid #c2dcea;}
.messages > li:hover .msg-opts{display: block;}
.msg-opts{position: absolute; width: 108px; right: 11px; top: 12px; font-size: 11px; display: none;}
.msg-opts > li{float: right; margin-right: 10px;}
.msg-opts > li > a{display: block; background-image: url('../images/icn-options-user.png'); background-repeat: no-repeat; color: #869eac; }
.opt-delete{background-position: 0 -13px; padding-left: 12px;}
.opt-reply{background-position: 0 1px; padding-left: 15px;}
.from{padding-bottom: 10px; color: #b3b8bc; font-size: 12px;}
.from a{color: #468ac4; font-weight: bold;}     
.msg{color: #838383; font-size: 12px;}