.page-wrapper{background: url('../images/topic-bg.jpg') repeat-x fixed 0 105px;}
aside{overflow: hidden;}                          
.inner-shadow{background: url('../images/inner-shadow-right.png') repeat-y right 0;   padding: 23px;}
.user-sb{width: 240px; float: right;}
.user-sb-white{background: #ffffff url('../images/inner-shadow-top.png') repeat-x; border-right: 1px solid #e5e9ed;}
.user-sb-white > div{padding: 19px;}
.user-sb-white .user-details{width:127px;}
.user-profile{overflow: hidden; border-bottom: 1px solid #e5e9ed;}  
.user-details{width: 134px; float: right;}
.user-sb .edit-profile{text-align: center; padding: 13px 0; font-weight: bold;}
.white-area{display: none;}

.username{color: #4c5563; font-size: 18px; margin-bottom: 6px;}
.usr-sec-title{overflow: hidden;  margin-bottom: 15px; position: relative; }
.usr-sec-title > h2{color: #61656a; font-size: 12px; float: left; padding: 5px 5px 0 5px;  margin-left: 5px; position: relative; background-color: #ffffff;}
.usr-sec-title > .active > span{
  border-top: 1px solid #a5aab0;
  background-image: -moz-linear-gradient(top, #eaf1f5, #f8fbfc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eaf1f5),color-stop(1, #f8fbfc));
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#eaf1f5', EndColorStr='#f8fbfc');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eaf1f5', EndColorStr='#f8fbfc')";
} 

.usr-sec-title span > span{display: block; height: 100%; background: url('../images/icn-pencil.png') no-repeat 0px 4px;}
.usr-sec-title > hr{border:none;border-top: 1px solid #dddddd; float: left; width: 121px; position: absolute; width: 100%; top: 5px;}                    
.user-edit{overflow: hidden;}
.user-edit > li{padding-bottom: 10px; width: 100%; float: left;}
.label{color: #aeb4bd; float: left; width: 62px; text-align: right; height: 27px; margin-bottom: 5px;}
.field{float: right; width: 128px;}
.terminate{color: #d56262; text-decoration: underline;}
.user-edit .btn-gradient{margin-right: 10px;}  
.cancel{color: #61656a; background: none; border: none; font-size: 11px; padding: 4px 0 0 0; cursor: pointer; margin-top: 5px;}
.field > .auth-submit{float: left; margin-right: 10px;}
.edit-form input[type=text],
.edit-form input[type=password],
.edit-form input[type=email],
.edit-form select{border: 1px solid #d5d5d5; moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background: #ffffff; outline: none; -webkit-box-shadow: 0px 0px 0px 3px #f5f5f5; height: 23px; width: 124px; margin-bottom: 5px;}
.edit-form select{width: 128px;}

.pm-panel{background-color: #ffffff; width: 660px; padding: 20px 25px; float: left; min-height: 102px;}
.pm-panel.new-user{min-height: 240px;}
.pm-panel > section > .regular{border-bottom: 1px solid #efeff0; padding-bottom: 5px; margin-bottom: 10px;}


.bar{background-color: #fbfbfb; border-bottom: 1px solid #e1e3e5; height: 30px; overflow: hidden; margin-bottom: 18px; position: relative;}

.back-to-msgs{color: #468ac4; float: right; font-size: 12px;}
.back-to-msgs .arrow{border-color: transparent #a7c7e3 transparent transparent; border-style: solid; border-width: 4px 4px 4px 0; float: left; height: 0; margin: 2px 8px 0 0; width: 0;}

.pagination{text-align:center;line-height:31px;}
.pagination .arrow{width: 6px; height: 9px; background-image: url('../images/pagination-arrows.png'); background-repeat: no-repeat; margin-top: 3px;display:inline-block;zoom:1;/* IE7 (hasLayout)*/*display: inline; /* IE */}
.pagination .arrow.left{background-position: 0 0;}
.pagination .arrow.right{background-position: 0 100%;}
.pag-numbers{display:inline;}
.pag-numbers > li{display:inline; margin: 0 6px;}
.pag-numbers > li > a{color: #cbcfd2;}
.pag-numbers .active a{color: #808386;}

.messages > li > input{float: left; margin: 20px 10px 0 0;}
.messages .avatar-wrapper{margin-right: 10px; background-color: #ffffff;}
.messages > li{background-color:#fbfbfb;margin-bottom:15px;padding:14px 11px;border-bottom:1px solid #e1e3e5;position:relative}
.messages > li.new{background-color: #f3f9fc; border: 1px solid #c2dcea;}
.messages > li:hover .msg-opts{display: block;}
.msg-opts{position: absolute; right: 0; top: 0; font-size: 11px; display: none; height: 25px; border-width: 0 0 1px 1px; border-style: solid; border-color: #C2DCEA;
  background-image: -moz-linear-gradient(top, #ffffff, #f1fafd);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #f1fafd));
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f1fafd');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f1fafd')";  
}
.msg-opts > li{float: right; padding: 7px 10px; height: 11px;}
.msg-opts > li:first-child{border-left: 1px solid #C2DCEA;}
.msg-opts > li > a{display: block; background-image: url('../images/icn-options-user.png'); background-repeat: no-repeat; color: #869eac; }
.opt-delete{background-position: 0 -13px; padding-left: 12px;}
.opt-reply{background-position: 0 1px; padding-left: 15px;}
.from{padding-bottom: 10px; color: #b3b8bc; font-size: 12px;}
.from a{color: #468ac4; font-weight: bold;}     
.msg{color: #838383; font-size: 12px;}
.avatars-wrapper{display: none;}
.avatars-wrapper > p{text-align: center; color: #a8adb4; font-size: 13px; font-weight: bold; margin: 60px 0 40px 0;}

.avatars{float: left;} 
.avatars .thumb{float: left; width: 54px; height: 56px;}
.avatars .thumb > a > img{float: left;}
.avatars-list{display: none;}
.avatars > li{margin: 10px; float: left;}
.avatars > li > div{border: 2px solid transparent; position: relative;}
.avatars > .active > div{border: 2px solid #468ac4;}

.checkmark{position: absolute; right: -10px; top: -10px;}

#pm-wrapper strong{color:black}
.pm-details{font-size: 12px; margin: 5px 0 16px 0; border-bottom: 1px solid #e9eef2;}
.pm-user{margin-bottom: 20px}
.pm-user-response{color: #b3b8bc; margin-bottom: 12px;}
.pm-user-response > a{color: #5e5e5e; font-weight: bold;}
.pm-user .avatar-wrapper{margin-right: 14px;}
.pm-user-details{color: #b3b8bc; margin-top: 4px;}
.pm-user-details > div{margin-bottom: 5px;}
.pm-user-details a{color: #468ac4; font-weight: bold;}
.pm-message{color: #3f4245; line-height: 18px; border-bottom: 1px solid #d5dae1; padding-bottom: 15px;}
.response{color: #999999}
.hide{display: none;}   
.response-wrapper{margin-top: 4px; width: 100%; float: left;border:none;}
.new_private_message{overflow:hidden;padding:13px 0;}
.new_private_message div.border-all{border:1px solid #c6d6e8;margin-bottom:15px;float:left}
.new_private_message textarea{width:597px;margin:0;border:2px solid #edeef4;padding:12px 14px;line-height:16px;font-family:Arial, Helvetica, Sans-serif;color:#BBBBBB;font-size:13px;height:16px}
.new_private_message legend{color:#61656A;font-size:12px;font-weight:bold;margin-bottom:15px}
.new_private_message input[type="submit"]{display:none;width:89px;padding:5px 8px}
.new_private_message label,
.new_private_message textarea,
.new_private_message input{float:left;clear:left}
.new_private_message label {color:#A4A7AB}
.pm-flash.success{margin: 4px 0 20px 0; padding: 7px;}
.pm-flash.success > p{font-size: 12px; word-spacing: -1px;}
.avatar{padding: 3px;}

.new-user-msg-wrapper{overflow: hidden; margin-top: 5px;}
.new-user-arrow{border-color: transparent transparent #35353a; border-style: solid; border-width: 0px 10px 10px; float: left; height: 0px; width: 0px; margin: 0 105px; position: relative; z-index: 1;}            
.new-user-msg{padding: 18px 15px; text-align: center;} 
.new-user-msg.dark{background-color: #35353a; border: 1px solid #000000; width: 202px; float: left; margin-top: -1px; color: #ffffff;}
.new-user-msg.yellow{background-color: #fffbeb; border: 1px solid #edda8d; color: #38414e; margin-bottom: 14px;}
.new-user-msg > p{line-height: 1.5;}
.new-user-msg > h3{font-size: 20px; padding-bottom: 10px; font-weight: normal;}
.new-user-msg.dark > h3{color: #ffffff;}
.new-user-msg.yellow > h3{color: #38414e;font-weight:bold;}

.custom-avatar{padding: 15px; width: 119px; height: 26px; border: 1px solid #becad7; color: #6d91a9; text-align: right; float: left; font-size: 12px; font-weight: bold; line-height: 2.2;
  background-image: -moz-linear-gradient(top, #f8fcfe, #ecf8fd);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f8fcfe),color-stop(1, #ecf8fd));
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f8fcfe', EndColorStr='#ecf8fd');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f8fcfe', EndColorStr='#ecf8fd')";  
 -webkit-box-shadow: 0px 0px 0px 3px #f5f5f5;
}

.custom-avatar > span{display: block; height: 100%; background: url('../images/icn-upload.png') no-repeat left 50%;}
p.error{clear: both; padding: 10px 0 2px 0;}
