<ul class='possible-thumbnails'>
  <% @possible_thumbnails.each do |possible_thumbnail| %>
    <li>
      <%= radio_button_tag "related_content[thumbnail_url]", possible_thumbnail %>
      <%= image_tag(possible_thumbnail) %>
    </li>
  <% end %>
</ul>
