var form = $('.sign-up-form');
form.find('.loading').removeClass('loading').end().find('p.error').remove();

<% if @user.valid? %>
    location.reload();
<% else %>
    <% @user.errors.each do |attr, msg| %>
        if(form.find('.<%= attr %>').length) {
            form.find('.<%= attr %>').append('<p class="error"><%= escape_javascript "#{attr} #{@user.errors[attr].first}" %></p>');
        } else {
            form.find('.errors').append('<p class="error"><%= escape_javascript "#{attr} #{@user.errors[attr].first}" %></p>');
        }
    <% end %>
<% end %>
