<div class="res-flag-btns">
  <% if !reply.anonymous? %>
    <%= link_to_vote_up reply %>
  <% end %>
  <%= link_to_flag reply %>
  <% unless logged_in? %>
    <div class="sign-up-tt-wrapper">
      <div class="sign-up-tt">
        <p class="sign-up-legend"><%= t(".anonymous") %></p>
        <a href="#" class="sign-up-lk border-all"><span class="sign-up-btn"><%= t(".sign_up") %></span></a>
      </div>                                                                                  
      <div class="tt-arrow"></div>
    </div>                 
  <% end %>
</div>
