<div class="aligned">
  <div class="info-page border-all">
    <h1>من نحن؟</h1>
    <section>
      <p>تجاوز هو مبادرة ضمن مشاريع منظمة شباب الشرق الأوسط، والموقع يوفر مساحة واسعة لمناقشة القضايا المثلية في منطقة الشرق الأوسط وشمال أفريقيا. تجاوز هو منبر حر باللغتين العربية والإنكليزية، حيث يمكّنك من التواصل والمشاركة والإسهام عبر مناقشات مختلفة حول هذه القضية الهامة في منطقة الشرق الأوسط. نطالب كل عضو أو زائر أن يستخدم هذا الموقع بحكمة ومسؤولية حتى نتمكن من تعزيز وإبراز قضية المثليين بين القضايا الحقوقية في منطقتنا.</p>
      <p>نعتزم توسيع هذا الموقع وإدخال لغات جديدة في المستقبل القريب، ونسعى باستمرار للحصول على الدعم، لذا يُرجى الاتصال بنا للحصول على مزيد من المعلومات حول كيفية تطوعك، أو الاستفادة من خبراتك للمساعدة في هذا الموقع.</p>
      <p>انضم إلينا لجعل العالم مكانًا أكثر أمنًا للمجتمعات المثلية!</p>
    </section>
  </div>
</div>


