<div class="aligned">
  <div class="info-page border-all container-soft-box-shadow">
    <h1>About</h1>
    <section>
      <p><a href="http://www.ahwaa.org" title="Ahwaa">Ahwaa.org</a> is a bilingual tool for LGBTQ youth in the Middle East that leverages game mechanics to facilitate authentic, high-quality interactions. It is one of the projects of the <a href="http://www.mideastyouth.com/" title="Mideast Youth organization" target="_blank">Mideast Youth</a> organization.</p>
        <p>To learn more about our mission at <a href="http://www.ahwaa.org" title="Ahwaa">Ahwaa.org</a>, read <a href="http://changeobserver.designobserver.com/feature/a-voice-for-lgbtq-in-the-middle-east/27518/" title="A Voice for LGBTQ in the Middle East" target="_blank">this extensive interview</a>.</p>
        <p>To get in touch, <a href="mailto:director@mideastyouth.com" title="contact us" target="_blank">contact us.</a></p>
        <p>We demand that each user uses this site wisely and responsibly so that we can best promote the cause of human rights for the LGBTQ communities. Please familiarize yourself with our <a href="http://en.ahwaa.org/terms" title="Ahwaa.org Terms of Use">Terms of Use</a> and <a href="http://en.ahwaa.org/privacy_policy" title="Ahwaa.org Privacy Policy">Privacy Policy</a>.</p>
    </section>
  </div>
</div>