<div class="aligned">
  <div class="info-page border-all">
    <section>
      <p>Project Transcend, the latest initiative by Mideast Youth, is providing a space to debate LGBTQ issues in the Middle East and North Africa. We are providing a new bilingual platform in Arabic and English, where you can personally connect and engage in various debates on this important human rights issue in the MENA region. We demand that each user uses this site wisely and responsibly so that we can best promote the cause of human rights for the LGBTQ communities.</p>
      <p>We intend to grow this website and introduce new languages in the near future. We are constantly looking for support and volunteers, so please get in touch with us for more information on how you can best be helpful to this service.</p>
      <p>Join us to make the world a safer place for LGBTQ communities!</p>
    </section>
  </div>
</div>

