<div class="aligned">
  <div class="info-page border-all">
    <h1>حول</h1>
    <section>
      <p>تجاوز المشروع، وآخرها مبادرة شباب الشرق الأوسط، وتوفير مساحة لمناقشة القضايا المثلي في الشرق الأوسط وشمال أفريقيا. نحن نقدم منبرا جديدا باللغتين العربية والانجليزية، حيث يمكنك الاتصال شخصيا والمشاركة في المناقشات المختلفة حول هذه القضية الهامة لحقوق الإنسان في منطقة الشرق الأوسط. ونحن نطالب أن كل مستخدم يستخدم هذا الموقع بحكمة ومسؤولية حتى نتمكن من تعزيز أفضل لقضية حقوق الإنسان للمجتمعات المثلي.</p>
      <p>نحن عازمون على توسيع هذا الموقع وإدخال لغات جديدة في المستقبل القريب. نحن نسعى باستمرار للحصول على الدعم والمتطوعين، لذا يرجى الحصول على اتصال معنا للحصول على مزيد من المعلومات حول كيف يمكنك ان تكون أفضل من المفيد لهذه الخدمة.</p>
      <p>الانضمام إلينا لجعل العالم مكانا أكثر أمنا للمجتمعات المثلي!</p>
    </section>
  </div>
</div>


