<div class="aligned">
  <div class="info-page border-all container-soft-box-shadow">
    <h1>من نحن؟</h1>
    <section>
      <p>أهواء هي مبادرة أطلقتها منظمة شباب الشرق الأوسط، وموقع أهواء يوفّر مساحة واسعة لمناقشة القضايا المثلية في منطقة الشرق الأوسط وشمال أفريقيا. أهواء هو منبر حر باللغتين العربية والإنكليزية، حيث يمكّنك من التواصل والمشاركة والإسهام عبر مناقشات مختلفة وثريّة حول هذه القضية الهامة وغير المطروحة بما فيه الكفاية في هذه المنطقة من العالم.</p>
      <p>تطالب إدارة الموقع كل عضو أو زائر بالالتزام بشروط الاستخدام، وباستخدام هذا الموقع بحكمة ومسؤولية حتى نتمكّن من تعزيز وإبراز قضية المثليين بين القضايا الحقوقية في منطقتنا.</p>
      <p>نعتزم توسيع هذا الموقع وإدخال لغات جديدة في المستقبل القريب، ونسعى باستمرار للحصول على الدعم، لذا يُرجى الاتصال بنا للحصول على مزيد من المعلومات حول كيفية تطوّعك، أو الاستفادة من خبراتك للمساعدة في هذا الموقع.</p>
      <p>انضم إلينا لجعل العالم مكانًا أكثر أمنًا للمجتمعات المثلية!</p>
    </section>
  </div>
</div>


