
<!-- RESET PASSWORD EMAIL -->
<table width="620" align="center" border="0" cellspacing="0" cellpadding="0" style="display:block; width:620px; vertical-align:top; min-height:330px;">
  <tbody>
    <tr>
      <td valign="top">
        <div style="font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:17px; line-height:21px; text-decoration:none; color:#627583; padding-top:45px; padding-left:0; padding-right:0; padding-bottom:0;">
          Dear <span style="font-weight:bold;">chuca</span>,
        </div>
        <div style="font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:17px; line-height:21px; text-decoration:none; color:#627583; padding-top:30px; padding-left:0; padding-right:0; padding-bottom:0;">
          You&rsquo;ve requested to reset your password from Ahwaa.
        </div>
      </td>
    </tr>
    <tr>
      <td valign="top">
        <a href="#" title="Reset Password" style="color:#3171b1; text-decoration:none; display:block;">
          <img src="http://ahwaa-notifier-mailer.s3.amazonaws.com/_cta/reset-password.jpg" alt="View Response" style="padding-top:25px; padding-left:0; padding-right:0; padding-bottom:0;" />
        </a>
      </td>
    </tr>
    <tr>
      <td valign="top">
        <div style="padding-top:20px; padding-left:0; padding-right:0; padding-bottom:0;">
          <div style="background-color:#e6ecf2; height:1px; border:0; padding:0; margin:0;"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td valign="top">
        <div style="font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:17px; line-height:21px; text-decoration:none; color:#627583; padding-top:20px; padding-left:0; padding-right:0; padding-bottom:0;">
          Or paste this link in your location bar and follow the instructions there:
        </div>
        <div style="font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:17px; line-height:21px; text-decoration:none; color:#627583; padding:0;">
          <a href="#" title="" style="color:#3171b1; text-decoration:none; font-weight:bold;">
            http://ahwaa.org/passwords/e8d941eb6f2e030b3637a94fda6d21ba0b2541ef/edit
          </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<!-- -->

<!-- RESPONSE EMAIL -->
<!--
<table width="620" align="center" border="0" cellspacing="0" cellpadding="0" style="display:block; width:620px; vertical-align:top; min-height:330px;">
  <tbody>
    <tr>
      <td valign="top">
        <div style="font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:17px; line-height:21px; text-decoration:none; color:#627583; padding-top:45px; padding-left:0; padding-right:0; padding-bottom:0;">
          Dear <span style="font-weight:bold;">chuca</span>,
        </div>
        <div style="font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:17px; line-height:21px; text-decoration:none; color:#627583; padding-top:30px; padding-left:0; padding-right:0; padding-bottom:0;">
          A user has just responded to your comment on <a href="#" title="Ahwaa" style="color:#3171b1; text-decoration:none; font-weight:bold;">I&rsquo;m only attracted to super attractive and unavailable lesbians</a>.
        </div>
      </td>
    </tr>
    <tr>
      <td valign="top">
        <a href="#" title="View Reponse" style="color:#3171b1; text-decoration:none; display:block;">
          <img src="http://ahwaa-notifier-mailer.s3.amazonaws.com/_cta/view-response.jpg" alt="View Response" style="padding-top:45px; padding-left:0; padding-right:0; padding-bottom:0;" />
        </a>
      </td>
    </tr>
  </tbody>
</table>
-->


<!-- WELCOME EMAIL -->
<!--
<table width="620" align="center" border="0" cellspacing="0" cellpadding="0" style="display:block; width:620px; vertical-align:top; min-height:330px;">
  <tbody>
    <tr>
      <td colspan="3" valign="top">
        <div style="font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:17px; line-height:21px; text-decoration:none; color:#627583; padding-top:45px; padding-left:0; padding-right:0; padding-bottom:0;">
          Hello <span style="font-weight:bold;">chuca</span>,
        </div>
        <div style="font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:17px; line-height:21px; text-decoration:none; color:#627583; padding-top:30px; padding-left:0; padding-right:0; padding-bottom:0;">
          Welcome to <a href="#" title="Ahwaa" style="font-weight:bold; color:#3171b1; text-decoration:none;">Ahwaa</a> community, we generated a temporary password for you, please don&rsquo;t forgot to go and change it.
        </div>
        <div style="font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:17px; line-height:21px; text-decoration:none; color:#627583; padding-top:25px; padding-left:0; padding-right:0; padding-bottom:0;">
          Your temporary password is: <span style="font-weight:bold;">725097</span>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3" valign="top">
        <div style="padding-top:23px; padding-left:0; padding-right:0; padding-bottom:0;">
          <div style="background-color:#e6ecf2; height:1px; border:0; padding:0; margin:0;"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3" valign="top">
        <div style="font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:17px; line-height:21px; text-decoration:none; color:#83a6be; margin:0; padding-top:30px; padding-left:0; padding-right:0; padding-bottom:0;">
          What you can do for help the community?
        </div>
      </td>
    </tr>
    <tr>
      <td valign="top" align="center">
        <a href="#" title="Follow Helpfull Topics" style="display:block; padding-top:20px; padding-left:0; padding-right:0; padding-bottom:0;">
          <img src="http://ahwaa-notifier-mailer.s3.amazonaws.com/welcome/thumb-01.jpg" alt="Follow Helpful Topics" />
        </a>
        <div style="padding-top:10px; padding-left:0; padding-right:0; padding-bottom:0;">
          <a href="#" title="Follow Helpful Topics" style="font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:15px; line-height:18px; text-decoration:none; color:#627583; padding:0; font-weight:bold;">
            Follow Helpful Topics
          </a>
        </div>
      </td>
      <td valign="top" align="center">
        <a href="#" title="Give Your Point of View" style="display:block; padding-top:20px; padding-left:0; padding-right:0; padding-bottom:0;">
          <img src="http://ahwaa-notifier-mailer.s3.amazonaws.com/welcome/thumb-02.jpg" alt="Give Your Point of View" style="padding-left:20px; padding-right:20px;" />
        </a>
        <div style="padding-top:10px; padding-left:0; padding-right:0; padding-bottom:0;">
          <a href="#" title="Give Your Point of View" style="font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:15px; line-height:18px; text-decoration:none; color:#627583; padding:0; font-weight:bold;">
            Give Your Point of View
          </a>
        </div>
      </td>
      <td valign="top" align="center">
        <a href="#" title="Share your Experiences" style="display:block; padding-top:20px; padding-left:0; padding-right:0; padding-bottom:0;">
          <img src="http://ahwaa-notifier-mailer.s3.amazonaws.com/welcome/thumb-03.jpg" alt="Share your Experiences" />
        </a>
        <div style="padding-top:10px; padding-left:0; padding-right:0; padding-bottom:0;">
          <a href="#" title="Share your Experiences" style="font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:15px; line-height:18px; text-decoration:none; color:#627583; padding:0; font-weight:bold;">
            Share your Experiences
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3" valign="top">
        <a href="#" title="Welcome to Ahwaa" style="display:block; padding-top:45px; padding-left:0; padding-right:0; padding-bottom:0; color:#3171b1; text-decoration:none;">
          <img src="http://ahwaa-notifier-mailer.s3.amazonaws.com/_cta/welcome-ahwaa.jpg" alt="Welcome to Ahwaa" />
        </a>
      </td>
    </tr>
  </tbody>
</table>
-->