<div class="aligned">
  <div class="info-page border-all container-soft-box-shadow">
    <h1>سياسة الخصوصية</h1>
    <section>
      <h2 class="sec-title-med">ما هي المعلومات التي نقوم بجمعها؟</h2>
      <p>نقوم بجمع بعض المعلومات منك عند التسجيل على موقعنا.</p>
      <p>عند التسجيل على موقعنا، وحسب الاقتضاء، قد يُطلب منك إدخال اسم المستخدم المطلوب وعنوان البريد الإلكتروني. بينما لديك خيار تصفح موقعنا كمجهول.</p>
    </section>
    <section>
      <h2 class="sec-title-med">كيف نستخدم المعلومات الخاصة بك؟</h2>
      <p>لا يتم استخدام أي من المعلومات التي نجمعها عنك إلا لمجرد استمتاعك بخدمات وميزات هذا الموقع كاملًا، مثل قدرتك على النشر، التقييم، أو التعليق على مقالات الموقع، فضلًا عن التفاعل مع الأعضاء الآخرين المسجلين على الموقع.</p>
    </section>
    <section>
      <h2 class="sec-title-med">هل نستخدم سجلات المتصفح (Cookies)؟</h2>
      <p>نعم. سجلات المتصفح هي مجرد ملفات صغيرة يتم نقلها من الموقع المقدّم للخدمة إلى قرص حاسوبك الثابت من خلال متصفح وِب، إذا سمحتم أنتم بذلك، وهي التي تمكّن الموقع من التعرّف على تخصيصاتكم عبر المعلومات الخاصة بكم. تُستخدم سجلات المتصفح، في العموم، لفهم وحفظ التفضيلات الخاصة بكم لتذكّرها في زياراتكم المستقبلية للموقع.</p>
    </section>
    <section>
      <h2 class="sec-title-med">هل نقوم بكشف أي معلومات خاصة بكم إلى أي جهات خارجية؟</h2>
      <p>نحن لا نبيع، ولا نتاجر، ولا ننقل بياناتكم الشخصية، أو أي تخصيصات أو تفضيلات محفوظة على هذا الموقع، إلى أي أطراف ثالثة أو جهات خارجية مهما حدث وتحت أي ظرفٍ كان.</p>
    </section>
    <section>
      <h2 class="sec-title-med">علاقاتنا بالأطراف الثالثة</h2>
      <p>قد ينطوي موقعنا في المستقبل على تقديم منتجات أو خدمات من أطراف ثالثة. وقد يكون لهذه المواقع أو الجهات سياسات خصوصية منفصلة ومستقلة غير المنصوصة هنا. ولذلك، فنحن نُخلي مسؤوليتنا تمامًا عن أي محتوى أو نشاط أو سياسة تتبعها هذه المواقع المرتبطة، ونعلن عدم ارتباطها بأي صلة بالموقع سوى من خلال الرابط أو المنتج أو الخدمة المُعلن عنها. ومع ذلك، فإننا نسعى دومًا للحفاظ على كمال موقعنا وشفافية سياساتنا، في الوقت الذي نحرص فيه أيضًا على سلامة وخصوصية أعضائنا. ونرحب بأي ملاحظات خاصة بهذا الشأن.</p>
    </section>
    <section>
      <h2 class="sec-title-med">موافقتك على كافة الشروط المُدرجة في هذه الصفحة</h2>
      <p>باستخدام موقعنا، فإنك توافق نهائيًا على كافة شروط سياسة الخصوصية الخاصة بنا.</p>
    </section>
    <section>
      <h2 class="sec-title-med">تغييرات سياسة الخصوصية</h2>
      <p>إذا قمنا بتغيير أي بند من بنود سياسة الخصوصية، فإننا سنقوم بنشر هذه التغييرات على هذه الصفحة، و/أو إرسال رسالة بريد إلكتروني لإبلاغك بهذه التغييرات.</p>
    </section>
  </div>
</div>

