<div class="aligned">
  <div class="info-page border-all">
    <h1>سياسة الخصوصية</h1>
    <section>
      <h2 class="sec-title-med">ما هي المعلومات التي نجمعها؟</h2>
      <p>نقوم بجمع المعلومات منك عند التسجيل على موقعنا.</p>
      <p>عند تسجيل على موقعنا، حسب الاقتضاء ، قد يطلب منك إدخال اسم المستخدم المطلوب وعنوان البريد الإلكتروني. يمكنك، ومع ذلك، تصفح موقعنا مجهول.</p>
    </section>
    <section>
      <h2 class="sec-title-med">ماذا نستخدم المعلومات الخاصة بك ل؟</h2>
      <p>يتم استخدام أي من المعلومات التي نجمعها منك لمجرد وصولك إلى ميزات الموقع، مثل قدرتك على آخر، ومعدل والتعليق على المقالات، فضلا عن التفاعل مع القطاع الخاص الأخرى للأعضاء المسجلين في الموقع.</p>
    </section>
    <section>
      <h2 class="sec-title-med">هل نستخدم الكوكيز؟</h2>
      <p>نعم. الكوكيز هي ملفات صغيرة موقع أو نقل لمزود الخدمة لمحرك الأقراص الثابت للكمبيوتر من خلال متصفح ويب (إذا سمحتم) التي تمكن هذه المواقع أو مقدمي خدمة نظم الاعتراف المتصفح ، والتقاط وتذكر بعض المعلومات. نحن نستخدم الكوكيز لفهم وحفظ التفضيلات الخاصة بك لزيارات في المستقبل.</p>
    </section>
    <section>
      <h2 class="sec-title-med">نحن لا نكشف عن أي معلومات إلى أطراف خارجية؟</h2>
      <p>نحن لا نبيع، والتجارة ، أو نقلها إلى الأطراف خارج معلوماتك الشخصية.</p>
    </section>
    <section>
      <h2 class="sec-title-med">روابط الطرف الثالث</h2>
      <p>أحيانا، في تقديرنا، ونحن قد تشمل أو تقديم منتجات أو خدمات طرف ثالث على موقعنا. هذه المواقع طرف ثالث لديها سياسات خصوصية منفصلة ومستقلة. ولذلك لدينا أي مسؤولية أو مسؤولية عن محتوى وأنشطة هذه المواقع المرتبطة. ومع ذلك، فإننا نسعى إلى حماية سلامة موقعنا ونرحب بأي ملاحظات حول هذه المواقع.</p>
    </section>
    <section>
      <h2 class="sec-title-med">موافقتك</h2>
      <p>باستخدام موقعنا، فإنك توافق على موقع الويب الخاص بنا سياسة الخصوصية.</p>
    </section>
    <section>
      <h2 class="sec-title-med">تغييرات على سياسة الخصوصية</h2>
      <p>إذا قررنا تغيير سياسة الخصوصية ، فإننا سنقوم بنشر هذه التغييرات على هذه الصفحة ، و / أو إرسال بريد إلكتروني لإبلاغك بأي تغييرات.</p>
    </section>
  </div>
</div>

