<div class="aligned">
  <div class="info-page border-all">
    <h1>شروط الموقع وشروط الاستخدام</h1>
    <section>
      <h2 class="sec-title-med">1. شروط</h3>
      <p>عن طريق الوصول إلى هذا الموقع ، فإنك توافق على الالتزام بهذه الشروط موقع ويب وشروط الاستخدام. إذا كنت لا أتفق مع أي من هذه الشروط، وتثبيط لك من استخدام أو الوصول إلى هذا الموقع.</p>
    </section>
    <section>
      <h2 class="sec-title-med">2. حذف والتعديل.</h3>
      <p>ونحن نحتفظ بحقنا في بمحض اختيارنا ، ودون أي التزام وبدون أي شرط إشعار لك، لتعديل أو حذف أي وظائف أو معلومات أو غيرها من المحتويات التي تظهر على الموقع، بما في ذلك الاتفاق.</p>
    </section>
    <section>
      <h2 class="sec-title-med">3. كلمة السر الأمن</h3>
      <p>إذا سجل لتصبح عضوا في هذا الموقع ، أنت مسؤول عن الحفاظ على سرية هوية العضو الخاص بك وكلمة المرور المعلومات، وتقييد الوصول إلى جهاز الكمبيوتر الخاص بك. فإنك توافق على قبول المسؤولية عن جميع الأنشطة التي تحدث تحت تحديد الهوية الخاصة بك عضو وكلمة المرور.</p>
    </section>
    <section>
      <h2 class="sec-title-med">4. التعويض.</h3>
      <p>أنت تفهم وتوافق على أنك مسؤول شخصيا عن سلوكك على هذا الموقع. أنت توافق على تعويض والدفاع عنها وعدم الإضرار تجاوز المشروع، في الأصل منظمة شباب الشرق الأوسط، ومقدمي المعلومات أي طرف ثالث لخدمة من وضد جميع المطالبات والخسائر والأضرار الناجمة عن أو الناشئة عن استخدامك أو سوء استخدام أو عدم القدرة لاستخدام الموقع ، خدمة، أو المحتوى، أو انتهاك أي من قبلك لهذه الاتفاقية.</p>
    </section>
    <section>
      <h2 class="sec-title-med">5. الروابط</h3>
      <p>المشروع لا تتجاوز مراجعة كافة المواقع المرتبطة موقعها على شبكة الانترنت وليست مسؤولة عن محتويات موقع أي ربط من هذا القبيل. إدراج أي صلة لا يعني تأييد المشروع تجاوز. استخدام أي موقع ويب ترتبط هذه في خطر المستخدم الخاصة.</p>
    </section>
    <section>
      <h2 class="sec-title-med">6. مستخدم السلوك</h3>
      <p>فإنك توافق على استخدام هذا الموقع فقط للأغراض التعليمية وقابلة للتطبيق. أنت توافق على عدم اتخاذ أي إجراء يمكن أن يعرض للخطر أمن الموقع ، وأعضائه، أو تجعل موقع قابل للوصول إلى الآخرين أو التسبب بأي ضرر للموقع أو المحتوى. أنت توافق على عدم محاولة الوصول إلى أي محتوى أنه ليس المقصود بالنسبة لك. أنت توافق على عدم استخدام الموقع بأي شكل من الأشكال التي قد تتداخل مع حقوق أطراف ثالثة. ونحن نحتفظ بالحق في إنهاء أي حساب المستخدم الذي يشكل تهديدا لمستخدمينا.</p>
    </section>
    <section>
      <h2 class="sec-title-med">7. الموقع شروط الاستخدام</h3>
      <p>قد تجاوز مشروع تعديل هذه الشروط من أجل استخدام موقعها على شبكة الإنترنت في أي وقت دون سابق إنذار. باستخدام هذا الموقع فإنك توافق على الالتزام الإصدار الحالي ثم من هذه البنود وشروط الاستخدام.</p>
    </section>
  </div>
</div>

