<div class="aligned">
  <div class="info-page border-all">
    <h1>Web Site Terms and Conditions of Use</h1>
    <section>
      <h2 class="sec-title-med">1. Terms</h3>
      <p>By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use. If you do not agree with any of these terms, you are discouraged from using or accessing this site.</p>
    </section>
    <section>
      <h2 class="sec-title-med">2. Deleting and Modification.</h3>
      <p>We reserve the right in our sole discretion, without any obligation and without any notice requirement to you, to edit or delete any posts, information or other content appearing on the Site, including this Agreement.</p>
    </section>
    <section>      
      <h2 class="sec-title-med">3. Password Security</h3>
      <p>If you register to become a member of this website, you are responsible for maintaining the confidentiality of your member identification and password information, and for restricting access to your computer. You agree to accept responsibility for all activities that occur under your member identification and password.</p>
    </section>
    <section>
      <h2 class="sec-title-med">4. Indemnification.</h3>
      <p>You understand and agree that you are personally responsible for your behavior on this site. You agree to indemnify, defend and hold harmless Transcend Project, its parent organization Mideast Youth, and any third-party information providers to the service from and against all claims, losses and damages resulting from or arising out of your use, misuse, or inability to use the site, the service, or the content, or any violation by you of this agreement.</p>
    </section>
    <section>
      <h2 class="sec-title-med">5. Links</h3>
      <p>Transcend Project does not review all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Transcend Project. Use of any such linked web site is at the user's own risk.</p>
    </section>
    <section>
      <h2 class="sec-title-med">6. User Conduct</h3>
      <p>You agree to use the site only for educational and applicable purposes. You agree not to take any action that might compromise the security of the site, its members, or render the site inaccessible to others or otherwise cause damage to the site or the content. You agree not to attempt to access any content that is not intended for you. You agree not to use the site in any manner that might interfere with the rights of third parties. We reserve the right to terminate any user account that poses a threat to our users.</p>
    </section>
    <section>
      <h2 class="sec-title-med">7. Site Terms of Use</h3>
      <p>Transcend Project may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.</p>
    </section>
  </div>
</div>
    

