<div class="aligned">
  <div class="info-page border-all container-soft-box-shadow">
    <h1>شروط الاستخدام</h1>
    <section>
      <h2 class="sec-title-med">1. شروط</h3>
      <p>عند تسجيلك على هذا الموقع، فأنت توافق على الالتزام بشروط الاستخدام وتتعهد بقراءة سياسة الخصوصية. أمّا إذا كنت لا تتفق مع أيّ من شروط الاستخدام، أو سياسات الخصوصية، فمن فضلك توقّف عن استخدام هذا الموقع.</p>
    </section>
    <section>
      <h2 class="sec-title-med">2. الحذف والتعديل.</h3>
      <p>تحتفظ إدارة الموقع بالحق الكامل بحقنا في تغيير شروط الاستخدام دون الالتزام بإشعارك أو إخبارك، ونحتفظ أيضًا بحق تعديل أو حذف أي وظائف أو معلومات أو خلافه من المحتويات التي تظهر على الموقع، بما في ذلك هذا الاتفاق.</p>
    </section>
    <section>
      <h2 class="sec-title-med">3. أمان كلمة المرور</h3>
      <p>إذا قمت بتسجيل عضوية على هذا الموقع، فأنت مسؤول، مسؤولية كاملة، عن الحفاظ على سرية بيانات حسابك، اسم المستخدم وكلمة المرور، وقصر التسجيل بحسابك الشخصي عليك فقط. ولذا فأنت مُلزم بالموافقة على قبول المسؤولية كليًا عن جميع الأنشطة التي سوف تنتُج باستخدام الهوية الخاصة بك.</p>
    </section>
    <section>
      <h2 class="sec-title-med">4. التعويض.</h3>
      <p>أنت تفهم وتوافق على أنك مسؤول شخصيًا عن سلوكك على هذا الموقع. وتوافق على التعويض الكامل والدفاع القضائي عن أي ضرر يقع على مشروع أهواء، أو مقدمي هذه الخدمة، منظمة شباب الشرق الأوسط، أو أي طرف ثالث. ومُطالب أيضًا بتعويض جميع الخسائر والأضرار الناجمة، أو الناشئة، عن استخدامك، أو سوء استخدامك، أو عدم قدرتك على استخدام هذا الموقع، خدماته، أو محتواه، أو انتهاك أي جزء من هذه الاتفاقية، أو جميع ما سبق.</p>
    </section>
    <section>
      <h2 class="sec-title-med">5. الروابط</h3>
      <p>مشروع أهواء غير مُلزم بمراجعة كافة المواقع المرتبطة أو المنشور روابطها على الموقع، وليست مسؤولة، بالتالي، عن محتويات هذه المواقع مهما كانت. مشروع أهواء لم يقيّم أو يؤيد أو يقرّ أي إدخال أو إدراج أو تعليق على هذا الموقع. استخدام خدمات هذا الموقع أو زيارة أي روابط منشورة على صفحاته يقع ضمن مسؤولية المستخدم نفسه.</p>
    </section>
    <section>
      <h2 class="sec-title-med">6. سلوك المستخدم</h3>
      <p>أنت توافق على استخدام هذا الموقع للأغراض التعليمية أو الشخصية أو القابلة للتطبيق فقط. وتوافق أيضًا على عدم اتخاذ أي إجراء يمكن أن يعرّض الموقع، أو أي من أعضائه، للخطر، أو التسبب في أي ضرر للموقع أو المحتوى. وتوافق أيضًا على عدم محاولة الوصول إلى أي محتوى لا تملك حق الإطلاع عليه بأي طريقة غير مشروعة. أنت توافق على عدم استخدام الموقع بأي شكل من الأشكال التي قد تتداخل مع حقوق الأطراف الثالثة. وتحتفظ إدارة الموقع بالحق الكامل في إنهاء أي حساب، يقوم مستخدمه/مستخدمته بتشكيل تهديدًا ضد إدارة الموقع أو مستخدميه.</p>
    </section>
    <section>
      <h2 class="sec-title-med">7. شروط استخدام الموقع</h3>
      <p>يجوز لإدارة مشروع أهواء تعديل هذه الشروط في أي وقت دون سابق إنذار. وباستخدام هذا الموقع، فإنك توافق على الالتزام بهذا الإصدار الحالي من بنود هذه الاتفاقية وشروط الاستخدام وسياسات الخصوصية.</p>
    </section>
  </div>
</div>

