<% if params[:reply_to] %>
  var w = $('.message-replies');
  w.hasClass('pm-details');
  w.append('<%= escape_javascript render(:partial => 'reply', :object => @message) %>');
  $('#reply-form').show()[0].reset();
  $('#reply-form > .btn-gradient').hide();
  $('#reply-form textarea').css({'height':'16px', 'min-height':'16px'});
  !$.browser.webkit && $('#reply-form textarea').val().length == 0 && $('#reply-form textarea').val($('#reply-form textarea').attr('placeholder'));
<% else %>
  var _form = $('.form-private-msg');
  _form.find('.pm-flash').remove();
  <% if @message.valid? %>
    debugger
    _form.each(function() { this.reset(); });
    _form.find('.loading').removeClass('loading');
    _form.prepend('<div class="pm-flash success border-all"><p>' + I18n.t('private_message.message_sent') + '</p></div>');
    _form.delay(2000).slideUp(function(){
    _form.parent().find('.send-private-msg').removeClass('disabled').end().find('.pm-flash.success').remove();
    _form.parents().find('.help-msg').hide();
  });
  <% else %>
      _form.prepend('<div class="pm-flash error border-all"><p><%= escape_javascript @message.errors.full_messages.first %></p></div>');
  <% end %>
<% end %>
