/* line 13, ../../sass/ui/chat/chat_room_list.scss */
.open_hall_fame.room-chat-list {
  bottom: 110px;
}

/* line 18, ../../sass/ui/chat/chat_room_list.scss */
.room-chat-list {
  position: fixed !important;
  z-index: 9999;
  bottom: 31px;
  right: 15px;
  width: 280px;
  -webkit-transform: translateY(367px);
  -moz-transform: translateY(367px);
  -ms-transform: translateY(367px);
  -o-transform: translateY(367px);
  transform: translateY(367px);
}
/* line 19, ../../sass/ui/chat/chat_room_list.scss */
.room-chat-list * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
/* line 30, ../../sass/ui/chat/chat_room_list.scss */
.room-chat-list.active {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
/* line 34, ../../sass/ui/chat/chat_room_list.scss */
.room-chat-list .chat-widget__panel-users-list {
  top: 3px;
}

/* line 40, ../../sass/ui/chat/chat_room_list.scss */
.room-chat-list__header:before {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -3px;
  z-index: 1;
  background-color: #b920df;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #b920df), color-stop(11.11111%, #e10f00), color-stop(22.22222%, #ffa200), color-stop(33.33333%, #ffd900), color-stop(44.44444%, #3dab5b), color-stop(55.55556%, #56a2ed), color-stop(66.66667%, #4b5ddf), color-stop(77.77778%, #b920df), color-stop(88.88889%, #e10f00), color-stop(100%, #ffa200));
  background-image: -webkit-linear-gradient(left, #b920df, #e10f00, #ffa200, #ffd900, #3dab5b, #56a2ed, #4b5ddf, #b920df, #e10f00, #ffa200);
  background-image: -moz-linear-gradient(left, #b920df, #e10f00, #ffa200, #ffd900, #3dab5b, #56a2ed, #4b5ddf, #b920df, #e10f00, #ffa200);
  background-image: -o-linear-gradient(left, #b920df, #e10f00, #ffa200, #ffd900, #3dab5b, #56a2ed, #4b5ddf, #b920df, #e10f00, #ffa200);
  background-image: linear-gradient(left, #b920df, #e10f00, #ffa200, #ffd900, #3dab5b, #56a2ed, #4b5ddf, #b920df, #e10f00, #ffa200);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2);
}
/* line 56, ../../sass/ui/chat/chat_room_list.scss */
.room-chat-list__header .chat__header--title span {
  display: inline-block;
}
/* line 58, ../../sass/ui/chat/chat_room_list.scss */
.room-chat-list__header .chat__header--title span.counter {
  color: #e5f2ff;
}

/* line 63, ../../sass/ui/chat/chat_room_list.scss */
.room-chat-list__body {
  height: 370px;
  position: relative;
}

/* line 67, ../../sass/ui/chat/chat_room_list.scss */
.room-chat-list__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  height: 100%;
  overflow: auto;
}
/* line 75, ../../sass/ui/chat/chat_room_list.scss */
.room-chat-list__list li {
  cursor: pointer;
  display: table;
  position: relative;
  padding: 9px 10px;
  font-size: 13px;
  line-height: 19px;
  background-color: inherit;
  color: #494b4c;
}
/* line 84, ../../sass/ui/chat/chat_room_list.scss */
.room-chat-list__list li:hover {
  background-color: #f5f9fc;
}
/* line 88, ../../sass/ui/chat/chat_room_list.scss */
.room-chat-list__list li.active:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 50%;
  border-left: 4px solid #2d70b3;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  margin-top: -4px;
}
/* line 101, ../../sass/ui/chat/chat_room_list.scss */
.room-chat-list__list li.new {
  font-weight: bold;
}
/* line 105, ../../sass/ui/chat/chat_room_list.scss */
.room-chat-list__list .title {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
/* line 110, ../../sass/ui/chat/chat_room_list.scss */
.room-chat-list__list .info {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding-left: 10px;
}
/* line 115, ../../sass/ui/chat/chat_room_list.scss */
.room-chat-list__list .info > * {
  display: table-cell;
  vertical-align: middle;
}
/* line 121, ../../sass/ui/chat/chat_room_list.scss */
.room-chat-list__list .chat__admin-actions .chat-icon--settings-list {
  margin-right: 3px;
}
/* line 126, ../../sass/ui/chat/chat_room_list.scss */
.room-chat-list__list .info__invitation .chat-icon--invitation-list {
  margin-right: 10px;
}
/* line 129, ../../sass/ui/chat/chat_room_list.scss */
.room-chat-list__list .info__invitation .effekt-tooltip:after {
  width: 80px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 138, ../../sass/ui/chat/chat_room_list.scss */
.room-chat-list__list--label {
  color: #9da2a6;
}

/* line 142, ../../sass/ui/chat/chat_room_list.scss */
#create-new-chatroom-form {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  background-color: #edf2f7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
/* line 151, ../../sass/ui/chat/chat_room_list.scss */
#create-new-chatroom-form a {
  font-size: 12px;
  color: #8fa1b2;
}
/* line 155, ../../sass/ui/chat/chat_room_list.scss */
#create-new-chatroom-form button[type="submit"] {
  margin-right: 5px;
}
/* line 159, ../../sass/ui/chat/chat_room_list.scss */
#create-new-chatroom-form li.token-input-token-ahwaa {
  padding: 1px 5px;
}
/* line 162, ../../sass/ui/chat/chat_room_list.scss */
#create-new-chatroom-form li.token-input-input-token-ahwaa {
  margin-top: 1px;
}
/* line 165, ../../sass/ui/chat/chat_room_list.scss */
#create-new-chatroom-form div.token-input-dropdown-ahwaa {
  width: 259px !important;
}

/* line 170, ../../sass/ui/chat/chat_room_list.scss */
.no-rooms-messages {
  display: none;
  position: absolute;
  top: 0;
  padding: 20px;
  font-size: 13px;
  text-align: center;
  color: #5c6166;
}
/* line 179, ../../sass/ui/chat/chat_room_list.scss */
.no-rooms-messages .title {
  line-height: 26px;
  margin-bottom: 5px;
}
/* line 183, ../../sass/ui/chat/chat_room_list.scss */
.no-rooms-messages .message {
  line-height: 19px;
}
/* line 186, ../../sass/ui/chat/chat_room_list.scss */
.no-rooms-messages .chat-icon--top-arrow {
  position: absolute;
  top: 10px;
  right: 5px;
}
