<h1><%= label_tag :bad_word_list %></h1>
<%= form_tag admin_bad_words_path, :method => :put do %>
  <p><%= text_area_tag :bad_word_list, @bad_word_list %></p>
  <p><span class="desc">Comma separated</span></p>
  <p><%= submit_tag %></p>
<% end %>
