<%= form_tag admin_bad_words_path, :method => :put do %>
  <p>
    <%= label_tag :bad_word_list %>
    <%= text_area_tag :bad_word_list, @bad_word_list, :required => "true" %>
    <span class="desc">Comma separated</span>
  </p>
  <p>
    <%= submit_tag %>
  </p>
<% end %>
