<% stylesheet 'passwords' %>
<div class="aligned">
  <%= form_tag password_path(@user.single_access_token), :method => :put do %>
    <p>
      <%= label_tag :new_password %>
      <%= password_field_tag :password %>
    </p>
    <p>
      <%= submit_tag t('.submit'), :class => 'btn-gradient' %>
    </p>
  <% end %>
</div>
