/* Landscape phones and down */
@media only screen and (max-width: 768px) {
  /* line 4, ../../sass/ui/chat/chat.scss */
  .chat__window {
    display: none;
  }
}
/* line 9, ../../sass/ui/chat/chat.scss */
.chat__window {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-width:1px 1px 0 1px;
  background-color: #fff;
  border-style: solid solid none solid;
  border-color: #748da6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 4px 4px 0 0;
  -webkit-transition: -webkit-transform 200ms ease, bottom 200ms ease, right 400ms linear, left 400ms linear;
  -webkit-transition-delay: 100ms, 0s, 0s, 0s;
  -moz-transition: -moz-transform 200ms ease 100ms, bottom 200ms ease, right 400ms linear, left 400ms linear;
  -o-transition: -o-transform 200ms ease 100ms, bottom 200ms ease, right 400ms linear, left 400ms linear;
  transition: transform 200ms ease 100ms, bottom 200ms ease, right 400ms linear, left 400ms linear;
}

/* line 27, ../../sass/ui/chat/chat.scss */
.chat-widget__notifications {
  z-index: 9999;
  display: none;
}
/* line 30, ../../sass/ui/chat/chat.scss */
.chat-widget__notifications .chat__header {
  font-style: italic;
}

/* line 35, ../../sass/ui/chat/chat.scss */
.chat__header {
  position: relative;
  display: table;
  width: 100%;
  padding: 0;
  height: 28px;
  cursor: pointer;
  background-color: #99b2cc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #abc1d6), color-stop(100%, #85a2be));
  background-image: -webkit-linear-gradient(#abc1d6, #85a2be);
  background-image: -moz-linear-gradient(#abc1d6, #85a2be);
  background-image: -o-linear-gradient(#abc1d6, #85a2be);
  background-image: linear-gradient(#abc1d6, #85a2be);
  box-shadow: inset 0 1px 0 #dae6f2;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #5c7a99;
}
/* line 49, ../../sass/ui/chat/chat.scss */
.chat__header.hover {
  background-color: #adc3d9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bccee0), color-stop(100%, #9bb4cf));
  background-image: -webkit-linear-gradient(#bccee0, #9bb4cf);
  background-image: -moz-linear-gradient(#bccee0, #9bb4cf);
  background-image: -o-linear-gradient(#bccee0, #9bb4cf);
  background-image: linear-gradient(#bccee0, #9bb4cf);
}
/* line 52, ../../sass/ui/chat/chat.scss */
.chat__header.hover:active {
  background-color: #adc3d9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a2bad3), color-stop(100%, #b3c8dc));
  background-image: -webkit-linear-gradient(#a2bad3, #b3c8dc);
  background-image: -moz-linear-gradient(#a2bad3, #b3c8dc);
  background-image: -o-linear-gradient(#a2bad3, #b3c8dc);
  background-image: linear-gradient(#a2bad3, #b3c8dc);
}
/* line 58, ../../sass/ui/chat/chat.scss */
.chat__header i:active {
  position: relative;
  top: 1px;
}
/* line 64, ../../sass/ui/chat/chat.scss */
.chat__header:hover .onboarding-tooltip {
  visibility: visible;
  opacity: 1;
}

/* line 71, ../../sass/ui/chat/chat.scss */
.chat__header--close {
  margin-left: 10px;
}

/* line 75, ../../sass/ui/chat/chat.scss */
.chat__header--full-btn {
  height: 28px;
  padding: 0 8px;
  margin: 0;
  color: #fff;
  background-color: rgba(51, 76, 102, 0.2);
  box-shadow: inset 0 1px 0 #dae6f2;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-width: 0;
}
/* line 87, ../../sass/ui/chat/chat.scss */
.chat__header--full-btn:hover {
  background-color: rgba(51, 76, 102, 0.35);
}

/* line 95, ../../sass/ui/chat/chat.scss */
.create-new-chatroom-button .effekt-tooltip[data-position="top"]:after,
.create-new-chatroom-button .effekt-tooltip[data-position="bottom"]:after {
  right: 7%;
}

/* line 101, ../../sass/ui/chat/chat.scss */
.chat__header--title {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 220px;
  white-space: nowrap;
  font-size: 12px;
  padding-top: 4px;
  line-height: 0;
  color: #fff;
  text-shadow: 0 1px 2px rgba(89, 108, 128, 0.7);
  text-align: right;
}

/* line 118, ../../sass/ui/chat/chat.scss */
.chat__header--options {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
/* line 122, ../../sass/ui/chat/chat.scss */
.chat__header--options > * {
  display: inline-block;
}

/* line 129, ../../sass/ui/chat/chat.scss */
.chat__header--options .chat__admin-actions .dropdown {
  left: 3px;
  top: 20px;
}

/* line 136, ../../sass/ui/chat/chat.scss */
.chat__admin-actions {
  position: relative;
}
/* line 138, ../../sass/ui/chat/chat.scss */
.chat__admin-actions .dropdown {
  display: none;
  position: absolute;
  left: 6px;
  top: 22px;
  z-index: 1;
  border: 1px solid #748da6;
  border-radius: 4px;
  background-color: #fff;
  text-align: right;
}
/* line 148, ../../sass/ui/chat/chat.scss */
.chat__admin-actions .dropdown ul {
  margin: 0;
  padding: 5px 0;
  list-style: none;
}
/* line 153, ../../sass/ui/chat/chat.scss */
.chat__admin-actions .dropdown li {
  cursor: pointer;
  width: 100%;
  font-size: 12px;
  padding:3px 10px 3px 15px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d9e1;
  background-color: #fff;
  color: #494b4d;
}
/* line 163, ../../sass/ui/chat/chat.scss */
.chat__admin-actions .dropdown li:hover {
  background-color: #f5f9fc;
}
/* line 166, ../../sass/ui/chat/chat.scss */
.chat__admin-actions .dropdown li:last-child {
  border-bottom-width: 0;
}
/* line 171, ../../sass/ui/chat/chat.scss */
.chat__admin-actions .dropdown:before, .chat__admin-actions .dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 10px;
  top: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}
/* line 182, ../../sass/ui/chat/chat.scss */
.chat__admin-actions .dropdown:before {
  margin-top: -5px;
  border-bottom: 4px solid #2d70b3;
}
/* line 186, ../../sass/ui/chat/chat.scss */
.chat__admin-actions .dropdown:after {
  margin-top: -4px;
}
/* line 193, ../../sass/ui/chat/chat.scss */
.chat__admin-actions .effekt-tooltip[data-position="top"]:after,
.chat__admin-actions .effekt-tooltip[data-position="bottom"]:after {
  right: 35%;
}
/* line 196, ../../sass/ui/chat/chat.scss */
.chat__admin-actions .effekt-tooltip[data-position="top"]:before,
.chat__admin-actions .effekt-tooltip[data-position="bottom"]:before {
  right: 20%;
}

/* line 205, ../../sass/ui/chat/chat.scss */
.chat__header--options .effekt-tooltip[data-position="top"]:before,
.chat__header--options .effekt-tooltip[data-position="bottom"]:before {
  right: 45%;
}
/* line 208, ../../sass/ui/chat/chat.scss */
.chat__header--options .effekt-tooltip[data-position="top"]:after,
.chat__header--options .effekt-tooltip[data-position="bottom"]:after {
  right: 0%;
}

/* line 216, ../../sass/ui/chat/chat.scss */
.chat-icon--user.with-counter,
.chat-icon--user-lighter.with-counter {
  position: relative;
  margin-left: 15px;
}
/* line 219, ../../sass/ui/chat/chat.scss */
.chat-icon--user.with-counter:before,
.chat-icon--user-lighter.with-counter:before {
  content: attr(data-count);
  position: absolute;
  width: 100%;
  left: -15px;
  top: 2px;
  font-size: 9px;
  line-height: 1em;
  color: #8fa1b2;
  font-style: normal;
}

/* line 234, ../../sass/ui/chat/chat.scss */
.chat-icon--user-lighter.with-counter::before {
  color: #e5f2ff;
  text-shadow: 0 1px 2px rgba(89, 108, 128, 0.7);
  text-align: right;
  line-height: 0.6em;
}

/* line 243, ../../sass/ui/chat/chat.scss */
.chat__overlay-message {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(237, 242, 247, 0.85);
  text-align: center;
  z-index: 1;
}
/* line 254, ../../sass/ui/chat/chat.scss */
.chat__overlay-message .chat__overlay-message--wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 259, ../../sass/ui/chat/chat.scss */
.chat__overlay-message .chat__overlay-message--inner {
  display: table-cell;
  vertical-align: middle;
}
/* line 263, ../../sass/ui/chat/chat.scss */
.chat__overlay-message .loader {
  background-color: white;
  padding: 5px;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 3px;
}
/* line 269, ../../sass/ui/chat/chat.scss */
.chat__overlay-message .loader img {
  display: inline-block;
  vertical-align: top;
}
/* line 274, ../../sass/ui/chat/chat.scss */
.chat__overlay-message .chat__overlay-message--title {
  font-size: 16px;
  font-weight: bold;
}
/* line 278, ../../sass/ui/chat/chat.scss */
.chat__overlay-message .chat__overlay-message--message {
  font-size: 12px;
  line-height: 20px;
}

/* line 284, ../../sass/ui/chat/chat.scss */
.onboarding-create-room {
  display: none;
  position: absolute;
  top: 0;
  padding: 12px 15px;
  font-size: 12px;
  line-height: 1.5em;
  border-bottom: 1px solid #609dda;
  color: #596c80;
  background-color: #f2f8ff;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent 100%), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f9ff), color-stop(100%, #e5f2ff));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent 100%), -webkit-linear-gradient(#f3f9ff, #e5f2ff);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent 100%), -moz-linear-gradient(#f3f9ff, #e5f2ff);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent 100%), -o-linear-gradient(#f3f9ff, #e5f2ff);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent 100%), linear-gradient(#f3f9ff, #e5f2ff);
  background-size: 20px 20px, 100%;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
/* line 308, ../../sass/ui/chat/chat.scss */
.onboarding-create-room a {
  text-decoration: underline;
}
/* line 311, ../../sass/ui/chat/chat.scss */
.onboarding-create-room span {
  margin: 0 5px;
}
/* line 315, ../../sass/ui/chat/chat.scss */
.onboarding-create-room .chat-icon--top-arrow-small {
  position: absolute;
  top: 9px;
  left: 25px;
}

/* line 322, ../../sass/ui/chat/chat.scss */
.onboarding-tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 33px;
  right: 8px;
  left: 8px;
  padding: 17px 15px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.18);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.18);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
}
/* line 341, ../../sass/ui/chat/chat.scss */
.onboarding-tooltip:before, .onboarding-tooltip:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}
/* line 347, ../../sass/ui/chat/chat.scss */
.onboarding-tooltip:before {
  bottom: -25px;
  right: 39px;
  border: 12px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.2);
}
/* line 353, ../../sass/ui/chat/chat.scss */
.onboarding-tooltip:after {
  bottom: -22px;
  right: 40px;
  border: 11px solid transparent;
  border-top-color: #fff;
}
/* line 360, ../../sass/ui/chat/chat.scss */
.onboarding-tooltip > p {
  margin: 0 0 15px;
}
/* line 364, ../../sass/ui/chat/chat.scss */
.onboarding-tooltip .points-table li {
  float: none;
  width: 100%;
}
/* line 367, ../../sass/ui/chat/chat.scss */
.onboarding-tooltip .points-table li .desc {
  display: inline-block;
  margin:1px 5px 0 0;
}
