/* line 3, sass/messages.scss */
.messages-wrapper {
  position: relative;
  /* Landscape phones and down */
}
/* line 4, sass/messages.scss */
.messages-wrapper h3.pm-panel-padding {
  margin-top: 20px;
}
/* line 5, sass/messages.scss */
.messages-wrapper .right-side {
  background: url("../../images/bg-article.png") repeat-x scroll 0 1px white;
  float:left;
  width: 780px;
}
/* line 9, sass/messages.scss */
.messages-wrapper .right-side .messages-title h2 {
  float:right;
  font-family: 'GothamMediumRegular';
  font-size: 17px;
  font-weight: normal;
}
/* line 16, sass/messages.scss */
.messages-wrapper .delete-message .opt-delete {
  background-image: url("../../images/icn-options-user.png");
  background-position:100% -13px;
  border-color: transparent;
  background-repeat: no-repeat;
  width: 9px;
  height: 11px;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  padding: 0;
  display: block;
}
@media (max-width: 480px) {
  /* line 19, sass/messages.scss */
  .messages-wrapper .right-side {
    width: auto;
  }
}

/* line 23, sass/messages.scss */
.message-data {
  float:right;
  width: 520px;
  margin-right: 10px;
}
/* line 25, sass/messages.scss */
.message-data .msg a {
  color: #494b4c;
  font-size: 13px;
}
/* line 26, sass/messages.scss */
.message-data > .from > a {
  font-size: 13px;
  float:right;
  padding-top: 11px;
}

/* line 28, sass/messages.scss */
.message-title {
  padding-bottom: 10px;
}

/* line 30, sass/messages.scss */
.from {
  padding-bottom: 10px;
  overflow: hidden;
}
/* line 31, sass/messages.scss */
.from > a > span {
  float:right;
  margin-left: 3px;
}
/* line 32, sass/messages.scss */
.from .display-pm {
  color: #468ac4;
  font-weight: bold;
}
/* line 33, sass/messages.scss */
.from .display-pm:hover {
  text-decoration: underline;
}

/* line 37, sass/messages.scss */
.delete-message {
  float:left;
  width: 110px;
  position: relative;
  top: 22px;
}
/* line 38, sass/messages.scss */
.delete-message > .date {
  font-size: 11px;
  color: #a1aab2;
  float:left;
  padding:3px 0 0 10px;
}
/* line 39, sass/messages.scss */
.delete-message > a {
  float:left;
  padding:2px 3px 2px 2px;
  width: 12px;
  height: 12px;
  margin-top: -2px;
}

/* line 41, sass/messages.scss */
.opt-reply {
  height: 16px;
  right: -22px;
  top: 33px;
  padding: 0;
  position: absolute;
  width: 16px;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  background: url("../../images/icn-reply-drk.png") 0 0;
  background-repeat: no-repeat;
}
/* line 43, sass/messages.scss */
.opt-reply:hover {
  background-position: -16px 0;
}

/* line 45, sass/messages.scss */
.new > .opt-reply {
  background-image: url("../../images/icn-new-message-indicator.png");
  background-repeat: no-repeat;
}

/* line 47, sass/messages.scss */
#pm-wrapper .messages {
  padding:20px 30px 40px 20px;
}

/* line 48, sass/messages.scss */
.messages > li {
  position: relative;
  width: auto;
  background-color: #FBFBFB;
  border: 1px solid #dfe2e6;
  margin-bottom: 20px;
  padding:10px 9px 10px 11px;
  -webkit-box-shadow: inset 0 0 0 1px white;
  -moz-box-shadow: inset 0 0 0 1px white;
  box-shadow: inset 0 0 0 1px white;
}
/* line 56, sass/messages.scss */
.messages > li.new {
  background-color: #f2f9ff;
  border-color: #398fe5;
  -webkit-box-shadow: 0 0 5px rgba(76, 166, 255, 0.3), inset 0 0 0 1px white;
  -moz-box-shadow: 0 0 5px rgba(76, 166, 255, 0.3), inset 0 0 0 1px white;
  box-shadow: 0 0 5px rgba(76, 166, 255, 0.3), inset 0 0 0 1px white;
}

/* line 61, sass/messages.scss */
.pm-panel-padding {
  padding:0 20px 20px 20px;
}

/* line 63, sass/messages.scss */
.pm-details {
  font-size: 12px;
  padding-top: 20px;
}

/* line 64, sass/messages.scss */
.pm-user {
  margin-bottom: 20px;
}

/* line 65, sass/messages.scss */
.pm-user-response {
  color: #b3b8bc;
  padding: 20px 0 10px;
}

/* line 66, sass/messages.scss */
.pm-user-response > a {
  color: #5e5e5e;
  font-weight: bold;
}

/* line 67, sass/messages.scss */
.pm-user .avatar-wrapper {
  margin-left: 14px;
  z-index: 1;
}

/* line 68, sass/messages.scss */
.pm-user-details {
  color: #b3b8bc;
  margin-top: 10px;
  float:right;
  width: 536px;
}

/* line 69, sass/messages.scss */
.pm-user-details > div {
  margin-bottom: 5px;
}

/* line 70, sass/messages.scss */
.pm-user-details a {
  color: #468ac4;
  font-weight: bold;
}

/* line 71, sass/messages.scss */
.pm-message {
  color: #3f4245;
  line-height: 18px;
  border-bottom: 1px solid #dae0e5;
  padding-bottom: 20px;
}

/* line 73, sass/messages.scss */
#pm-wrapper strong {
  color: black;
}

/* line 74, sass/messages.scss */
.hide {
  display: none;
}

/* line 75, sass/messages.scss */
.response-wrapper {
  margin:0 0 11px 0;
  width: 660px;
  border: none;
}

/* line 76, sass/messages.scss */
.new_private_message > .btn-gradient {
  padding: 5px 9px;
  display: none;
}

/* line 78, sass/messages.scss */
.pm-flash.success {
  margin:4px 0 20px 0;
  padding: 7px;
}

/* line 79, sass/messages.scss */
.pm-flash.success > p {
  font-size: 12px;
  word-spacing: -1px;
}

/* line 81, sass/messages.scss */
.back-to-msgs {
  float:left;
  font-size: 12px;
  margin-top: -7px;
}

/* line 82, sass/messages.scss */
.back-to-msgs span {
  padding: 4px 10px 0;
  height: 18px;
  display: block;
}

/* line 84, sass/messages.scss */
.new-response textarea {
  border: 0;
  font-family: arial;
  font-size: 13px;
  line-height: 20px;
  min-width: 646px;
  width: 646px;
  max-width: 646px;
}

/* line 86, sass/messages.scss */
.replies-wrapper {
  float:right;
}
/* line 87, sass/messages.scss */
.replies-wrapper > .discussion-wrapper {
  border-bottom: 1px solid #dae0e5;
  padding: 20px 0 17px;
  float:right;
}
/* line 88, sass/messages.scss */
.replies-wrapper > .discussion-wrapper > .avatar-wrapper {
  margin-left: 10px;
}
/* line 89, sass/messages.scss */
.replies-wrapper > .discussion-wrapper > .message-data {
  float:right;
  margin-right: 0;
  width: 666px;
}
/* line 90, sass/messages.scss */
.replies-wrapper > .discussion-wrapper > .message-data > .from {
  padding-bottom: 5px;
}
/* line 91, sass/messages.scss */
.replies-wrapper > .discussion-wrapper > .message-data > .from > a {
  float:right;
  font-size: 13px;
  font-weight: bold;
  padding-top: 0;
}
/* line 92, sass/messages.scss */
.replies-wrapper > .discussion-wrapper > .message-data > .from > .date {
  color: #A1AAB2;
  float:left;
  font-size: 11px;
}
/* line 94, sass/messages.scss */
.replies-wrapper > .discussion-wrapper > .message-data > .msg {
  line-height: 20px;
  width: 550px;
}

/* line 99, sass/messages.scss */
.my-messages-reply-wrapper {
  float:right;
  padding: 20px 0;
}
/* line 100, sass/messages.scss */
.my-messages-reply-wrapper > .avatar-wrapper {
  margin-left: 10px;
}
/* line 101, sass/messages.scss */
.my-messages-reply-wrapper > form {
  float:right;
}
/* line 103, sass/messages.scss */
.my-messages-reply-wrapper > form > a {
  font-weight: bold;
  padding-bottom: 5px;
  display: block;
}

/* line 107, sass/messages.scss */
.btn-gradient {
  clear: right;
  border: 1px solid;
  border-color: #cfdae6 #c8d4e1 #a0b0c0 #c8d4e1;
  text-align: center;
  font-weight: bold;
  height: 24px;
  font-family: Arial;
  font-size: 12px;
  color: #2D70B3;
  text-shadow: 0 1px 0 #fff;
  background-color: #fafcfd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafcfd), color-stop(100%, #ecf4f9));
  background-image: -webkit-linear-gradient(top, #fafcfd, #ecf4f9);
  background-image: -moz-linear-gradient(top, #fafcfd, #ecf4f9);
  background-image: -o-linear-gradient(top, #fafcfd, #ecf4f9);
  background-image: linear-gradient(top, #fafcfd, #ecf4f9);
  -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 121, sass/messages.scss */
.btn-gradient:hover {
  cursor: pointer;
  background-color: #ecf4f9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ecf4f9), color-stop(100%, #fafcfd));
  background-image: -webkit-linear-gradient(top, #ecf4f9, #fafcfd);
  background-image: -moz-linear-gradient(top, #ecf4f9, #fafcfd);
  background-image: -o-linear-gradient(top, #ecf4f9, #fafcfd);
  background-image: linear-gradient(top, #ecf4f9, #fafcfd);
}

/* line 124, sass/messages.scss */
.btn-gradient:active {
  border-color: #a0b0c0 #c8d4e1 #cfdae6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaf7fd), color-stop(100%, #f9fdfe));
  background-image: -webkit-linear-gradient(top, #eaf7fd, #f9fdfe);
  background-image: -moz-linear-gradient(top, #eaf7fd, #f9fdfe);
  background-image: -o-linear-gradient(top, #eaf7fd, #f9fdfe);
  background-image: linear-gradient(top, #eaf7fd, #f9fdfe);
}
