/* line 3, sass/messages.scss */
.messages-wrapper {
  position: relative;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}
/* line 4, sass/messages.scss */
.messages-wrapper h3.pm-panel-padding {
  margin-top: 20px;
}
/* line 5, sass/messages.scss */
.messages-wrapper .right-side {
  background: url("../../images/bg-article.png") repeat-x scroll 0 1px white;
  float:left;
  width: 780px;
}
/* line 9, sass/messages.scss */
.messages-wrapper .right-side .messages-title h2 {
  float:right;
  font-family: 'GothamMediumRegular';
  font-size: 17px;
  font-weight: normal;
}
/* line 16, sass/messages.scss */
.messages-wrapper .delete-message .opt-delete {
  background-image: url("../../images/icn-options-user.png");
  background-position:100% -13px;
  border-color: transparent;
  background-repeat: no-repeat;
  width: 9px;
  height: 11px;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  padding: 0;
  display: block;
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 19, sass/messages.scss */
  .messages-wrapper .right-side {
    width: auto;
    margin-right: 150px;
  }
  /* line 22, sass/messages.scss */
  .messages-wrapper .right-side .message-data {
    width: auto;
    min-width: 318px;
  }
}
@media (max-width: 767px) {
  /* line 29, sass/messages.scss */
  .messages-wrapper .right-side {
    width: 100%;
  }
  /* line 31, sass/messages.scss */
  .messages-wrapper .right-side .avatar-wrapper {
    position: absolute;
  }
  /* line 34, sass/messages.scss */
  .messages-wrapper .right-side .message-data {
    float: none;
    width: auto;
    margin-right: 75px;
  }
  /* line 39, sass/messages.scss */
  .messages-wrapper .right-side .delete-message {
    position: static;
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  /* line 46, sass/messages.scss */
  .messages-wrapper .right-side {
    width: 100%;
  }
  /* line 49, sass/messages.scss */
  .messages-wrapper .right-side .avatar-wrapper .avatar {
    width: 30px;
    height: 30px;
    padding: 1px;
  }
  /* line 53, sass/messages.scss */
  .messages-wrapper .right-side .avatar-wrapper .avatar img {
    width: 100%;
    height: 100%;
  }
  /* line 57, sass/messages.scss */
  .messages-wrapper .right-side .avatar-wrapper .avatar > span {
    top: 20px;
    right: 1px;
  }
  /* line 64, sass/messages.scss */
  .messages-wrapper .right-side .message-data,
  .messages-wrapper .right-side .discussion-wrapper > .message-data {
    margin-right: 45px;
  }
  /* line 67, sass/messages.scss */
  .messages-wrapper .right-side .message-data > .from > a {
    padding-top: 0;
  }
}

/* line 74, sass/messages.scss */
.message-data {
  float:right;
  width: 520px;
  margin-right: 10px;
}
/* line 77, sass/messages.scss */
.message-data .msg a {
  color: #494b4c;
  font-size: 13px;
}
/* line 78, sass/messages.scss */
.message-data .msg p {
  word-break: break-all;
}
/* line 80, sass/messages.scss */
.message-data > .from > a {
  font-size: 13px;
  float:right;
  padding-top: 11px;
}

/* line 82, sass/messages.scss */
.message-title {
  padding-bottom: 10px;
}

/* line 84, sass/messages.scss */
.from {
  padding-bottom: 10px;
  overflow: hidden;
}
/* line 85, sass/messages.scss */
.from > a > span {
  float:right;
  margin-left: 3px;
}
/* line 86, sass/messages.scss */
.from .display-pm {
  color: #468ac4;
  font-weight: bold;
}
/* line 87, sass/messages.scss */
.from .display-pm:hover {
  text-decoration: underline;
}

/* line 91, sass/messages.scss */
.delete-message {
  float:left;
  width: 110px;
  position: relative;
  top: 22px;
}
/* line 92, sass/messages.scss */
.delete-message > .date {
  font-size: 11px;
  color: #a1aab2;
  float:left;
  padding:3px 0 0 10px;
}
/* line 93, sass/messages.scss */
.delete-message > a {
  float:left;
  padding:2px 3px 2px 2px;
  width: 12px;
  height: 12px;
  margin-top: -2px;
}

/* line 95, sass/messages.scss */
.opt-reply {
  height: 16px;
  right: -22px;
  top: 33px;
  padding: 0;
  position: absolute;
  width: 16px;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  background: url("../../images/icn-reply-drk.png") 0 0;
  background-repeat: no-repeat;
}
/* line 97, sass/messages.scss */
.opt-reply:hover {
  background-position: -16px 0;
}

/* line 99, sass/messages.scss */
.new > .opt-reply {
  background-image: url("../../images/icn-new-message-indicator.png");
  background-repeat: no-repeat;
}

/* line 101, sass/messages.scss */
#pm-wrapper .messages {
  padding:20px 30px 40px 20px;
}

/* line 102, sass/messages.scss */
.messages > li {
  position: relative;
  width: auto;
  background-color: #FBFBFB;
  border: 1px solid #dfe2e6;
  margin-bottom: 20px;
  padding:10px 9px 10px 11px;
  -webkit-box-shadow: inset 0 0 0 1px white;
  -moz-box-shadow: inset 0 0 0 1px white;
  box-shadow: inset 0 0 0 1px white;
}
/* line 110, sass/messages.scss */
.messages > li.new {
  background-color: #f2f9ff;
  border-color: #398fe5;
  -webkit-box-shadow: 0 0 5px rgba(76, 166, 255, 0.3), inset 0 0 0 1px white;
  -moz-box-shadow: 0 0 5px rgba(76, 166, 255, 0.3), inset 0 0 0 1px white;
  box-shadow: 0 0 5px rgba(76, 166, 255, 0.3), inset 0 0 0 1px white;
}

/* line 115, sass/messages.scss */
.pm-panel-padding {
  padding:0 20px 20px 20px;
}

/* line 117, sass/messages.scss */
.pm-details {
  font-size: 12px;
  padding-top: 20px;
}

/* line 118, sass/messages.scss */
.pm-user {
  margin-bottom: 20px;
}

/* line 119, sass/messages.scss */
.pm-user-response {
  color: #b3b8bc;
  padding: 20px 0 10px;
}

/* line 120, sass/messages.scss */
.pm-user-response > a {
  color: #5e5e5e;
  font-weight: bold;
}

/* line 121, sass/messages.scss */
.pm-user .avatar-wrapper {
  margin-left: 14px;
  z-index: 1;
}

/* line 122, sass/messages.scss */
.pm-user-details {
  color: #b3b8bc;
  margin-top: 10px;
  float:right;
  width: 536px;
}

/* line 123, sass/messages.scss */
.pm-user-details > div {
  margin-bottom: 5px;
}

/* line 124, sass/messages.scss */
.pm-user-details a {
  color: #468ac4;
  font-weight: bold;
}

/* line 125, sass/messages.scss */
.pm-message {
  color: #3f4245;
  line-height: 18px;
  border-bottom: 1px solid #dae0e5;
  padding-bottom: 20px;
}

/* line 127, sass/messages.scss */
#pm-wrapper strong {
  color: black;
}

/* line 128, sass/messages.scss */
.hide {
  display: none;
}

/* line 129, sass/messages.scss */
.response-wrapper {
  margin:5px 75px 11px 0;
  border: none;
}

/* line 130, sass/messages.scss */
.new_private_message > .btn-gradient {
  padding: 5px 9px;
  display: none;
}

/* line 132, sass/messages.scss */
.pm-flash.success {
  margin:4px 0 20px 0;
  padding: 7px;
}

/* line 133, sass/messages.scss */
.pm-flash.success > p {
  font-size: 12px;
  word-spacing: -1px;
}

/* line 135, sass/messages.scss */
.back-to-msgs {
  float:left;
  font-size: 12px;
  margin-top: -7px;
}

/* line 136, sass/messages.scss */
.back-to-msgs span {
  white-space: nowrap;
  padding: 4px 10px 0;
  height: 18px;
  display: block;
}

/* line 138, sass/messages.scss */
.new-response textarea {
  border: 0;
  font-family: arial;
  font-size: 13px;
  line-height: 20px;
  width: 100%;
}

/* line 141, sass/messages.scss */
.replies-wrapper > .discussion-wrapper {
  border-bottom: 1px solid #dae0e5;
  padding: 20px 0 17px;
}
/* line 142, sass/messages.scss */
.replies-wrapper > .discussion-wrapper > .avatar-wrapper {
  position: absolute;
}
/* line 143, sass/messages.scss */
.replies-wrapper > .discussion-wrapper > .message-data {
  float: none;
  margin-right: 75px;
  width: auto;
  min-height: 70px;
}
/* line 144, sass/messages.scss */
.replies-wrapper > .discussion-wrapper > .message-data > .from {
  padding-bottom: 5px;
}
/* line 145, sass/messages.scss */
.replies-wrapper > .discussion-wrapper > .message-data > .from > a {
  float:right;
  font-size: 13px;
  font-weight: bold;
  padding-top: 0;
}
/* line 146, sass/messages.scss */
.replies-wrapper > .discussion-wrapper > .message-data > .from > .date {
  color: #A1AAB2;
  float:left;
  font-size: 11px;
}
/* line 148, sass/messages.scss */
.replies-wrapper > .discussion-wrapper > .message-data > .msg {
  line-height: 20px;
  word-break: break-all;
}

/* line 162, sass/messages.scss */
.my-messages-reply-wrapper {
  padding: 20px 0;
  /* Landscape phones and down */
}
/* line 164, sass/messages.scss */
.my-messages-reply-wrapper > .avatar-wrapper {
  position: absolute;
}
/* line 166, sass/messages.scss */
.my-messages-reply-wrapper > form > a {
  font-weight: bold;
  padding-bottom: 5px;
  display: block;
}
/* line 168, sass/messages.scss */
.my-messages-reply-wrapper .username {
  margin:0 75px 0 0;
}
@media (max-width: 480px) {
  /* line 174, sass/messages.scss */
  .my-messages-reply-wrapper .response-wrapper,
  .my-messages-reply-wrapper .username {
    margin-right: 45px;
  }
}

/* line 180, sass/messages.scss */
.btn-gradient {
  clear: right;
  border: 1px solid;
  border-color: #cfdae6 #c8d4e1 #a0b0c0 #c8d4e1;
  text-align: center;
  font-weight: bold;
  height: 24px;
  font-family: Arial;
  font-size: 12px;
  color: #2D70B3;
  text-shadow: 0 1px 0 #fff;
  background-color: #fafcfd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafcfd), color-stop(100%, #ecf4f9));
  background-image: -webkit-linear-gradient(top, #fafcfd, #ecf4f9);
  background-image: -moz-linear-gradient(top, #fafcfd, #ecf4f9);
  background-image: -o-linear-gradient(top, #fafcfd, #ecf4f9);
  background-image: linear-gradient(top, #fafcfd, #ecf4f9);
  -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 194, sass/messages.scss */
.btn-gradient:hover {
  cursor: pointer;
  background-color: #ecf4f9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ecf4f9), color-stop(100%, #fafcfd));
  background-image: -webkit-linear-gradient(top, #ecf4f9, #fafcfd);
  background-image: -moz-linear-gradient(top, #ecf4f9, #fafcfd);
  background-image: -o-linear-gradient(top, #ecf4f9, #fafcfd);
  background-image: linear-gradient(top, #ecf4f9, #fafcfd);
}

/* line 197, sass/messages.scss */
.btn-gradient:active {
  border-color: #a0b0c0 #c8d4e1 #cfdae6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaf7fd), color-stop(100%, #f9fdfe));
  background-image: -webkit-linear-gradient(top, #eaf7fd, #f9fdfe);
  background-image: -moz-linear-gradient(top, #eaf7fd, #f9fdfe);
  background-image: -o-linear-gradient(top, #eaf7fd, #f9fdfe);
  background-image: linear-gradient(top, #eaf7fd, #f9fdfe);
}
