.my-topics-wrapper {position: relative}
.my-topics-wrapper .is_empty {border: 1px solid #dfe2e5; margin: 20px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.my-topics-wrapper .is_empty .title {font-size: 16px; margin: 7px 0 4px}
.my-topics-wrapper .help-box {background-color: #f8fafa}
.my-topics-wrapper .is_empty div {padding: 15px 12px; border-width:0 1px 1px 1px; border-style: solid; border-color: transparent #ffffff #dae0e6}
.my-topics-wrapper .is_empty div:first-child {
  -webkit-border-radius: 2px 2px 0 0;
     -moz-border-radius: 2px 2px 0 0;
          border-radius: 2px 2px 0 0;
}
.my-topics-wrapper .is_empty div:last-child {border-bottom-color: #ffffff;
  -webkit-border-radius: 0 0 2px 2px;
     -moz-border-radius: 0 0 2px 2px;
          border-radius: 0 0 2px 2px;
}
.is_empty .request-topic {float: none; margin: 0}

.content.my-topics-wrapper .right-side {float:left; background: url("../../images/bg-article.png") repeat-x scroll 0 1px #fff; width: 780px; min-height: 280px}
.content.my-topics-wrapper .right-side h2 {font-family:'GothamMediumRegular'; font-weight: normal; font-size: 17px; float:right}

.topic-participation {margin: 20px}
.topic-participation > li {float:right; margin-bottom: 20px; border: 1px solid #dfe2e5}
.topic-participation > li > .topic-spotlight,
.topic-participation > li > .topic-recent-historial {width: 720px; float:right; padding: 10px;}
.topic-participation  > li > .topic-spotlight {background-color: rgba(255, 255, 255, 0.8); border-bottom: 1px solid #dae0e6}
.topic-participation  > li > .topic-recent-historial {background-color: #f7f9fa}
.topic-participation .topic-spotlight .avatar {width: 42px; height: 42px; padding: 3px}
.topic-participation .topic-spotlight .avatar > span {top: 32px; right: 9px}
.topic-participation .topic-spotlight .avatar img {width: 42px; height: 42px}
.topic-participation .topic-spotlight .item-data {width: 100%}
.topic-participation .topic-spotlight .item-data > div {margin-top: 3px}
.topic-participation .topic-spotlight .title {font-size: 18px; line-height: 21px; font-family: 'GothamMediumRegular'; font-weight: lighter; display: block; margin: 5px 0}
.topic-participation .topic-spotlight .by-author {font-size: 11px; margin-left: 15px}
.topic-participation .topic-spotlight .responses {margin-left: 10px; background-image: url("../../images/icn-responses-dark.png"); background-position:100% 1px; background-repeat: no-repeat;}
.topic-participation .topic-spotlight .tags {font-size: 11px}
.topic-participation .topic-spotlight .tags > li:first-child {background-image: url("../../images/tag-horizontal.png"); background-position:100% 2px; background-repeat: no-repeat; padding-right: 20px}
.topic-participation .topic-recent-historial .collaborations {font-size: 11px; color: #a1aab2; background-image: url("../../images/icn-white-bubble-talk.png"); background-position:100% 0; background-repeat: no-repeat; padding-right: 17px; line-height: 14px}
.topic-participation .small-avatars {margin: 10px 0 5px; float:right}
.topic-participation .small-avatars > li {float:right; margin-left: 15px}
.topic-participation .small-avatars .recently-topics > ul > li {float: none; margin-left: 0}
.topic-participation .small-avatars .avatar {width: 24px; height: 24px; padding: 3px}
.topic-participation .small-avatars .avatar > span {top: 20px; right: 5px}
.topic-participation .small-avatars .avatar img {width: 24px; height: 24px}
