body > div {
    background: url("../../images/bg-topic-detail.jpg") repeat-x fixed 0 118px transparent;
}
.stream-wrapper {position: relative}

.stream-wrapper .right-side .stream-title {
      -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
          border-top-right-radius: 3px
}
.stream-wrapper .right-side .stream-title h2 {font-family:'GothamMediumRegular'; font-weight: normal; font-size: 17px; float:right}
.stream-wrapper .right-side .stream-title .filter {float:left}
.stream-wrapper .filter label {color: #8a9199}
.stream-title  .filter-label {float:right}
.stream-wrapper .right-side .recommended-topics {float:right; width: 200px; padding: 15px 20px}
.stream-wrapper .right-side .recommended-topics h3 {font-family: 'Gotham-Light'; font-size: 16px; font-weight: normal; border-bottom: 1px solid #dae0e6; padding-bottom: 8px; margin-bottom: 10px}
.stream-wrapper .right-side .recommended-topics ul {margin-bottom: 30px}
.stream-wrapper .right-side .recommended-topics li {margin-bottom: 10px; background-color: #f5f7fa; line-height: 18px; font-family: 'GothamMediumRegular';
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9fbfc), to(#f4f6f9));
  background-image: -webkit-linear-gradient(top, #f9fbfc, #f4f6f9);
  background-image:    -moz-linear-gradient(top, #f9fbfc, #f4f6f9);
  background-image:     -ms-linear-gradient(top, #f9fbfc, #f4f6f9);
  background-image:      -o-linear-gradient(top, #f9fbfc, #f4f6f9);
  background-image:         linear-gradient(top, #f9fbfc, #f4f6f9);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9fbfc', EndColorStr='#f4f6f9')";
}
.recommended-topics li > a {display: block; padding: 10px}
.streams .stream-items-wrapper {margin: 0 20px}
.streams .stream-item {border-bottom: 1px solid #e6ecf2; padding: 20px 0 25px}
.stream-item-data > div {margin-top: 1px}
.stream-item-data > div > .user-comment {color: #8a9199; float:right}
.stream-item-data > div > .user-comment a {font-weight: bold}
.stream-item-data > div > .time-ago {float:left; font-size: 11px; color: #b6babf;
  background-image: url("../../images/icn-white-bubble-talk.png"); background-position:100% 0; background-repeat: no-repeat; padding-right: 17px; margin-top: -1px; height: 14px}
.stream-item-data > p.title {font-family:'GothamMediumRegular'; font-weight: normal; font-size: 16px; margin: 13px 0 8px}
.stream-item-data > blockquote {color: #494b4c; margin: 0; line-height: 20px}
.load-more-wrapper a {float:right}
.load-more-wrapper .more-stream {display: block; height: 19px; padding: 5px 44px 0}

.stream-wrapper .right-side {float:left; width: 780px; background: url("../../images/bg-article.png") repeat-x scroll 0 1px #fff}
.stream-wrapper .filter div.selector {margin-top: -7px; width: 140px}
.stream-wrapper .filter div.selector span {width: 108px}
.stream-wrapper .right-side .streams {float:right; width: 539px; border-left: 1px solid #dae0e6; min-height: 449px}
.stream-item-data {float:left; width: 420px}
.load-more-wrapper {overflow: hidden; margin:27px 183px 20px 0}

.panel-sub-nav.user-info-wrapper {background-color: #fff; padding-top: 10px}
.user-info-wrapper .user-info {margin-right: 60px}
.user-info-wrapper .user-info .username { font-size: 13px; word-wrap: break-word}
.user-info-wrapper .avatar {height: 34px; padding: 3px; width: 34px; margin-right: 10px}
.user-info-wrapper .user-info .user-points {overflow: hidden; margin:5px 0 10px 0}
.user-info-wrapper .user-info .points {font-weight: bold; font-size: 12px; float:right; margin:2px 2px 0 0}
.user-info-wrapper > .send-msg {padding: 10px; border-top: 1px solid #cfdee6; display: block; color: #468ac4; font-size: 11px; font-weight: bold; line-height: 11px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#deeef6));
  background-image: -webkit-linear-gradient(top, #ffffff, #deeef6);
  background-image:    -moz-linear-gradient(top, #ffffff, #deeef6);
  background-image:     -ms-linear-gradient(top, #ffffff, #deeef6);
  background-image:      -o-linear-gradient(top, #ffffff, #deeef6);
  background-image:         linear-gradient(top, #ffffff, #deeef6);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#deeef6');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#deeef6')";
  -webkit-box-shadow: 0 1px 0 #fff inset;
     -moz-box-shadow: 0 1px 0 #fff inset;
          box-shadow: 0 1px 0 #fff inset;
}
.user-info-wrapper > .send-msg:hover {text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#deeef6), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #deeef6, #ffffff);
  background-image:    -moz-linear-gradient(top, #deeef6, #ffffff);
  background-image:     -ms-linear-gradient(top, #deeef6, #ffffff);
  background-image:      -o-linear-gradient(top, #deeef6, #ffffff);
  background-image:         linear-gradient(top, #deeef6, #ffffff);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#deeef6', EndColorStr='#ffffff');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#deeef6', EndColorStr='#ffffff')";
  -webkit-box-shadow: 0 1px 0 #fff inset;
     -moz-box-shadow: 0 1px 0 #fff inset;
          box-shadow: 0 1px 0 #fff inset;
}
.user-info-wrapper > .send-msg:active {background-image: none; background-color: #deeef6;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .2) inset;
     -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .2) inset;
          box-shadow: 0 1px 5px rgba(0, 0, 0, .2) inset
} 
.user-info-wrapper > .send-msg > span {float:right; background: url("../../images/icn-messages-2.png") no-repeat scroll 0 0 transparent; width: 15px; height: 11px; right: 10px; top: 4px; margin-left: 8px}
