html {height: 100%}
body {font-size: 13px; color: #61656a; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; background-color: #e3ecf0; background-image: url('../../images/bg-noise-home.jpg'); background-repeat: repeat; background-attachment: fixed; height: 100%}
body > div {background: url("../../images/bg-topic-detail.jpg") repeat-x fixed 0 119px transparent}
h1 {font-size: 24px; line-height: 32px}
h1,
h2 {color: #393c3f}
.sec-title,
.sec-title-med,
.h2 {font-size: 16px; color: #393c3f; font-weight: normal; padding-bottom: 10px}
h3,
.regular {font-size: 13px; color: #61656a}
body .hidden {display: none}
.page-wrapper {min-height: 100%; overflow: hidden}
.page-wrapper > header {background-color:#f7fafc; position: fixed; width: 100%; z-index: 1000;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .6);
     -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .6);
          box-shadow: 0 0 3px rgba(0, 0, 0, .6)
}
.info-page {background-color: #fff; padding: 40px}
.info-page > section {margin-bottom: 30px}
.info-page > section > p {line-height: 22px; margin-bottom: 10px}
.info-page > h1 {margin-bottom: 30px}
.aligned {width: 940px; padding: 0 10px; margin: 0 auto}
a {color: #2d70b3; outline: none}
input:active,
a:active {outline: none}
button::-moz-focus-inner,
input::-moz-focus-inner,
a::-moz-focus-inner {border: 0; outline: 0}
.dark-lk {color: #5d646a; font-weight: bold}
em {font-style: normal}
input[type=text],
input[type=password],
input[type=email],
textarea {border-style: solid; border-width: 1px; border-color: #a7adb0 #d9e2e6 #e1eaee #d9e2e6; cursor: text; font-size:13px}

.points-wrapper-small > span {border: 0 none}
.light-button,
.points-wrapper-small {border: 1px solid; border-color: #cfdae6 #c8d4e1 #a0b0c0 #c8d4e1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafcfd), to(#ecf4f9));
  background-image: -webkit-linear-gradient(top, #fafcfd, #ecf4f9);
  background-image:    -moz-linear-gradient(top, #fafcfd, #ecf4f9);
  background-image:     -ms-linear-gradient(top, #fafcfd, #ecf4f9);
  background-image:      -o-linear-gradient(top, #fafcfd, #ecf4f9);
  background-image:         linear-gradient(top, #fafcfd, #ecf4f9);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafcfd', EndColorStr='#ecf4f9')";
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
     -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1)
}
.light-button > span {border: 1px solid; border-color: #fefefe #fcfdfe #fafdfc; text-align: center; font-weight: bold; background-color: #fafcfd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafcfd), to(#ecf4f9));
  background-image: -webkit-linear-gradient(top, #fafcfd, #ecf4f9);
  background-image:    -moz-linear-gradient(top, #fafcfd, #ecf4f9);
  background-image:     -ms-linear-gradient(top, #fafcfd, #ecf4f9);
  background-image:      -o-linear-gradient(top, #fafcfd, #ecf4f9);
  background-image:         linear-gradient(top, #fafcfd, #ecf4f9);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafcfd', EndColorStr='#ecf4f9')";
  -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, 1);
     -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255, 1);
          box-shadow: inset 0 0 1px rgba(255, 255, 255, 1)
}
.light-button:hover,
.light-button > span:hover {text-decoration: none; background-color: #ecf4f9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ecf7fd), to(#fff));
  background-image: -webkit-linear-gradient(top, #deeaf6, #f6f9fc);
  background-image:    -moz-linear-gradient(top, #deeaf6, #f6f9fc);
  background-image:     -ms-linear-gradient(top, #deeaf6, #f6f9fc);
  background-image:      -o-linear-gradient(top, #deeaf6, #f6f9fc);
  background-image:         linear-gradient(top, #deeaf6, #f6f9fc);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ecf7fd', EndColorStr='#ffffff')";
}
.light-button:active {border-color: #a0b0c0 #c8d4e1 #cfdae6}
.light-button > span:active {border-color: #a0b0c0 #c8d4e1 transparent; background-image: none; background-color: #eaf7fd}

.light-btn-input {clear: right; border: 1px solid; border-color: #cfdae6 #c8d4e1 #a0b0c0 #c8d4e1; text-align: center; font-weight: bold; height: 24px; font-family: Arial; font-size: 12px; color: #2D70B3; text-shadow: 0 1px 0 #fff; background-color: #fafcfd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fafcfd), to(#ecf4f9));
    background-image: -webkit-linear-gradient(top, #fafcfd, #ecf4f9);
    background-image:    -moz-linear-gradient(top, #fafcfd, #ecf4f9);
    background-image:     -ms-linear-gradient(top, #fafcfd, #ecf4f9);
    background-image:      -o-linear-gradient(top, #fafcfd, #ecf4f9);
    background-image:         linear-gradient(top, #fafcfd, #ecf4f9);
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafcfd', EndColorStr='#ecf4f9')";
    -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, .75);
       -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255, .75);
            box-shadow: inset 0 0 1px rgba(255, 255, 255, .75);
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px
}
.light-btn-input:hover {cursor: pointer; background-color: #ecf4f9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ecf4f9), to(#fafcfd));
  background-image: -webkit-linear-gradient(top, #ecf4f9, #fafcfd);
  background-image:    -moz-linear-gradient(top, #ecf4f9, #fafcfd);
  background-image:     -ms-linear-gradient(top, #ecf4f9, #fafcfd);
  background-image:      -o-linear-gradient(top, #ecf4f9, #fafcfd);
  background-image:         linear-gradient(top, #ecf4f9, #fafcfd);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ecf4f9', EndColorStr='#fafcfd')";
}
.light-btn-input:active {
  border-color: #a0b0c0 #c8d4e1 #cfdae6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eaf7fd), to(#f9fdfe));
  background-image: -webkit-linear-gradient(top, #eaf7fd, #f9fdfe);
  background-image:    -moz-linear-gradient(top, #eaf7fd, #f9fdfe);
  background-image:     -ms-linear-gradient(top, #eaf7fd, #f9fdfe);
  background-image:      -o-linear-gradient(top, #eaf7fd, #f9fdfe);
  background-image:         linear-gradient(top, #eaf7fd, #f9fdfe);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eaf7fd', EndColorStr='#f9fdfe')";
}

.clean-button {border: 1px solid; border-color: #cfdae6 #c8d4e1 #8fa1b3}
.clean-button > span {border: 1px solid; border-color: #fefefe #fcfdfe #fafdfc; text-align: center; font-weight: bold; color: #757575;
  background-color: #fafcfd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfdfd), to(#f5f7f9));
  background-image: -webkit-linear-gradient(top, #fcfdfd, #f5f7f9);
  background-image:    -moz-linear-gradient(top, #fcfdfd, #f5f7f9);
  background-image:     -ms-linear-gradient(top, #fcfdfd, #f5f7f9);
  background-image:      -o-linear-gradient(top, #fcfdfd, #f5f7f9);
  background-image:         linear-gradient(top, #fcfdfd, #f5f7f9);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fcfdfd', EndColorStr='#f5f7f9')";
  -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, .75);
     -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255, .75);
          box-shadow: inset 0 0 1px rgba(255, 255, 255, .75);
}
.clean-button:hover,
.clean-button > span:hover {text-decoration: none;
  background-color: #ecf4f9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ecf4f9), to(#fafcfd));
  background-image: -webkit-linear-gradient(top, #ecf4f9, #fafcfd);
  background-image:    -moz-linear-gradient(top, #ecf4f9, #fafcfd);
  background-image:     -ms-linear-gradient(top, #ecf4f9, #fafcfd);
  background-image:      -o-linear-gradient(top, #ecf4f9, #fafcfd);
  background-image:         linear-gradient(top, #ecf4f9, #fafcfd);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ecf4f9', EndColorStr='#fafcfd')";
}
.clean-button:active {border-color: #8fa1b3 #c8d4e1 #cfdae6}
.clean-button > span:active {background-color: #f5f7f9; color: #999}

.secondary-button {border: 1px solid; border-color: #D2E3EC #CDDFE9 #A0BFD1; background-color: #cf7Ffd; font-weight: bold; text-shadow: 0 1px 0 #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f9fc), to(#deeaf6));
  background-image: -webkit-linear-gradient(top, #f6f9fc, #deeaf6);
  background-image:    -moz-linear-gradient(top, #f6f9fc, #deeaf6);
  background-image:     -ms-linear-gradient(top, #f6f9fc, #deeaf6);
  background-image:      -o-linear-gradient(top, #f6f9fc, #deeaf6);
  background-image:         linear-gradient(top, #f6f9fc, #deeaf6);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f9fc', EndColorStr='#deeaf6')";
  -webkit-box-shadow: inset 0 0 0 1px #fff;
     -moz-box-shadow: inset 0 0 0 1px #fff;
          box-shadow: inset 0 0 0 1px #fff;
}
.secondary-button:hover {text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ecf7fd), to(#fff));
  background-image: -webkit-linear-gradient(top, #deeaf6, #f6f9fc);
  background-image:    -moz-linear-gradient(top, #deeaf6, #f6f9fc);
  background-image:     -ms-linear-gradient(top, #deeaf6, #f6f9fc);
  background-image:      -o-linear-gradient(top, #deeaf6, #f6f9fc);
  background-image:         linear-gradient(top, #deeaf6, #f6f9fc);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ecf7fd', EndColorStr='#ffffff')";
}
.secondary-button:active {
  border-color: #a6b8c5 #dde6ec #dae4eb;
  background: #eaf7fd url("../../images/bg-hide.png") repeat-x scroll 0 0
}

.btn-animation-feedback,
.btn-animation-feedback:hover {border: 1px solid; border-color: #2d70b3 #2a6bae #174a93; background-color: #2d70b3; text-shadow: none; color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#67a6d4), to(#0c3884));
  background-image: -webkit-linear-gradient(top, #67a6d4, #0c3884);
  background-image:    -moz-linear-gradient(top, #67a6d4, #0c3884);
  background-image:     -ms-linear-gradient(top, #67a6d4, #0c3884);
  background-image:      -o-linear-gradient(top, #67a6d4, #0c3884);
  background-image:         linear-gradient(top, #67a6d4, #0c3884);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#67a6d4', EndColorStr='#0c3884')";
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .3);
     -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .3);
          box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .3);
}

input.error[type=text],
input.error[type=password],
input.error[type=email],
textarea.error{border-color:#D93E3E; background-color: #ffffff; background-image: url('../../images/cross-error.png'); background-repeat: no-repeat; background-position:0 0; cursor:pointer;}
textarea.error{background: none;}
form > p > label{display: block;}
input[type=checkbox] + label{display: inline;}
input:focus:invalid, #twitter textarea:focus:invalid{border: 1px solid #e79090;}
.rainbow{background: url('../../images/rainbow.jpg') repeat-x; height: 3px;}
.gray {height: 6px}
.light {background-color: #b5cde5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b2cae3), to(#bdd3e8)); 
  background-image: -webkit-linear-gradient(top, #b2cae3, #bdd3e8); 
  background-image:    -moz-linear-gradient(top, #b2cae3, #bdd3e8); 
  background-image:     -ms-linear-gradient(top, #b2cae3, #bdd3e8); 
  background-image:      -o-linear-gradient(top, #b2cae3, #bdd3e8); 
  background-image:         linear-gradient(top, #b2cae3, #bdd3e8);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b2cae3', EndColorStr='#bdd3e8')
}
.dark{background-color: #b5cde5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b2cae3), to(#bdd3e8)); 
  background-image: -webkit-linear-gradient(top, #b2cae3, #bdd3e8); 
  background-image:    -moz-linear-gradient(top, #b2cae3, #bdd3e8); 
  background-image:     -ms-linear-gradient(top, #b2cae3, #bdd3e8); 
  background-image:      -o-linear-gradient(top, #b2cae3, #bdd3e8); 
  background-image:         linear-gradient(top, #b2cae3, #bdd3e8);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b2cae3', EndColorStr='#bdd3e8');
     -moz-box-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 #fff;
          box-shadow: 0 1px 0 #fff;
}
.placeholder{color:#bbb}
.logo-wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfcfd), to(#eff5f9));
  background-image: -webkit-linear-gradient(top, #fbfcfd, #eff5f9);
  background-image:    -moz-linear-gradient(top, #fbfcfd, #eff5f9);
  background-image:     -ms-linear-gradient(top, #fbfcfd, #eff5f9);
  background-image:      -o-linear-gradient(top, #fbfcfd, #eff5f9);
  background-image:         linear-gradient(top, #fbfcfd, #eff5f9);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fbfcfd', EndColorStr='#eff5f9')";
}
.logo-wrapper.light {border-top: 1px solid #97a9ba}
.logo-wrapper.dark {border-top: 1px solid #aabac9;}
.header-wrapper{background-color: #ffffff; border-top: 1px solid #c3d2d9; height: 39px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image:    -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image:     -ms-linear-gradient(top, #ffffff, #f0f0f0);
  background-image:      -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image:         linear-gradient(top, #ffffff, #f0f0f0);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f0f0f0')";
      -moz-box-shadow: inset 0 3px 0 #f7f7f7;
   -webkit-box-shadow: inset 0 3px 0 #f7f7f7;
           box-shadow: inset 0 3px 0 #f7f7f7
}
.header-top{height: 71px; text-align: center; position: relative; margin-top: -1px}
.topic{background: url('../../images/ahwaa-logo.png') no-repeat center 0;}
.homepage{background: url('../../images/homepage.png') no-repeat center 0;}
.clear{clear:both!important; float:none!important;}
.links{width: 237px; height: 54px; right: 350px; position: absolute; top: 0;  text-align: center;}
.header-top > .links > .logo-link > a:hover {text-decoration: none}
.topic > .links > div{height: 18px; padding-top: 2px;}
.homepage > .links > div{padding-top: 12px}

.lgbt{font-size: 24px; font-family: 'GothamBoldRegular'; text-indent: -9999em; float:right; width: 100%; height: 30px; outline:0; border:0;}
.homepage .lan {font-size: 19px}
.lan {font-size: 14px; color: #4382c0; text-shadow: 0 1px 0 rgba(255, 255, 255, .3)}

.sign-up {float:right; text-align: right; width: 240px;}
.header-top .sign-up {margin-top: 21px}
.auth-wrapper{height: 28px; float:right; width: 92px; position: relative;}
.auth-wrapper:first-child{margin-left: 2px;}
.sign-up-lk {border: 1px solid #4785bf; line-height: 2; float:right;}
.auth-wrapper > .sign-up-lk{text-decoration: none; line-height: inherit}
.auth-wrapper > a {position: absolute; z-index: 1000; right: 0; height: 26px; text-align: center; overflow: hidden;}

.auth-wrapper > a.auth-form-active{height: 31px; text-decoration: none; border: none; right: -3px; padding:1px 3px 0 3px;}

.auth-wrapper > #sign-up > span {float:right; /*width: 72px;*/ padding: 5px 8px 0; border: 1px solid; border-color: #c1ddf3 #71a8dd #507cc4 #649bd6; height: 19px;}
.sign-up-btn{font-size: 16px; color: #ffffff; text-align: center;
  background-color: #297acc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#53a0dd), to(#124eaf));
  background-image: -webkit-linear-gradient(top, #53a0dd, #124eaf);
  background-image:    -moz-linear-gradient(top, #53a0dd, #124eaf);
  background-image:     -ms-linear-gradient(top, #53a0dd, #124eaf);
  background-image:      -o-linear-gradient(top, #53a0dd, #124eaf);
  background-image:         linear-gradient(top, #53a0dd, #124eaf);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#53a0dd', EndColorStr='#124eaf')";
}

.sign-up-btn:hover{
  background-color: #2259A5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3887C7), to(#2259A5));
  background-image: -webkit-linear-gradient(top, #3887C7, #2259A5);
  background-image:    -moz-linear-gradient(top, #3887C7, #2259A5);
  background-image:     -ms-linear-gradient(top, #3887C7, #2259A5);
  background-image:      -o-linear-gradient(top, #3887C7, #2259A5);
  background-image:         linear-gradient(top, #3887C7, #2259A5);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3887C7', EndColorStr='#2259A5')";
}

.auth-wrapper > #login {text-decoration: none}
.auth-wrapper > #login > span {float:right; padding: 5px 8px 0; height: 19px; font-weight: bold; font-size: 13px; color: #297acc; text-align: center}
/*
#login{line-height: 2.8;}
#login span{padding:1px 1px 0 0;}
#login.auth-form-active span{padding:0;}*/
.header-top .sign-up .auth-form-active,
#sign-up.auth-form-active{outline:0 none}

.auth-wrapper #sign-up.auth-form-active > span,
.auth-wrapper #sign-up.auth-form-active > span:hover {height: 25px; background: #f6f9fb; color: #66a8d6; border-style: none; border-color: transparent; padding: 6px 9px 0;
          -moz-border-radius-topright: 5px;
         -moz-border-radius-topleft: 5px;
       -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 0;
      -webkit-border-top-right-radius: 5px;
     -webkit-border-top-left-radius: 5px;
   -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
              border-top-right-radius: 5px;
             border-top-left-radius: 5px;
           border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
                  
  -webkit-box-shadow: 0 1px 3px #6b8b9f;
     -moz-box-shadow: 0 1px 3px #6b8b9f;
          box-shadow: 0 1px 3px #6b8b9f;
  -webkit-box-shadow: 0 0 3px rgba(42, 83, 110, .6);
     -moz-box-shadow: 0 0 3px rgba(42, 83, 110, .6);
          box-shadow: 0 0 3px rgba(42, 83, 110, .6);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.sign-up > .auth-form-active:first-child{
          border-bottom-right-radius: 0;
      -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;

          border-bottom-left-radius: 0;
      -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
}
.auth-wrapper #login.auth-form-active > span,
.auth-wrapper #login.auth-form-active > span:hover {height: 25px; background: #f6f9fb; color: #66a8d6; border-style: none; border-color: transparent; padding: 6px 10px 0;
          -moz-border-radius-topright: 5px;
         -moz-border-radius-topleft: 5px;
       -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 0;
      -webkit-border-top-right-radius: 5px;
     -webkit-border-top-left-radius: 5px;
   -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
              border-top-right-radius: 5px;
             border-top-left-radius: 5px;
           border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
  -webkit-box-shadow: 0 1px 3px #6b8b9f, inset 0 1px 0 #fff;
     -moz-box-shadow: 0 1px 3px #6b8b9f, inset 0 1px 0 #fff;
          box-shadow: 0 1px 3px #6b8b9f, inset 0 1px 0 #fff;
  -webkit-box-shadow: 0 0 3px rgba(42, 83, 110, .6), inset 0 1px 0 #fff;
     -moz-box-shadow: 0 0 3px rgba(42, 83, 110, .6), inset 0 1px 0 #fff;
          box-shadow: 0 0 3px rgba(42, 83, 110, .6), inset 0 1px 0 #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.logged_opts{float:right; margin-top:12px}
.logged_opts > li{float:right; margin-left:23px}
.logged_opts > li > a{color: #9b9b9b}
.search{float:left; position: relative; margin-top: 21px;}
.search > p {width: 188px; background-color: #fff; border: 1px solid; border-color: #7a8488 #bcc9d0 #c3d2d9; height: 21px; padding: 5px 10px 0;}
.search > p.focus {border-color: #2d70b3;
  -webkit-box-shadow: 0 0 5px rgba(45, 112, 189, .5);
  -moz-box-shadow: 0 0 5px rgba(45, 112, 189, .5);
  box-shadow: 0 0 5px rgba(45, 112, 189, .5)
}
.search > p > input{width: 170px; height: 16px; border: none; float:right; font-size:13px; line-height:1em; padding:0;}
.search > p > span{background:url('../../images/icn-search.png') no-repeat 0 0 transparent; float:left; width: 17px; height: 17px; clear:none; margin-top: -1px}
.search-results-wrapper{display:none; background-color:#f0f6fc; border: 1px solid #ffffff; width: 288px; padding:3px; width: 100%; position: absolute; right: 0; top: 31px; z-index:2;
     -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
     -moz-box-shadow: 0 1px 3px rgba(42, 83, 110, .6), 0 0 1px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 1px 3px rgba(42, 83, 110, .6), 0 0 1px rgba(0, 0, 0, .2);
          box-shadow: 0 1px 3px rgba(42, 83, 110, .6), 0 0 1px rgba(0, 0, 0, .2)
}
.search-results-wrapper.visible {display:block;}
.search-results-scroller {overflow: hidden;}
.search-results > li {text-align: right; border-bottom: 1px solid #dae6f2; padding: 7px 0 6px; background-color: #fff;}
.search-results > li:hover {background-color: #F0F7Fb}
.search-results > li.last {border:none;}
.search-results-wrapper > .arrow {text-align: center; background-color: #fbfbfb; text-decoration: none; position: relative; overflow: hidden; display: block; padding: 6px 0}

.search-results-wrapper > .arrow > div,
.more-tags > .arrow > div {position: relative; right: 50%; float:right}

.search-results-wrapper > .arrow > div > div,
.more-tags > .arrow > div > div{position: relative; right: -50%; float:right; border-style: solid; height: 0; width: 0}
.search-results-wrapper > .scroll-up {border-bottom: 1px solid #EAEEF0}
.search-results-wrapper > .scroll-down{border-top: 1px solid #EAEEF0}

.scroll-up > div > div{border-color: transparent transparent #a9c8e3; border-width: 0 5px 5px}
.scroll-up:hover > div > div{border-color: transparent transparent #468AC4}
.scroll-down > div > div{border-color: #a9c8e3 transparent transparent; border-width: 5px 5px 0}
.scroll-down:hover > div > div{border-color: #468AC4 transparent transparent}

.empty{background-position:100% -23px !important;}
.slogan{text-align: center;}
.header-tags{height: 100%; position:relative; overflow: hidden}
.header-tags > ul{border-right: 1px solid #e0e9ee; float:right; height: 100%}
.header-tags > ul > li {float:right; height: 100%; border-left: 1px solid #e0e9ee}
.header-tags > ul > li > a {text-transform: capitalize; padding: 0 20px; height: 100%; line-height: 3; float:right; font-weight: bold; text-shadow: 0 1px 1px rgba(255, 255, 255, 1)}
  .header-tags > ul > li > a:hover {background-color: #F6F9FC}
.header-tags .more {position:relative;}
.header-tags .more > a{padding:0 20px 0 16px;}
.more > a{text-decoration:none; outline:0 none;}
.more:hover > a{border-bottom: 1px solid #EAEEF0}

.more > a > span{background-image: url('../../images/more.png'); background-repeat: no-repeat; background-position:0 6px; padding-left: 12px;}
.more:hover > a > span{background-position:0 -19px;}

.more-tags{min-width: 130px; background-color: #f6f9fc; position: absolute; top: 39px; display: none; right: 0; z-index: -1;
  -moz-box-shadow: 0px 1px 2px rgba(42, 83, 110, .6);
  -webkit-box-shadow: 0px 1px 2px rgba(42, 83, 110, .6);
  box-shadow: 0px 1px 2px rgba(42, 83, 110, .6);
}
.more-tags > .scroller { overflow:hidden; }
.more-tags ul > li {height: 36px; border-bottom: 1px solid #e0e9ee; padding:0 15px; line-height: 3; font-weight:bold; white-space:nowrap;}
.more-tags ul > li:last-child{border-bottom: none;}
.more-tags ul > li > a {display: block}
.more-tags > .arrow {text-align:center; background-color:#fff; display: block; position: relative; overflow: hidden; text-decoration:none; padding: 6px 0;}
.more-tags > .scroll-up {border-bottom: 1px solid #eaeef0;}
.more-tags > .scroll-down {border-top: 1px solid #eaeef0;}

.more:hover {background-color:#f6f9fc; border-right-color:#dfe1ed}
.request-topic-wrapper{float:left; position: relative; margin-top: 21px;}
.request-topic {float:left; margin:0 0 0 10px; height: 26px; outline:0}
.request-topic > span {float:right; padding: 5px 8px 0; height: 19px; font-family: Arial, Helvetica; font-size: 13px;}

.tags > li {margin-left: 4px}
.by-author {margin-left: 14px}
h1 + .by-author {margin-top: 10px}
.by-author,
.tags > li{float:right; color: #bfbfbf}
.tags{display: inline; margin-left: 5px;}

.container{padding-top: 139px}

.footer-shadow{display: block; margin: 0 auto; display: block; background: url("../../images/bg-footer.png") repeat scroll 0 0 transparent; margin-top: 30px; height: 60px;}

footer > div > .aligned{padding: 25px 0 0;}
footer > div > div > ul{float:left;}
footer > div > div > ul > li{display: inline;}
footer > div > div > span{float:right; color: #667580;}

.over-form{position: absolute; top: 0; right: 0; width: 280px; background-color: #f6f9fb; display: none; padding: 15px; color: #797e84; z-index: 999; border-top: none;
          -moz-border-radius-topright: 0;
         -moz-border-radius-topleft: 5px;
       -moz-border-radius-bottomright: 5px;
      -moz-border-radius-bottomleft: 5px;
      -webkit-border-top-right-radius: 0;
     -webkit-border-top-left-radius: 5px;
   -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
              border-top-right-radius: 0;
             border-top-left-radius: 5px;
           border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;

  -webkit-box-shadow: 0 1px 3px #6b8b9f;
     -moz-box-shadow: 0 1px 3px #6b8b9f;
          box-shadow: 0 1px 3px #6b8b9f;
  -webkit-box-shadow: 0 1px 3px rgba(42, 83, 110, .6);
     -moz-box-shadow: 0 1px 3px rgba(42, 83, 110, .6);
          box-shadow: 0 1px 3px rgba(42, 83, 110, .6);
}

.over-form.auth-form-active{display: block;}
.form-parag{margin-bottom: 15px; font-size: 12px;}
.over-form > ul{overflow: hidden;}
.over-form > ul > li{margin-bottom: 5px; float:right;}
.over-form > ul > li > label{display: block; margin-bottom: 3px; color: #a9a9a9;}
.over-form > ul > li > input[type="text"],
.over-form > ul > li > input[type="email"],
.over-form > ul > li > input[type="password"]{width: 257px; height:32px; padding: 0 10px; margin-bottom: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.placeimg{background-image: url('../../images/pass_placeholder.png'); background-repeat: no-repeat; background-position:100% 0; background-color: #ffffff}
p.error{color: #d93e3e; margin:0 1px 5px 0;}
p.success{color:#6fa677; margin:0 1px 5px 0; font-size:11px; line-height:1em; border:1px #a3c9a9 solid; background:url("../../images/checked.png") no-repeat 14px 6px #ebffee; padding:7px 34px 0 0; height:18px; width:243px;
    -moz-border-radius: 2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}

.btn-gradient.cancel-forgot{float:left; padding: 0 12px; height: 32px; margin-left: 10px; color: #61656a;}

.auth-submit {cursor: pointer; border: none; border-bottom: 1px solid #1e4d88; padding: 0 12px; height: 32px; float:left; color: #ffffff; font-size: 13px; font-family: Arial, Helvetica, sans-serif;
  background-image: -moz-linear-gradient(top, #64a2d1, #2f6daf);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #64a2d1),color-stop(1, #2f6daf));
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#64a2d1', EndColorStr='#2f6daf')";
}

.auth-submit:hover{
  border-bottom: 1px solid #5a8fbb;
  background-image: -moz-linear-gradient(top, #77b3e3, #498dd2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #77b3e3),color-stop(1, #498dd2));
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#77b3e3', EndColorStr='#498dd2')";
}

.action-lk{margin:10px 0 0 10px; color: #797e84; float:left;}

.legend{font-size: 11px; float:right; width: 170px;}
.login-form > .legend{margin-top: 10px;}

.border-all,
.avatars > .active,
.avatar,
.avatar > img,
.comm-wrap,
.btn-gradient,
.new-response,
.items > li,
.messages > li{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.border-all-2 {
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
          border-radius: 2px
}
.border-menu{
          border-top-right-radius: 0;
      -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
}

.border-right{
          border-top-left-radius: 3px;
      -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
      -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
}

.border-left{
          border-top-right-radius: 3px;
      -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
      -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
} 
.border-top {
          -moz-border-radius-topright: 3px;
         -moz-border-radius-topleft: 3px;
       -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 0;
      -webkit-border-top-right-radius: 3px;
     -webkit-border-top-left-radius: 3px;
   -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
              border-top-right-radius: 3px;
             border-top-left-radius: 3px;
           border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
}
.border-bottom{
          border-bottom-right-radius: 3px;
      -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
         border-bottom-left-radius: 3px;
      -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
}
.border-top-left {
          -moz-border-radius-topright: 3px;
         -moz-border-radius-topleft: 0;
       -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 0;
      -webkit-border-top-right-radius: 3px;
     -webkit-border-top-left-radius: 0;
   -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
              border-top-right-radius: 3px;
             border-top-left-radius: 0;
           border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
}
.border-top-3 {
          -moz-border-radius-topright: 3px;
         -moz-border-radius-topleft: 3px;
       -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 0;
      -webkit-border-top-right-radius: 3px;
     -webkit-border-top-left-radius: 3px;
   -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
              border-top-right-radius: 3px;
             border-top-left-radius: 3px;
           border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
}
.border-bottom-3 {
          -moz-border-radius-topright: 0;
         -moz-border-radius-topleft: 0;
       -moz-border-radius-bottomright: 3px;
      -moz-border-radius-bottomleft: 3px;
      -webkit-border-top-right-radius: 0;
     -webkit-border-top-left-radius: 0;
   -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
              border-top-right-radius: 0;
             border-top-left-radius: 0;
           border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;
}
.border-right-2 {
          -moz-border-radius-topright: 0;
         -moz-border-radius-topleft: 2px;
       -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 2px;
      -webkit-border-top-right-radius: 0;
     -webkit-border-top-left-radius: 2px;
   -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 2px;
              border-top-right-radius: 0;
             border-top-left-radius: 2px;
           border-bottom-right-radius: 0;
          border-bottom-left-radius: 2px;
}
.border-left-2 {
          -moz-border-radius-topright: 2px;
         -moz-border-radius-topleft: 0;
       -moz-border-radius-bottomright: 2px;
      -moz-border-radius-bottomleft: 0;
      -webkit-border-top-right-radius: 2px;
     -webkit-border-top-left-radius: 0;
   -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 0;
              border-top-right-radius: 2px;
             border-top-left-radius: 0;
           border-bottom-right-radius: 2px;
          border-bottom-left-radius: 0;
}
.container-soft-box-shadow {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .25);
  box-shadow: 0 0 3px rgba(0, 0, 0, .25);
}
.request-error.auth-form-active{display: block;}
.request-error{width: 265px; height: 97px; position: absolute; display: none; top: 32px; left: -67px; z-index: 999}
.request-error > .arrow-shadow {border-color: transparent transparent #F4F0B8; border-style: solid; border-width: 0px 10px 10px; float:right; position: relative; bottom: -1px; height: 0px; margin: 0px 122px; width: 0px;}
.request-error > .arrow-shadow > .arrow {border-color: transparent transparent #faf8e5; border-style: solid; border-width: 0px 8px 8px; position: relative; right: -8px; top: -13px}

.request-error > div {float:right; border: 1px solid #F4F0B8; border-bottom: 1px solid #cac8b1; padding: 13px 15px 10px; background-color: #fffcd9; background-color: rgba(255, 252, 217, .97);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 1px #fffeeb;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 1px #fffeeb;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 1px #fffeeb;
}
.request-error > div.clear{width:auto; height:auto; float:none; border:none; padding:0}
.sign-up-legend{font-weight: bold; text-align: center; color: #52503b; line-height: 1.3; margin:0 0 8px 0; font-size: 12px;}
.request-error > div > a{height: 26px; overflow: hidden; text-decoration: none; border: 1px solid #3C7EBB; display: inline-block; line-height: inherit; float: none}
.request-error > div > a > span{padding: 5px 8px 0; border: 1px solid; border-color: #C1DDF3 #71A8DD #507CC4 #649BD6; height: 19px; display: block}

.disabled{-moz-opacity: .5; opacity: .5}
.request-topic.disabled{-moz-opacity: .5; opacity: .5}

.btn-gradient{text-align: center; float:right; border-style: solid; border-width: 1px; border-color: #d2e3ec #cddfe9 #a0bfd1;
  background-image: -moz-linear-gradient(top, #fff, #eaf7fd);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #eaf7fd));
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaf7fd')";  
}
.btn-gradient:hover{
  background-image: -moz-linear-gradient(top, #fbfeff, #f2fbff);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fbfeff),color-stop(1, #f2fbff));
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fbfeff', EndColorStr='#f2fbff')";
}

.responses {background-color: transparent; background-image: url("../../images/icn-responses.png"); background-repeat: no-repeat; background-attachment: scroll; background-position:100% 4px; padding-right:15px; display:inline!important; white-space:nowrap; float:right; font-size: 11px;}
.tags{margin-left: 10px; margin-right: 10px}   
.tags > li:first-child{background-image: url('../../images/tag.png'); background-repeat: no-repeat; background-position:100% 3px; padding-right: 20px;}
.tags > .last-tag{margin-left: 10px;}
.response-wrapper{border: 1px solid #daecf3; position: relative;}
.response-wrapper > div{border: 2px solid #e9f0f3; overflow: hidden; position: relative; background-color: #ffffff;}
.response-wrapper.new-response{border: 2px solid #f0f5f8; font-size: 11px;}
.response-wrapper.new-response > div {border: 1px solid #d6d6d6; padding: 6px 7px;}                                                
.comment_content{color: #61656A; width: 100%; padding: 0; height: 16px; border: none; margin-top: 4px; resize: none; font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 16px; overflow: hidden;}
.response-wrapper.new-response > div.focus {border: 1px solid #2d70b3;
  -webkit-box-shadow: 0 0 5px rgba(45, 112, 189, .5);
  -moz-box-shadow: 0 0 5px rgba(45, 112, 189, .5);
  box-shadow: 0 0 5px rgba(45, 112, 189, .5)
}

.new-response a{display: block; color: #868484; padding-right: 15px; background-image: url('../../images/icn-reply.png'); background-repeat: no-repeat; background-position:100% 2px;}
        
.pm-flash{padding: 7px 12px; margin-bottom: 10px;}
.pm-flash > p{padding-right: 20px; margin-top: 0 !important; line-height: normal !important;}

.pm-flash.success{background-color: #ebffee; border: 1px solid #a3c9a9;}
.pm-flash.success > p{background-image: url('../../images/check-mark.png'); background-repeat: no-repeat; background-position:100% 0; color: #6fa677;}

.pm-flash.error{background-color: #ffffff; border: 1px solid #E79090;}
.pm-flash.error > p{background-image: url('../../images/error-mark.png'); background-repeat: no-repeat; background-position:100% 2px; color: #D93E3E;}

#pageslide-slide-wrap{background:none #ffffff; overflow-y: auto; overflow-x: hidden;}
#pageslide-slide-wrap > div{background-image:none;}
#pageslide-slide-wrap > div > div{overflow:hidden;}
.request-topic-section > .header{margin-top:2px; border-bottom:1px solid #e9f2f6; overflow:hidden; padding:18px 0 19px 0;
  background-image: -moz-linear-gradient(top, #EDF5F9, #F3FAFD);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #EDF5F9),color-stop(1, #F3FAFD));
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#EDF5F9', EndColorStr='#F3FAFD')"
}
.request-topic-section > .header > h2 {float:right; width:420px; padding-right:30px; font-size:16px; margin-top:7px;}
.request-topic-section > .header > a  {float:left; height:18px; width:45px; margin-left:29px; color:#8497a7; font-weight:bold; background:url("../../images/back-bg.png") no-repeat scroll 0 0 transparent; line-height:1em; padding:7px 23px 0 0}
.request-topic-section > .header > a:active{outline:0; border:0;}
.request-topic-section > form{float:right; padding-right:30px; font-size:12px; font-family:Arial, Helvetica, sans-serif; width:496px;}
.request-topic-section > form > fieldset{border:none; margin:0; padding:0;}
.request-topic-section > form label{font-size:13px; margin:21px 0 6px; line-height:1em; display:block;} 
.request-topic-section > form input[type="text"]{font-size:12px; height:15px; border:1px solid #D9E2E6; border-top-color:#929898; border-bottom-color:#e1eaee; padding:10px; line-height:1em; color:#888; margin-bottom:8px; display:block; width:474px; font-family:Arial, Helvetica, sans-serif   
          border-radius: 3px;
     -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.request-topic-section > form textarea{border:1px solid #D9E2E6; border-top-color:#929898; border-bottom-color:#e1eaee; padding:8px 10px; color:#888; margin-bottom:16px; font-family:Arial, Helvetica, sans-serif; font-size:12px; display:block; width:474px;
          border-radius: 3px;
     -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.request-topic-section > form input[type="checkbox"]{float:right; margin:10px 0 0 5px}
.request-topic-section > form label.anonym{float:right; margin-top:10px} 
.request-topic-section > form input[type="submit"]{padding:8px 19px; line-height:1em; float:left; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; background-color:#ffffff;
          border-radius: 3px;
     -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.avatar-wrapper{float:right; position:relative}
.avatar{width:56px; height:56px; padding:3px; float:right; position:relative; border:1px solid rgba(59, 64, 67, .25); background:#ffffff}
.avatar img{
  background-image: -moz-linear-gradient(top, #dcdfe1, #edeeef);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #dcdfe1),color-stop(1, #edeeef));
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#dcdfe1', EndColorStr='#edeeef')";
}
.avatar.expert > img{
  background-image: -moz-linear-gradient(top, #c3cfbe, #dee5da);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #c3cfbe),color-stop(1, #dee5da));
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#c3cfbe', EndColorStr='#dee5da')";
}             
.avatar > span{width:30px; height:30px; display:block; position:absolute; right:17px; top:44px; background:url("../../images/heart-badges-sprite.png") no-repeat transparent}
.avatar.no-level > span{background:none;}
.avatar.red-heart > span,
.points-wrapper > span.red-heart   {background-position:100% 0}
.avatar.pink-heart > span,
.points-wrapper > span.pink-heart  {background-position:0 -30px}
.avatar.purple-heart > span,
.points-wrapper > span.purple-heart{background-position:0 -60px}
.avatar.blue-heart > span,
.points-wrapper > span.blue-heart  {background-position:0 -90px}
.avatar.cyan-heart > span,
.points-wrapper > span.cyan-heart  {background-position:0 -120px}
.avatar.green-heart > span,
.points-wrapper > span.green-heart {background-position:0 -150px}
.avatar.bronze-heart > span,
.points-wrapper > span.bronze-heart{background-position:0 -180px}
.avatar.silver-heart > span,
.points-wrapper > span.silver-heart{background-position:0 -210px}
.avatar.gold-heart > span,
.points-wrapper > span.gold-heart  {background-position:0 -240px}

.small-hearts > .level.no-level {background: none; display: none}
.small-hearts > .level,
.small-avatars .avatar > span {background: url("../../images/heart-badges-small-sprite.png") no-repeat transparent; width: 20px; height: 19px; display: block; float:right}
.small-hearts > .level.red-heart,
.small-avatars .avatar.red-heart  > span {background-position:100% 0}
.small-hearts > .level.pink-heart,
.small-avatar .avatar.pink-heart  > span {background-position: 0 -20px}
.small-hearts > .level.purple-heart,
.small-avatars > .avatar.purple-heart  > span {background-position: 0 -40px}
.small-hearts > .level.blue-heart,
.small-avatars .avatar.blue-heart  > span {background-position: 0 -60px}
.small-hearts > .level.cyan-heart,
.small-avatars .avatar.cyan-heart  > span {background-position: 0 -80}
.small-hearts > .level.green-heart,
.small-avatars .avatar.green-heart  > span {background-position: 0 -100px}
.small-hearts > .level.bronze-heart,
.small-avatars .avatar.bronze-heart  > span {background-position: 0 -120px}
.small-hearts > .level.silver-heart,
.small-avatars .avatar.silver-heart  > span {background-position: 0 -140px}
.small-hearts > .level.gold-heart,
.small-avatars .avatar.gold-heart  > span {background-position: 0 -160px}

.response-user > .avatar-wrapper > .avatar {width: 40px; height: 40px;}
.response-user > .avatar-wrapper > .avatar > img{width: 40px; height: 40px;}
.response-user > .avatar-wrapper > .avatar > span{right: 8px; top: 29px;}

.private-msg.send-from-stream {top: 95px; background-color: #F0F6FC; border: 1px solid rgba(0, 0, 0, 0.2); box-shadow: 0 1px 3px rgba(42, 83, 110, 0.6); display: none; font-size: 12px; right: -25px; padding: 3px; position: absolute; text-align: right; width: 290px; z-index: 9999}
.private-msg.send-from-stream > form {display: block !important; background:#ffffff; padding: 16px; margin:0}

.private-msg {display:none; position: absolute; top: 70px; right: -25px; width: 290px; background-color: #f0f6fc; padding: 3px; border: 1px solid rgba(0, 0, 0, .2); text-align: right; z-index:999; font-size:12px;
  -moz-box-shadow: 0px 1px 3px rgba(42, 83, 110, .6);
  -webkit-box-shadow: 0px 1px 3px rgba(42, 83, 110, .6);
  box-shadow: 0px 1px 3px rgba(42, 83, 110, .6)
}

.private-msg .origin,
.private-msg .origin span,
.send-from-stream .origin,
.send-from-stream .origin span {border: 10px solid; height: 0; position: absolute; width: 0}
.private-msg .origin,
.send-from-stream .origin {border-color: transparent transparent #ccc; right: 40px; top: -20px}
.private-msg .origin > span,
.send-from-stream .origin > span {border-color: transparent transparent #FAFCFF; right: -10px; top: -8px}
.private-msg .origin > span > span,
.send-from-stream .origin > span > span {border-color: transparent transparent #fff; top: -7px; right: -10px}

.private-msg > form {display: block; background:#ffffff; display: none; padding: 7px 16px 0; margin:0;}
.private-msg > form > textarea,
.send-from-stream > form > textarea {min-width: 234px; width: 234px; max-width: 234px; height:112px; margin-top:0; margin-bottom:8px; padding:10px; font-family:Arial, Sans-serif; font-size:12px; color:#aeb4bd;}
.private-msg-btns{text-align: left}
.private-msg-btns > input{height: 24px; float:none!important; font-family: Arial, Helvetica, sans-serif; font-size: 13px;}
.private-msg-btns > a.cancel{margin-left:8px; color: #404750; font-size:13px;}
.private-msg > .avatar{float:left;}
.form-private-msg > .flash-privacy{margin:0 0 15px 0;}

.user-wrapper {padding: 9px 9px 0; background:#ffffff; overflow: hidden;
  border-top-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-right-radius:3px;
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
}
.private-msg .user-info {float:right; width: 100%}
.user-wrapper .username {float:right; width: 135px; color: #454545; font-size: 18px; font-weight: bold; margin-top: 0; word-wrap: break-word}
.user-wrapper .points-wrapper,
.user-wrapper .light-button, 
.user-wrapper .points-wrapper-small {float:left}
.user-wrapper .points-wrapper-small .points {line-height: 22px}
.user-wrapper .points-wrapper-small {margin:0 0 0 5px; padding: 0 5px; height: 21px}
.user-wrapper .activity-btns {float:left; height: 20px; margin: 0}
.user-wrapper .activity-btns li {float:left; height: 21px}
.user-wrapper .activity-btns li.first {border-left: 0 none}
.user-wrapper .activity-btns li a {text-indent: -9999px; font-size: 0; line-height: 0; display: block}
.user-wrapper .send-private-msg,
.user-wrapper .view-profile {height: 21px; width: 28px;}
.user-wrapper .send-private-msg {background: url("../../images/icn-tooltip-send-msg.png") no-repeat; right: 7px; top: -1px}
.user-wrapper .view-profile {background: url("../../images/icn-tooltip-view-profile.png") no-repeat; right: 7px; top: -1px}

.user-wrapper .user-data .points-wrapper-small {padding: 0; }
.recently-topics {padding-top:28px; background:#ffffff}
form + .recently-topics{padding-top:18px;}
.recently-topics > p{line-height: 1em!important; margin-top: 0px !important; padding:0 15px 10px 0; font-style: italic; color: #a1aab2}
.recently-topics > ul{background: #fafcff; 
  border-bottom-left-radius:3px;
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
}
.recently-topics > ul > li{padding: 9px 16px 7px; border-top: 1px solid #cfdae6; font-size: 12px; font-weight: bold}

.custom > a{text-decoration: none;}

.flash{height: 45px; line-height: 3.3; color: #464646; font-weight: bold; border-bottom: 1px solid #c9c8b1; position: fixed; top: 0; right: 0; width: 100%; z-index: 1001; visibility: hidden; cursor: pointer;
  background-color: #fefadd;
  background-image: -moz-linear-gradient(top, #fefce9, #fefadd);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fefce9),color-stop(1, #fefadd));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefce9', EndColorStr='#fefadd')";
}

.flash > div{padding: 0 25px;}

.flash > div > div{background: url('../../images/icn-close.png') no-repeat 100% 17px;}

.loading{background-image: url('../../images/loading-s-gray.gif'); background-repeat: no-repeat; background-position:100% 50%; padding-right: 26px;}
.legend.loading{padding-left: 26px; background-position:0 50%; padding-right: 0;}
              
.flash-privacy{position: relative; padding-right: 17px; margin-top: 21px;}
.flash-privacy > div{font-family: Arial; font-size: 11px; color: #52503b; padding: 11px 22px; background-color: #fffcd3;  border: 1px solid #f4f0b8; line-height: 1.5; font-weight: bold;}
.exclamation{width: 29px; height: 33px; position: absolute; right: 0; top: 0; background: #fffcd3 url('../../images/exclamation-mark.png') no-repeat 50% 50%;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px; 
}
.icn-cross{width: 7px; height: 7px; float:left; position: absolute; left: 6px; top: 6px; background: url('../../images/icn-cross.png') no-repeat 0 0; cursor: pointer;}

.auth-form-active > .flash-privacy{margin:7px 0 15px 0;}

#pageslide-body-wrap{position: relative; z-index: 0;}
#pageslide-slide-wrap{height: 100%; position: fixed; top: 0; width: 0; z-index: 9999; background-color: #FFF;}                                                                      

#pageslide-blanket{position: absolute; top: 0; right: 0; height: 100%; width: 100%; opacity: 0; background: #000; z-index: 1; display: none;}

#pageslide-iframe {border: none; width: 100%; height: 100%;}
#pageslide-close-bar {position: relative; overflow: hidden; padding: 8px; background-color: #E5E5E5;}
#pageslide-close-bar > a {float:right; margin-right: 5px; padding: 5px; border: 1px solid #4785BF; font-size: 11px; font-family: Arial, Helvetica; text-decoration: none; color: #FFF; background-color: #5998CC; 
  background-image: -moz-linear-gradient(top, #5998CC, #3778B7);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #5998CC),color-stop(1, #3778B7));
  background-image: linear-gradient(top, #5998CC, #3778B7);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;  
}

#pageslide-close-bar > a:first-child {margin-right: 0;}
.bookmarkers {float:left;}
.bookmarkers > a {background-image: url('../../images/icons-command.png'); background-repeat: no-repeat; float:left;}
.share-facebook {background-position:100% -21px; height: 19px; width: 55px; margin:3px 5px 0 0;}
.slide-controls {position: absolute; top: 0; right: 50%; float:right;}
.slide-controls > div {position: relative; top: 8px; right: -50%; float:right;}
.slide-controls > div > a {color: #848484; text-decoration: none; font-size: 14px; font-weight: bold; line-height: 1.8;}
.slide-controls > div > a:first-child {margin-left: 10px;}
.psMessage {margin:5px 5px 0 0; font-size: 11px; color: #848484; float:right;}
#glueButton {position: relative;}

.items > li{background-color: rgba(255, 255, 255, 0.4); padding: 10px; float:right; margin-bottom: 10px;}
.item-data{float:left;}
.item-data > div {color: #898f93}
.item-data > div > a{color:#bdc6cb}
.item-data > p{color:#898f93}
.item-data > p a + a{font-weight:bold}

.header-top .user-logged-info {float:right; text-align: right; width: 350px; margin-top: 11px;}
.header-top .user-logged-info .avatar {
    background: #fff;
    border: 1px solid rgba(59, 64, 67, 0.25);
    float:right;
    height: 42px;
    padding: 3px;
    position: relative;
    width: 42px;
}
.user-logged-info .avatar img {width: 42px; height: 42px}
.user-logged-info .user-data {float:right; margin-right: 10px}
.user-logged-info .user-data b {display: block; overflow: hidden; margin: 2px 0 9px; font-size: 14px; color: #454545}
.user-logged-info .user-data b span {float:right; margin-left: 7px}
.user-logged-info .user-data b .edit-secondary {margin-top: 2px}
.user-logged-info .user-data .points-wrapper-small,
.user-logged-info .user-data ul,
.user-logged-info .user-data .log-out {float:right; margin-left: 5px; height: 20px;}
.user-logged-info .points-wrapper-small > .level,
.user-logged-info .points-wrapper-small > .points {border: none}
.user-logged-info .points-wrapper-small > .points {height: 20px; line-height: 20px; color: #707b8b; font-weight: bold}
.user-logged-info .user-data .log-out {margin-left: 0; color: #8a9199; font-size: 12px; line-height: 19px; padding: 0 8px}
.user-logged-info .user-data .log-out:hover {text-decoration: none}

.user-logged-info .points-wrapper-small {padding: 0 8px}
.user-logged-info .points-wrapper-small > .level {margin-left: 4px}
.activity-btns li {float:right; height: 20px; width: 35px; border-left: 1px solid #cfdae6}
.user-logged-info .activity-btns li:first-child {border-right-width: 0}
.activity-btns li a {text-indent: -999px}
.activity-btns li span {display: block; position: relative}
.activity-btns .activity {width: 14px; height: 17px; right: 11px; top: 1px; background: url("../../images/icn-activity.png") 0 0 no-repeat}
.activity-btns .messages {width: 15px; height: 11px; right: 10px; top: 4px; background: url("../../images/icn-messages-2.png") 0 0 no-repeat}
.activity-btns li .new-message-container {color: #fff; background-color: #2E8AE5; border: 1px solid #2D88E3; font-size: 12px; padding: 0 4px; display: inherit; left: -21px; top: -22px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); font-weight: bold;
     -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 1px rgba(255, 255, 255, 0.7) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset;
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 1px rgba(255, 255, 255, 0.7) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 1px rgba(255, 255, 255, 0.7) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#40b9ef), to(#2e8ae5));
    background-image: -webkit-linear-gradient(top, #40b9ef, #2e8ae5);
    background-image:    -moz-linear-gradient(top, #40b9ef, #2e8ae5);
    background-image:     -ms-linear-gradient(top, #40b9ef, #2e8ae5);
    background-image:      -o-linear-gradient(top, #40b9ef, #2e8ae5);
    background-image:         linear-gradient(top, #40b9ef, #2e8ae5);
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#40b9ef', EndColorStr='#2e8ae5')";
}
.activity-btns a:hover {text-decoration: none}
.points-wrapper-small {border: 1px solid; border-color: #cfdae6 #c8d4e1 #a0b0c0 #c8d4e1}

.follow-topic-wrapper {float:right}
.follow-topic-wrapper .secondary-button {padding: 4px 10px 0; height: 17px; font-size: 12px; display: block}

.edit-secondary {width: 13px; height: 14px; overflow: hidden; text-indent: -999; font-size: 0; line-height: 0; background: url("../../images/icn-pencil-2.png") 0 0 no-repeat; float:right}
.edit-secondary:hover {text-decoration: none; background-position: -14px 0}

.panel-sub-nav {width: 140px; margin-left: 800px; position: fixed; z-index: 99}
.panel-sub-nav .sub-nav > li > a {color: #394551; text-sahdow: 0 1px 0 rgba(255, 255, 255, .35); display: block; height: 30px; line-height: 30px; text-shadow: 0 1px 0 rgba(255, 255, 255, .2);}
.panel-sub-nav .sub-nav > li > a > .badge {
  color: #fff; background-color: #61738b; background-color: rgba(0, 0, 0, .3); font-size: 12px; line-height: 15px; margin:7px 0 0 6px; float:left; font-weight: bold; padding: 1px 5px; text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
       -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.8) inset;
       -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.8) inset;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.8) inset;
}
.panel-sub-nav .sub-nav > li a:hover {text-decoration: none; color: #fff; text-shadow: 0 1px 1px rgba(0, 0, 0, .75);} 
.panel-sub-nav .sub-nav > .active a:hover {text-decoration: none} 

.panel-sub-nav .sub-nav > li > a > .icon {background: url("../../images/logged-in-nav-icons.png") 0 0; width: 30px; height: 30px; display: block; float:right; margin:0 3px 0 2px}
.panel-sub-nav .sub-nav a.stream > .icon {background-position:100% 0}
.panel-sub-nav .sub-nav > .active a.stream > .icon {background-position: -30px 0}
.panel-sub-nav .sub-nav a.messages > .icon {background-position: 0 -30px}
.panel-sub-nav .sub-nav > .active a.messages > .icon {background-position: -30px -30px}
.panel-sub-nav .sub-nav a.my-topics > .icon {background-position: 0 -60px}
.panel-sub-nav .sub-nav > .active a.my-topics > .icon {background-position: -30px -60px}

.panel-sub-nav .sub-nav > .active {background-color: rgba(57, 69, 81, .4); border-top: 0; border-bottom: 0 none;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .3);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .3);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .3);
}
.panel-sub-nav .sub-nav > .active > a {color: #fff; text-shadow: 0 1px 1px rgba(0, 0, 0, .75); font-weight: bold}
.panel-sub-nav .sub-nav li {border-top: 1px solid rgba(255, 255, 255, .2); border-bottom: 1px solid rgba(0, 0, 0, .2)}
.panel-sub-nav .sub-nav li:first-child {border-top: 0 none}
.panel-sub-nav .sub-nav li:last-child,
.panel-sub-nav .sub-nav li .last-child {border-bottom: 0 none}

.header-title-bg {background-color: #FCFCFC; border-bottom: 1px solid #DBDFE3; height: 25px; padding: 15px 20px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eceff3), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #eceff3, #f9f9f9);
  background-image:    -moz-linear-gradient(top, #eceff3, #f9f9f9);
  background-image:     -ms-linear-gradient(top, #eceff3, #f9f9f9);
  background-image:      -o-linear-gradient(top, #eceff3, #f9f9f9);
  background-image:         linear-gradient(top, #eceff3, #f9f9f9);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eceff3', EndColorStr='#f9f9f9')";
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset
}
