body {background-image:url("../../images/bg-noise-topic.jpg")}
body > div {background:url("../../images/topic-bg.jpg") repeat-x fixed 0 105px transparent}
section.topics{background:white url('../../images/bg-gradient2.png') repeat-x 0 0;margin-top:13px;border-top-right-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.order{height:30px;padding:15px 25px 0 0;color:#9da2a8;}
.order a{padding-right:5px;color:#9da2a8;}
.order .active {color:#6c6f71;font-weight:bold;}
.items{padding:0 25px 14px;}
.items > div {line-height:19px;background:url("../../images/border-topics.gif") no-repeat 0 bottom transparent}
.items > div > div {width:430px;padding:25px 0;float:right}
.items > div > div + div{padding-right:50px;}
.items > div > div.bottom{border:none;padding:0;}
.item-img > img {border:2px solid #FFFFFF;float:right}
.item-img {border:1px solid #dadee0;float:right}
.item-data {float:right;width:340px;padding-right:15px;font-size:12px}
.item-data .dark-lk {color:#5D646A;font-weight:bold;font-size:14px;}
.item-data, .item-data > div, .item-data > a, .item-data > div > span, .item-data > div > span > a {color:#898F93}
.item-data > div > span {display:block}
.tags{margin:0}
