<%= content_tag :li, :class => ('active' if current_user.profile.avatar == avatar) do %>
  <span class="avatar">
    <%= link_to image_tag(avatar.url, :width => "56"), '#', :class => 'set-avatar-id', :'data-id' => avatar.id %>
  </span>
  <img src="/images/checkmark.png" class="checkmark" />
<% end %>
