<li>
  <div class="thumb">
    <%= link_to(
      image_tag(avatar.url, :width => "55"),
      set_avatar_user_path(:avatar_id => avatar.id), 
      :remote => true, :format => 'js', :method => :post) 
    %>
    <% if current_user.profile.avatar == avatar %>
      <img src="/images/checkmark.png" class="checkmark">
    <% end %>
  </div>
</li>
