<html>
  <head></head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <center>
      <table width="100%" height="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="min-width:660px;">
        <tbody>
          <tr>
            <td background="http://ahwaa-notifier-mailer.s3.amazonaws.com/_global/bg-ahwaa-email-template.jpg" align="center" valign="top" style="background-image:url('http://freshout.us/_n/ahwaa/mail/assets/bg-ahwaa-email-template.jpg'); background-repeat:repeat-x; background-position:top center; background-color:#fcfcfc;">

              <table width="620" align="center" border="0" cellspacing="0" cellpadding="0" style="display:block; width:620px;">
                <tbody>
                  <tr>
                    <td valign="top">
                      <a href="http://ahwaa.org/" title="Ahwaa" style="display:block; padding-top:57px; padding-left:0; padding-right:0; padding-bottom:0;">
                        <img src="http://ahwaa-notifier-mailer.s3.amazonaws.com/_global/logo-ahwaa.png" alt="AHWAA" />
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <%= yield %>

              <table width="620" align="center" border="0" cellspacing="0" cellpadding="0" style="display:block; width:620px;">
                <tbody>
                  <tr>
                    <td valign="top">
                      <div style="padding-top:30px; padding-left:0; padding-right:0; padding-bottom:0;">
                        <div style="background-color:#e6ecf2; height:1px; border:0; padding:0; margin:0;"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top">
                      <div style="font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:12px; line-height:17px; color:#666c71; margin:0; padding-top:25px; padding-left:0; padding-right:0; padding-bottom:25px;">
                        <% if defined?(@reply) && defined?(@user) %>
                          If you do not want to receive emails when someone respond to your comments, you can <%= link_to 'unsubscribe', unsubscribe_subscription_url(@user.subscription_for(@reply.topic).hash_key), :style => "font-weight:bold; color:#3171b1; text-decoration:none;" %>
                        <% elsif defined?(@reply) %>
                          If you do not want to receive emails when someone respond to your comments, you can <%= link_to 'unsubscribe', unsubscribe_author_subscription_url(@reply.topic.author_subscription), :style => "font-weight:bold; color:#3171b1; text-decoration:none;" %>
                        <% end %>
                        To manage other notifications, visit your <%= link_to 'account settings', user_url, :title => "Account Settings", :style => "font-weight:bold; color:#3171b1; text-decoration:none;" %>.
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

            </td>
          </tr>
        </tbody>
      </table>
    </center>
  </body>
</html>
